[2012-06-28 22:50] TimGS opened #1 "Change password hash to a salted SHA1"
Also leave code structure in place for blowfish

[2012-06-28 22:51] TimGS opened #2 "Updated manager"
Eliminate mootools for jquery
Drag and Drop re-ordering
Eliminate Frames (?? long term ??)

[2012-06-28 22:52] TimGS opened #3 "Multilanguage"

[2012-06-28 22:52] TimGS opened #4 "Version control"

[2012-06-28 23:57] TimGS opened #5 "convert mail() to phpmailer and have phpmailer options in config"

[2012-07-04 14:25] TimGS opened #6 "Remove need for assets/templates/manager."

[2012-07-04 16:45] TimGS opened #7 "Global for cms name"

[2012-07-07 16:49] #6 closed, assigned to TimGS

[2012-07-07 16:49] TimGS commented on #6
Mostly moved to manager/media/styles/{theme}/html/

[2012-07-17 09:41] #7 closed, assigned to TimGS

[2012-07-17 09:42] TimGS opened #8 "Language files - alter MODx to Clipper"

[2012-07-17 19:51] #1 closed, assigned to TimGS

[2012-07-25 13:17] TimGS opened #9 "snippet translation table"

[2012-07-27 14:28] TimGS opened #10 "Warning on welcome page if php silent errors is off."

[2012-07-31 12:27] AgelxNash opened #11 "Short of calling the event OnManagerChangePassword"
The file is missing _/manager/processors/save_password.processor.php_ event call **OnManagerChangePassword**
<code>
$modx->invokeEvent("OnManagerChangePassword", array (
"userid" => $id,
"username" => $newusername,
"userpassword" => $newpassword
));
</code>
For example: _/manager/processors/save_user.processor.php_

[2012-07-31 12:39] AgelxNash opened #12 "Sending variables to invokeEvent the link"
Adding to the challenges of a symbolic link & it will be possible to modify the plugin variables. thus transformed on the fly application logic. Backwards compatibility is retained.

[2012-07-31 19:44] #10 closed, assigned to TimGS

[2012-08-02 19:30] AgelxNash opened #13 "TV type URL & puncode (IDN)"
When filling out the field TV type setting is converted to the URL malformed domain written by puncode (IDN http://en.wikipedia.org/wiki/Internationalized_domain_name) Thus, http://xn-----clcboul6alffc1ek8f.xn--p1ai obtained http://xn-clcboul6alffc1ek8f.xnp1ai

[2012-08-02 19:39] AgelxNash opened #14 "Homonyms in the roles of managers"
![Homonyms in the roles of managers](http://agel-nash.ru/img/modx-manager-roles.png)

[2012-08-02 19:43] AgelxNash opened #15 "Identical names in web & manager user group"
If you try to create a group of users (whether web or manager) of the same name appears on the screen parser error

[2012-08-04 16:37] yama commented on #15
![pict](http://kura2.photozou.jp/pub/550/280550/photo/146735896_org.v1344097924.png)
This point?

https://github.com/modxcms-jp/evolution-jp/commit/5737b612591a9f677684234a28d46e675990d159
I send this code to ClipperCMS, later...

[2012-08-04 16:56] yama commented on #14
https://github.com/modxcms-jp/evolution-jp/commit/97a6fed783c4986c8b0bbf29cce4da8f5efaffee

[2012-08-04 17:17] yama commented on #13
https://github.com/takezoh/php-PunycodeEncoder
This is OK?

[2012-08-04 17:56] AgelxNash commented on #13
I use another library https://gist.github.com/3259022

[2012-08-04 17:57] AgelxNash commented on #14
good

[2012-08-04 17:59] AgelxNash commented on #15
Yes. It was about this error and I was saying.

[2012-08-04 18:05] yama commented on #13
Thanks info.

[2012-08-04 18:07] AgelxNash opened #16 "Insert & insert ignore"
Need to finalize [DBAPI::insert](https://github.com/ClipperCMS/ClipperCMS/blob/master/manager/includes/extenders/dbapi.mysql.class.inc.php#L211) for when you want to query the form INSERT IGNORE. On some projects, irrational use of a sequence of queries
<code>$q=$modx->db->select();
if($modx->db->getRecordCount($q));
$modx->db->insert();</code>
to prevent errors modx parser.

[2012-08-04 20:37] TimGS commented on #16
How about DBAPI::replace instead?

[2012-08-04 21:04] TimGS commented on #15
I've temporarily used INSERT IGNORE. This will have to change if non-MYSQL RBDMS are to be supported but will suffice for the moment.

[2012-08-04 21:04] #15 closed, assigned to nobody

[2012-08-04 21:19] TimGS commented on #16
See https://github.com/ClipperCMS/ClipperCMS/commits/DBAPI (as yet untested)

[2012-08-05 04:47] yama commented on #13
![pict](http://kura2.photozou.jp/pub/550/280550/photo/146807002_org.v1344141829.png)

Sample image

[2012-08-05 05:58] AgelxNash commented on #13
And if you want to insert a normal url, then it is converted to a widget punycode? A more logical to finish the old method of preserving backward compatibility.

[2012-08-07 04:46] AgelxNash commented on #16
Good

[2012-08-09 11:04] fourroses666 opened #18 "Quick way to go to css file"
Is there a way to go to the css directly?
It takes many clicks to get there and would like to see some shortcut.

Perhaps somewhere in config u can direct to the file and when u are on the Filemanager there i a direct shortcut to it?
popup or not.

[2012-08-09 11:47] AgelxNash commented on #18
Create a new document with the following parameters contentType = text/css
Replace the path to the CSS file in the [~ID_DOCUMENT~]

Or am I not understand you?

[2012-08-09 15:34] fourroses666 commented on #18
Let me try to explain :)

While I'm building a website I change my CSS file allot. To get there, and want to change (for example) my body fontsize, I have to click on Elements > Manage Files > assets / templates / mymap / css / file.css
That are a lot of clicks.

Wouldn't it be better if its possible to add a link on the Manage Files "rootpage" where u directly go to the css page.  That direct lin

[2012-08-09 16:30] TimGS commented on #18
The trouble with this is that is one specific solution for one way of working. I'm not convinced it would have widespread use.

My prefered way of working is to develop on a local machine. I have a text editor open with the css/js/whatever files I'm working on. There is no need for access via the CMS. Another way I sometimes work is on a remote machine with SSH access - in which case I have a term

[2012-08-09 16:30] #18 closed, assigned to nobody

[2012-08-10 05:11] nick0 opened #19 "resource numbers: hiding docid numbers in lhs tree [originally included resetting numbers]"
Hi Tim and Co,

I am so excited to see this development!

As a feature request:

a. The ability for admin users to reset resource numbers would be nice (eg in the instance where lots of pages have been deleted): I like using a master 'evo (soon to be clipper)' site when developing a new project to be more efficient. Once a new site is close to finished, I would love to be able to reset the documen

[2012-08-10 09:17] TimGS commented on #19
Hi,

(a) First question is why? It does have the potential to break all but the simplest sites. Most of the sites I've built in Evo, I wouldn't want to even have the facility to do this. If a client managed to do it (even if they normally have an 'Editor' role, most clients also need an admin id - once you sign off the site they will need this to give to any other future developer) then they would

[2012-08-10 09:36] nick0 commented on #19
Hi Tim,

a) Probably for neatness I guess. I have many demo pages etc numbering into the low one hundreds in my demo site it would be a nice feature to roll back the numbers. Clients breaking is not an issue, they don’t access configuration settings. I am not a coder so have no idea how to do that as an extra.

b) no worries thanks Tim. Implementing b) would probably overcome my need for a) so the

[2012-08-10 09:47] TimGS commented on #19
OK. Issue assigned to milestone 1.2.

[2012-08-10 12:58] microcipcip commented on #19
Sometimes when I build complex websites a) is useful because during the test I create lot of resources. It is also quite dangerous though, because if there are hardcoded IDs (very likely) you can break the website.

For b) sometimes you can do this with CSS but obviously it is not a good idea because developer can't see IDs during the development.

[2012-08-10 13:07] TimGS commented on #19
I suggest we add a role permission for this. Admins always get to see the docids, on the assumption that they are either developers or people who won't be confused by numbers ;-), but the default Editor/Publisher roles do not get to see them, as they are probably not developers.

Its a fair point that non-developers have little use for docids. They certainly should have no need to hardcode docids

[2012-08-11 04:08] nick0 commented on #19
excellent, thanks Tim and microcipcip

role permission sounds great.

agreed, doc ids are not an issue for developers / admin users.
If needed, an editor can also easily find a doc id by hovering over a resource in the tree and seeing it in the resource info.

A button above the tree to toggle is also a nice idea (with your off by default and session cookie remembering sugesstions). That would be

[2012-08-11 04:11] nick0 commented on #2
drag and drop re-ordering in the tree would be sensational!

[2012-08-25 13:52] MPerrine opened #20 "Collations problem with accented characters"
When I create a new document, using an accented character in generated alias, I get this message :

`« ClipperCMS Parse Error »
ClipperCMS encountered the following error while attempting to parse the requested resource:
« Execution of a query to the database failed - Illegal mix of collations (latin1_swedish_ci,IMPLICIT) and (utf8_general_ci,COERCIBLE) for operation '=' »
      SQL: SELECT COUNT(

[2012-08-25 13:59] MPerrine commented on #20
Hum... further tests make me think that the problem is from TransAlias.

When I check the box «generate alias auto», I get the error message with collation.

If I uncheck this option, alias is not generated ant the document is saved.

Now, if I desactivate TransAlias, the alias is generated but without the accented characters. For the word «sélection», I get «slection» instead of «selection»

[2012-08-25 17:03] TimGS commented on #20
Which version of MySQL?

[2012-08-25 17:13] TimGS commented on #20
Also post the output of the following SQL:

show variables like 'char%';

show variables like 'collation%';

show full columns from modx_site_content;

You should also check the character set / collations of text/char/varchar fields in your db tables.

"Collation for the database is utf8_general_ci" and "But, in database, I see latin1_swedish_ci as collation." seem contradictory - can you elaborat

[2012-08-25 21:00] AgelxNash commented on #20
**TimGS** correctly told you - you do not select the correct encoding mapping database. But personally, I was concerned about other things. Why the text is not your fault id.

<code>WHERE id <>''</code>

[2012-08-26 10:33] MPerrine commented on #20
MySQL version is 5.5.9

I don't know how to output char% and collation%, what are they ? Where can I find them ?

Collation for text/char/varchar fields is latin1_swedish_ci (this is what I meant in my message with : _in database, I see latin1_swedish_ci as collation_)

Strange think is that when I save a document with accented character in pagetitle, its ok.
The error message only comes when I ge

[2012-08-26 10:46] TimGS commented on #20
Go into your mysql client (or phpmyadmin) and type in the SQL (one at at a time):

show variables like 'char%';

show variables like 'collation%';

show full columns from modx_site_content;

I recommend that if your site is utf-8 (which is wise) you also change your db fields to utf8 (otherwise you cannot use utf8 in your content). If you don't do this you are probably not gaining anything by havi

[2012-08-26 13:18] MPerrine commented on #20
**show variables like 'char%';**
character_set_client    utf8
character_set_connection    utf8
character_set_database  latin1
character_set_filesystem    binary
character_set_results   utf8
character_set_server    latin1
character_set_system    utf8
character_sets_dir  /usr/local/mysql-5.5.9-linux2.6-x86_64/share/chars...

**show variables like 'collation%';**
collation_connection    utf8_general_

[2012-08-26 14:14] TimGS commented on #20
I'll close this issue then.

Note that your char/collation settings are not ideal, but this really isn't the best place to discuss this - the MySQL forums or MySQL documentation will be better and probably more informative. At some point I'll write something myself on character sets, but I won't be saying anything that isn't on the MySQL site anyway.

[2012-08-26 14:14] #20 closed, assigned to nobody

[2012-08-28 12:42] MPerrine opened #21 "setlocale"
As french user, I've always had problem with setlocale. I need to create a plugin, on OnWebPageInit with :

`setlocale (LC_TIME, 'fr_FR.utf8','fra');`

in order to get date in french

Would it be possible to make the language configured in manager, used on every page ?

[2012-08-28 13:15] TimGS commented on #21
Currently there appears to be inconsistent use of setlocale(). It is used in:

assets/snippets/ditto/lang/russian-UTF8.inc.php
assets/snippets/ditto/lang/russian.inc.php
install/lang/russian-UTF8.inc.php
manager/includes/lang/russian-UTF8.inc.php
manager/includes/lang/spanish.inc.php
manager/includes/lang/russian.inc.php

It would be feasible and probably desirable to remove the latter three and h

[2012-08-29 16:48] #9 closed, assigned to TimGS

[2012-08-30 04:21] yama opened #22 "manager/index.php xss issue"
https://github.com/modxcms-jp/evolution-jp/commit/2ed1b0b04d0898314bdec4856316ebca1193d507
Share information.

[2012-08-30 08:45] TimGS commented on #22
Thanks, will update on Clipper.

[2012-08-30 08:45] #22 closed, assigned to nobody

[2012-08-31 23:45] #8 closed, assigned to TimGS

[2012-09-05 11:16] TimGS opened #23 "AjaxSearch to be renamed SiteSearch"

[2012-09-05 13:50] fourroses666 opened #24 "Manager Manager update"
When i check  /assets/plugins/managermanager I see version 0.3.9

ManagerManager 0.3.11-pl is available! :)

[2012-09-05 14:17] TimGS commented on #24
Should have been already fixed last week https://github.com/ClipperCMS/ClipperCMS/commit/7e2add21dae5e203d78e04d72b33ac3f1ea658ea

Do a git pull and check the version again.

thanks,
-- Tim.

[2012-09-05 15:09] fourroses666 commented on #24
I think I was in the wrong branche (1.0.6 instead of Clipper 1.1)

Going to install a version right now for testing.

[2012-09-05 15:11] #24 closed, assigned to nobody

[2012-09-05 16:03] #23 closed, assigned to nobody

[2012-09-05 16:04] TimGS opened #25 "install/ needs skinning - modx logo to be replaced"

[2012-09-05 16:10] TimGS opened #26 "Ditto calls (cached and uncached) not being parsed after upgrading"
Note: [[UltimateParent]] and [[Wayfinder...]] on the same site works. Presumably this is related to DocumentParser::snippetMap.

[2012-09-05 16:41] #26 closed, assigned to TimGS

[2012-09-05 23:29] nick0 commented on #26
I am not sure if this is what you are referring to Tim...

...but having to cache a ditto call on an uncached page for ditto pagination to work is annoying. it should just work cached or uncached on a cached (or if required an uncached) page.

[2012-09-05 23:36] nick0 opened #27 "changing a page from rich text to non rich text and vice versa - on click would be nice"
When changing a resource's setting from rich text to non rich text, it would be nice for the content area wysiwyg to change on click - rather than having to save and close and then reopen the resource to access the non rich text content area.

And vice versa from non rich text to rich text.

[2012-09-05 23:41] nick0 opened #28 "AjaxSearch Minimum characters"
I would love an AjaxSearch Minimum characters default of 2 instead of 3.

I have built a number of sites where valid search terms were 2 characters (eg SA, NT, KI etc) .

To change the min characters from 3 to 2, a couple of php files need to be "edited" which makes it trickier to keep track of during upgrades:
- "classes / ajaxSearch.class.inc.php"
- "configs / default.config.php"
  (not sure why

[2012-09-05 23:51] nick0 opened #29 "Wayfinder class="last" added even if only one item exists"
This is probably in the latest version of Wayfinder, but I would love to see class="last" added when only one item exists - so we don't need to "hack" the original php file.

Its come in handy in a few projects for styling the menus.
eg
- link 1
- link 2
- Item 2.1  (class = last is useful here for css)
- link 3
- Item 3.1
- Item 3.2
- Item 3.3
  etc

I found this in the forums years ago - changin

[2012-09-05 23:54] nick0 opened #30 "Wayfinder odd and even classes would be nice"
I remember hearing about this in one of the beta releases but it's not in the 1.0.6 release

[2012-09-06 00:06] nick0 opened #31 "Option Dependent TVs: show / hide some template variables depending on the value of another template variable"
Say you have a slideshow on the home page:
- Each slide in the slideshow contains a banner image, some text and a link.
  (taken from 3 separate template variables on a particular template)
- Ditto is used to include slides in the slideshow, using a filter.
- To add a page to the slideshow, you need to click the "add to slideshow" checkbox.
- Rather than an end user seeing all 4 slideshow template

[2012-09-06 03:12] AgelxNash commented on #31
minChars parameter and so present in AjaxSearch http://rtfm.modx.com/display/ADDON/AjaxSearch

[2012-09-06 03:18] nick0 commented on #31
Thanks - you replied in the wrong post..

I know the &minChars call.

But try using it for &minChars=2 at the moment without hacking those 2 files, I have never been able to get it to work without editing those 2 files.

[2012-09-06 09:36] TimGS commented on #26
No, thats not the same issue. The above posted issue - only relevant for Clipper 1.1 is solved.

Can you verify that the Ditto pagination issue still exists on Clipper 1.1.develop, and if so post a new issue.

Thanks.

[2012-09-06 09:40] TimGS commented on #29
Changing the behaviour of the 'last' class would break existing sites.

One viable possibility is to have an 'only' class for when one item exists.

[2012-09-06 10:11] fourroses666 opened #32 "jQuery missing (QuickManager blank field)"
Just installed a demo with clipper 1.1 dev and noticed front-editor is blank  (#edit QuickManager)

[2012-09-06 10:25] TimGS commented on #32
Do you mean QuickManager?

[2012-09-06 10:27] TimGS commented on #32
If so, can you verify if
a) It is installed under Elements->Plugins
b) Is it enabled
c) Are the other plugins installed e.g. ManagerManager should be there as version 0.3.11 and enabled.

[2012-09-06 10:31] TimGS commented on #31
New feature proposals should now be discussed at http://www.clippercms.com/forum/feature-requests/

I _personally_ think this would be better as an Extra as I would query how widespread its application would be.

However do bring this up on the forum at the above location and see what others say. In the meantime I will close the issue.

[2012-09-06 10:31] #31 closed, assigned to nobody

[2012-09-06 10:37] TimGS commented on #30
In general, new feature proposals should now be discussed at http://www.clippercms.com/forum/feature-requests/

However given that this is more of a tweak than a new feature, we would probably accept a secure and functional patch from a community member subject to it following our coding guide.

In the meantime you could use &rowClass and in your CSS use .row1, .row3, .ro5 (etc).

[2012-09-06 10:42] TimGS commented on #28
I haven't use AjaxSearch for a long time as I have my own alternative, but surely &minChars should work.

Can you also document where the edits to those files have to be made. Much as we like puzzles, we also have limited time ;-)

Do these edits force &minChars to 2 or are they a full fix so that &minChars still defaults to 3 but can be changed to 2 via &minChars?

If you have - as appears to be

[2012-09-06 12:42] fourroses666 commented on #32
Yes, QuickManager I mean.

When I want to edit the page there comes a popup, but its blank.
The blank page (iframe) URL: http://domain.nl/manager/index.php?a=27&id=1&quickmanager=1

Quick Manager+ 1.5.5 is installed under Plugins and active
ManagerManager 0.3.11 is installed and active

(if u want to take a visual look i can give you login)

[2012-09-06 13:28] TimGS commented on #32
It's a jQuery issue, compounded by ManagerManager 0.3.11 defaulting to jQuery 1.7.1 but not supplying that file.

One solution is to standardise both plugins (and any others) with the jQuery file being assets/js/jquery.min.js (no version number). This does have pitfalls, but as long as we provide both plugins with the ability to override this then I think it is the lesser of all evils.

-- Tim.

[2012-09-06 14:05] fourroses666 commented on #32
I dunno exactly what u mean by "not supplying".
If it's being loaded 2x and conflicting or missing.

Standardising sound oké with me.

[2012-09-06 14:13] TimGS commented on #32
ManagerManager (by default) expects jquery 1.7.1 in assets/js, but it isn't there.

[2012-09-06 19:58] Coroico commented on #28
Hi Guys, AjaxSearch is still maintened by myself. So I could provide a version 1.9.3 with some fixes and the 2 chars minimum length feature.

[2012-09-06 20:39] TimGS commented on #28
@Coroico - that would certainly be appreciated. Thanks!

[2012-09-06 21:41] fourroses666 commented on #32
ah ok, i dunno whats the best way to solve this. Should work after clean install.

[2012-09-06 23:00] TimGS commented on #32
I'll make a common jquery file for ManagerManager and QuickManager.

You may well find that putting jQuery 1.7.1 in assets/js is a workaround.

[2012-09-07 01:29] nick0 commented on #28
@TimGS - I think the hack that I was doing forced &minChars to 2 - but enabled &minChars=3 to work when specified in the call and work as expected. Without that hack, &minChars=2 never worked in the snippet call.

My thinking is that the default can remain at 3 but that &minChars=2 should work when specified in the snippet call. Alas I am not a coder and have no idea how to submit a patch.

@Coroi

[2012-09-07 01:50] nick0 commented on #30
Ok Thanks Tim, posted in the forum

[2012-09-07 02:00] nick0 commented on #29
Possibly but I don't see how it would break sites if last is used for the closing li item in longer lists. That's should be an easy css tweak regardless.

I read that this issue was fixed in beta releases of Wayfinder but they never made it into 2.0.1.

An only class is a good workaround.

[2012-09-07 02:19] nick0 commented on #31
Ok thanks Tim. Posted in the forum

[2012-09-07 02:21] nick0 commented on #26
ok sure thing Tim, I will do some testing of clipper

[2012-09-07 08:57] TimGS commented on #29
If existing CSS assumes that a one-item menu does not have the last class, it _may_ break.

[2012-09-07 09:54] fourroses666 commented on #32
Just to pinpoint something i wrote on a other pull.

WebLoginPE using the assets/js/jQuery 1.7.1.js or was planning to do so?
<em>elegant mind issue 84 ?!</em>

[2012-09-07 10:08] TimGS commented on #32
Indeed!

I think we need a $modx->loadJquery() method in the API. If a script needs jQuery it calls this. Multiple calls by multiple scripts have the same effect as one call, and the danger of loading multiple jquery versions is removed.

[2012-09-07 11:47] fourroses666 commented on #32
That will be a nice solution!

[2012-09-07 16:22] MPerrine opened #33 "Error when saving a new manager user"
I get an error with sql syntax when adding a new manager user

I needed to change li 156 of manager/processors/save_user.processor.php in order I create a new manager user to

`$sql = 'INSERT INTO '.$dbase.'.`'.$table_prefix.'manager_users` (username, hashtype, salt, password)`

instead of

`$sql = 'INSERT INTO '.$dbase.'`'.$table_prefix.'manager_users` (username, hashtype, salt, password)`

(note

[2012-09-07 16:31] TimGS commented on #33
Oddly enough I couldn't get an SQL error, but I completely agree that the SQL should be changed as you suggest.

Fixed and commited to 1.1.develop.

thanks,
Tim.

[2012-09-07 16:31] #33 closed, assigned to nobody

[2012-09-10 16:01] TimGS opened #35 "Improve description of new PHP error handling config variables."

[2012-09-15 19:35] TimGS commented on #32
The following have been added to the API:

$modx->regClientJquery()
$modx->regClientJqueryPlugin($plugin_name, $plugin_file, $plugin_version = 0, $use_plugin_dir = true)

Testing required!

[2012-09-15 19:45] #35 closed, assigned to TimGS

[2012-09-16 15:01] microcipcip opened #36 "TinyMCE - Use modern skin"
What about configuring TinyMCE to use the modern skin o2k7, silver variant?

skin : "o2k7",
skin_variant : "silver"

[2012-09-16 15:33] fourroses666 commented on #32
sorry i have a fever

[2012-09-16 17:17] TimGS commented on #36
I think the TinyMCE plugin needs updating at some point to use the latest TinyMCE.

Shall we assign both related issues to 1.2?

[2012-09-18 16:22] bossloper commented on #32
Just been testing this out and looks good.

Though if logged in as a manager and using QM+ then it still has two calls in the header.

Looks like the QM+ call uses getJqueryTag which is not checking against regClientJquery ?

[2012-09-18 16:32] bossloper commented on #36
FYI,

I've updated to TinyMCE 3.4.9 ok on some of my sites.

But if I go to TinyMCE  3.5.x (which has had significant rework I believe) then it mostly works ok but causes issues with the styles and paragraph dropdown and iframe with Internet Explorer / Chrome.

See this post on ModX forum: http://forums.modx.com/thread/75609/tinymce-3-5b3-and-new-windows

[2012-09-18 16:33] TimGS commented on #36
Thanks. That info looks like it will save us some time.

[2012-09-18 16:58] TimGS commented on #32
@uxello Can you post the <head> source? Can you also post the QM plugin configuration string? Thanks.

I have just committed an update, but I suspect it doesn't relate to this bug

[2012-09-19 07:21] bossloper commented on #32
I added a very simple snippet to the resource content of my test page to
ensure only included once:

<?php
$modx->regClientJquery();
$modx->regClientJquery();
$modx->regClientJquery();
?>

The QM plugin configuration string. This was a clean install and I left all
as default, though there is an odd 'undefined' at the start:

&1=undefined;; &loadmanagerjq=Load jQuery in manager;list;true,false;fals

[2012-09-19 07:42] bossloper opened #37 "Datepicker not displaying with IE9"
This seems only to be an IE9 issue. If clicking the Publish date or un-publish date fields for any page then the datepicker does not display, only a thin blue line.

I have a simple workaround. Change line 70 of the manager index.php from:

header("X-UA-Compatible: IE=edge;FF=3;OtherUA=4");

to

header("X-UA-Compatible: IE=IE8;FF=3;OtherUA=4");

...but it does not address whatever the root cause i

[2012-09-19 10:39] TimGS opened #38 "Remove MODx derived feeds from manager"
Includes Security notices and News, which are now mainly Revo based anyway.

We probably should just have one 'News' feed from clippercms.org.

[2012-09-25 05:01] TimGS commented on #32
I have checked on a clean install and all appears fine. Please repost if this issue appears again.

I have also fixed the &1=undefined issue.

thanks,
Tim.

[2012-09-25 05:01] #32 closed, assigned to TimGS

[2012-09-25 05:35] TimGS commented on #36
TinyMCE updated to 3.4.9 and new skin selected.

[2012-09-25 05:35] #36 closed, assigned to nobody

[2012-09-25 14:48] Cipa opened #41 "Quick manager is missing some files"
Hi,

Seems like some files needed for QM are missing

here are the paths
asstes/js/images/controls.png
asstes/js/images/border.png
asstes/js/images/loading_background.png
asstes/js/images/ajax-loader.png

Maybe they should be placed in the QM plugin folder

[2012-09-25 14:55] TimGS commented on #41
Possibly not - are they colorbox (jquery plugin) files?

[2012-09-25 14:57] Cipa commented on #41
Yes, I think so, Qm is using ColorBox

On Tue, Sep 25, 2012 at 10:55 AM, TimGS notifications@github.com wrote:

[2012-09-25 15:00] TimGS commented on #37
Workaround used as a temporary fix.

Mootools is likely to be dropped in favour of jQuery, so there is little point in us upgrading (which with mootools is not a straightforward process).

thanks,
Tim.

[2012-09-26 09:47] TimGS commented on #41
Fixed.

I'd previously moved colorbox.css into the generic assets/js folder, assuming it was an entirely generic colorbox file. I've now moved it back to the qm folder, where it's images are.

Its not really a pure colorbox CSS file - it appears to be a slightly changed CSS file from one of the colorbox examples in the current colorbox download.

[2012-09-26 09:47] #41 closed, assigned to nobody

[2012-09-26 11:56] TimGS commented on #28
Closed. Opening a new issue to upgrade AjaxSearch to 1.9.3 for ClipperCMS 1.1.

[2012-09-26 11:56] #28 closed, assigned to nobody

[2012-09-26 11:57] TimGS opened #49 "Upgrade AjaxSearch to 1.9.3"

[2012-09-26 12:11] TimGS opened #50 "login processor rewrite."
Needs revising to be able to use the DBAPI.

Currently is the only file in processors (apart from the two class files) that is accessed directly and not via manager/index.php. This probably needs revising as it is likely to cause other problems in addition to the DBAPI issue.

[2012-09-26 19:32] Cipa opened #51 "Duplicate a resource - empty TVs"
Hi,

seems like when I try to duplicate a resource all the TVs are empty. Any ideas?

[2012-09-27 01:10] TimGS commented on #51
Fixed. A silly bug in the new insert functionality in the DBAPI.

https://github.com/ClipperCMS/ClipperCMS/commit/3c01c99aaa78b75e642144fd034995f90c2421e7

[2012-09-27 01:10] #51 closed, assigned to nobody

[2012-09-27 02:04] Cipa commented on #51
I don't get it. Why it was doing that?

Thanks

On Wed, Sep 26, 2012 at 9:10 PM, TimGS notifications@github.com wrote:

[2012-09-27 10:04] TimGS commented on #51
Too much copying and pasting!

See the commit. The optional parameters where never being passed to __insert().

[2012-09-27 12:38] Cipa commented on #51
I get it now. It was the beer :)

On Thu, Sep 27, 2012 at 6:04 AM, TimGS notifications@github.com wrote:

[2012-09-27 13:00] microcipcip commented on #51
http://xkcd.com/323/

[2012-09-27 13:06] Cipa commented on #51
:)

On Thu, Sep 27, 2012 at 9:00 AM, Salvatore Tedde
notifications@github.comwrote:

[2012-09-27 16:57] #38 closed, assigned to nobody

[2012-09-29 19:11] #49 closed, assigned to TimGS

[2012-10-03 14:34] #25 closed, assigned to microcipcip

[2012-10-03 19:17] TimGS commented on #30
In addition to the above workaround, there are Javascript solutions for ie7 and ie8 (which do not support CSS n'th child); see Google.

I'm marking this as wont fix, but only because it's not a priority for the core team. However I don't think anyone would object to a community submitted patch for this.

-- Tim.

[2012-10-03 19:17] #30 closed, assigned to nobody

[2012-10-03 19:36] TimGS commented on #29
One possibility is to add a parameter e.g. &lastOnUnique, that defaults to zero for backwards compatability.

If &lastOnUnique is 1, then Wayfinder would set the 'last' class on one-item lists.

Note also that CSS :last-child exists, but javascript workarounds are required for IE7 and IE8.

[2012-10-03 19:40] Cipa commented on #29
I honestly don't see why waste time on this. IE8 is down to 25% so we can safely assume that in 1 year everyone will use css selectors.

If you are required to support IE9 and below I'm sure you will have some JS in the code but I might be wrong

[2012-10-03 19:49] TimGS commented on #29
@Cipa I'm inclined to agree, and I don't intend implementing this myself, though I suspect you are being a bit optimistic about IE8's decline and I don't think JS is always or even usually needed to fix IE <=8.

If a community member wants to submit a patch, should we accept it? The only case against would be code bloat, but I don't honestly think this will have more than a negligible effect.

[2012-10-03 19:58] Cipa commented on #29
I don't see why not accept a patch if it helps some users.

[2012-10-03 20:02] TimGS commented on #29
Agreed. I'll close the issue as the core team are not going to implement this, but if someone else wants to submit a patch that is bug free and secure, we'll accept it.

[2012-10-03 20:02] #29 closed, assigned to nobody

[2012-10-03 20:07] #16 closed, assigned to nobody

[2012-10-06 13:04] TimGS opened #53 "Spaces in uploaded filenames cause problems"
See https://github.com/Eoler/evolution/commit/cd5604a12c323fddc6e0b773dae589695cf396e2#commitcomment-1956677

[2012-10-06 14:13] TimGS opened #54 "Deprecated functions option to default to logging only"

[2012-10-08 19:25] TimGS opened #55 "Alternative ManagerManager install chunks"

[2012-10-08 20:38] #54 closed, assigned to TimGS

[2012-10-10 16:09] fourroses666 opened #57 "Database coalition utf-8"
I don't know much about it but when i want to use Russian or Chinese / Japanese text the database coalition needs to be utf-8.

Somehow on every install it is latin1_swedish_ci even when i don't pick that on install.

Lately i had to change them all by hand, I dunno if it is something that can be changed but i think it always needs to be utf-8 global or something?

[2012-10-10 16:15] TimGS commented on #57
Easiest short term workaround is to always create your database with a default UTF-8 collation (which arguably isn't a workaround as it's what should be done anyway if you are using UTF-8). Use the following SQL:

CREATE DATABASE fourroses_modx CHARACTER SET utf8 COLLATE utf8_general_ci

That aside, I'll look into what we can do in the install script for 1.2.

-- Tim.

[2012-10-10 18:31] fourroses666 commented on #57
Oke sounds good with me Tim.

---

Never play arround with SQL, just did try your sql line into phpmyadmin.
I get a #1044 - Access denied for user... so guess i don't have root privileges.

Are there any workarounds you know of? I always make my db with direct admin.

[2012-10-10 19:40] TimGS commented on #57
http://www.clippercms.com/docs/installation

[2012-10-10 21:40] fourroses666 commented on #57
Indeed, looks like this works, it didn't gave any permission problem on the shared hosting db:

ALTER DATABASE my_dbnamehere CHARACTER SET utf8 COLLATE utf8_general_ci;
- haven't installed any cms on it yet.

[2012-10-11 09:13] fourroses666 commented on #57
Maybe this helps?

http://wiki.modxcms.com/index.php/De:MODx_f%C3%BCr_den_Betrieb_unter_UTF-8_einrichten

(it's german)

[2012-10-11 09:36] bossloper opened #58 "FCKeditor Resource Browser and IE10"
Running IE10 under technet Windows 8 evaluation version.

The FCKeditor is not showing any files or folders unless the IE10 'compatibility view' icon is clicked.

A fix is to add:

 <meta http-equiv="X-UA-Compatible" content="IE=8;FF=4;OtherUA=4" />

to the manager/media/browser/mcpuk/browser.html file. This also make it consistent with the fix added to the manager index.php file recently.

[2012-10-11 10:43] TimGS commented on #58
Line added. Can you test?

[2012-10-11 11:25] bossloper commented on #58
Tested.... failed because I made a mistake, sorry.
The line needs adding to the 'inc' file, not the 'html' file: manager/media/browser/mcpuk/browser.html.inc

I am not sure if/when the browser.html file is used? Maybe the line needs to stay there too.

[2012-10-11 11:31] TimGS commented on #58
Done. Can you test again?

browser.html still contains the line, as we should be consistent across the manager.

[2012-10-11 11:42] bossloper commented on #58
yes working now.

[2012-10-11 11:47] TimGS commented on #58
Thanks.

[2012-10-11 11:47] #58 closed, assigned to TimGS

[2012-10-11 11:54] bossloper opened #59 "Enhance Wayfinder by adding includePrivates option"
I have found this quite useful:

http://forums.modx.com/index.php/topic,27054.msg164395.html

... to allow a wayfinder menu to list a private resource page in the menu. Thus when not having access it takes you to the system 'unauthorized page', i.e. probably the site login page.

[2012-10-11 11:57] TimGS commented on #59
This is probably one for discussion in the forum. http://www.clippercms.com/forum/feature-requests/

There are a few Wayfinder requests now. It's probably not going to be a priority for the core team though, so what it probably needs is someone in the community to either fork Wayfinder or liase with the original author.

[2012-10-11 11:57] #59 closed, assigned to nobody

[2012-10-11 12:03] bossloper commented on #59
OK I will add it there so it is logged.

I have another Wayfinder related one too, more of a bug, as the text for menu titles, descriptions etc is not encoded.

[2012-10-11 12:22] TimGS commented on #59
re: entity encoding...

Most snippets do not encode quotes (etc) as entities, unless you use phx, which would be rather laborious and maybe not even possible in some cases.

My solution, which is less than ideal, is to have a plugin encode these fields when a document is saved. It is less than ideal as when you edit a document you see the entities, plus I do think that raw text should be stored, n

[2012-10-11 13:36] bossloper opened #60 "Maximum upload size not honoured correctly"
The system configuration 'Maximum upload size' is set by default to 1048576 bytes which is 1 Megabyte. This sounds fine. But when I upload a large image file (say 4 Megabytes) it is still getting uploaded. I checked the mcpuk code and on line 57 of manager/media/browser/mcpuk/connectors/php/Commands/FileUpload.php there is the following:

if ($_FILES['NewFile']['size']<($typeconfig['MaxSize']*1024

[2012-10-12 09:13] TimGS opened #61 "Deprecated function option should default to 1 but goes to zero on upgrades."

[2012-10-12 20:22] #61 closed, assigned to TimGS

[2012-10-18 07:57] ghost opened #66 "TinyMCE language files missing"
In Backend TinyMCE do not work with languages other than english. Caused by missing language files in Tinymce-Plugin.

[2012-10-18 09:44] TimGS commented on #66
Added

[2012-10-18 09:44] #66 closed, assigned to TimGS

[2012-10-22 11:11] ghost opened #67 "Snippet weblogin english messages hardcoded"
This snippet must be rewritten for the use of language files.

[2012-10-22 11:11] ghost opened #68 "Snippet jot english messages hardcoded"
This snippet must be rewritten for the use of language files.

[2012-10-25 12:49] Cipa opened #69 "image missing"
When I try to access the manager login page I see this in firebug

"NetworkError: 404 Not Found - http://hireiehps.com/manager/media/style/ClipperModern/images/input-bg.gif"

Thx

[2012-10-25 12:57] Cipa opened #70 "Extra alert in js?"
Is the alert in the function below correct?
you can find it in 2 places manager/media/style/theme/html/login.html

`function ajaxReturn(response) {
            var header = response.substr(0,9);
            if (header.toLowerCase()=='location:') top.location = response.substr(10);
            else {
                var cimg = $('captcha_image');
                if (cimg) {
                 cimg.sr

[2012-10-25 12:57] TimGS commented on #69
Fixed. I've copied the corresponding image from ClipperCarbon.

thanks.

[2012-10-25 13:00] TimGS commented on #70
Not sure. I've never seen a captcha image on a login page, and don't see why one would be required.

The wrong password/username alert seems to work though.

-- Tim.

[2012-10-25 13:02] Cipa commented on #69
Thx

[2012-10-25 13:04] #69 closed, assigned to nobody

[2012-10-25 13:12] Cipa commented on #70
Was the js in the login.html changed? I have issues with it. Weird stuff
Locally everything is fine but live the alert was returning the path to the manager "http://sitename.com/manager" and the page would stay on the login form. The login information was correctly processed but no redirect.

The manager is accessible if I reload the page as the connection was established at submit.

Tested in fir

[2012-10-25 13:15] Cipa commented on #69
Maybe we should remove the image from the css and use a nice css gradient. Let me know if you want this reopened or maybe you want me to contribute. Thanks

[2012-10-25 13:42] Cipa commented on #70
I found the problem but I'm not sure how to fix it. I think the problem in the login.processor.php.

At least on one server this line "echo $header;" returns a string that has a space in front of "Location:......". I managed to remove it in js. see response = response.replace(/^\s+|\s+$/g,'');

Now the ideea is to remove it from php but I don't know how, yet. Any ideas?

[code]
        var respons

[2012-10-25 13:55] TimGS commented on #70
That looks like an adequate and pragmatic workaround for now, even if it is unsettling not knowing why it is required.

login.processor.php needs rewriting anyway for 1.2. Its quite different in action from the other processor/ scripts in how it is invoked (it is called directly), which has already caused some problems. As such, I really  wouldn't worry unduly about it for now - a temporary fix se

[2012-10-25 14:39] Cipa commented on #70
Having issues trying to fork and send pull requests. I though I could use GitHub for Mac App but something is wrong. I will probably have to do it in the terminal and push the changes to you. I still have to figure out how to do it.

[2012-10-25 15:00] TimGS commented on #70
Commited. Can you check all is now OK with both themes and let me know?

[2012-10-25 15:10] Cipa commented on #70
works

[2012-11-09 10:16] ghost opened #71 "index.php Install message"
It is only a cosmetic problem: During installation the message «MODx is not currently installed...» is  displayed.

[2012-11-09 10:28] TimGS commented on #71
Fixed.
Thanks.

[2012-11-09 10:28] #71 closed, assigned to nobody

[2012-11-09 10:29] #70 closed, assigned to nobody

[2012-11-12 09:21] bossloper commented on #36
The issue with TinyMCE and styles/paragraph dropdown with IE9 and Chrome iFrame appears to have been fixed in the latest TinyMCE version 3.5.7

[2012-11-12 10:15] bossloper commented on #36
... though having said that there are other issues when trying to format paragraphs. Maybe best to stay on 3.4.9 until more of the bugs are fixed!

[2012-11-13 10:27] TimGS opened #73 "jQuery ManagerManager :contains bug"
See also https://github.com/modxcms-jp/evolution-jp/commit/6f9987bde121278c9cb5712c7ad50fa39bfd9219#commitcomment-2144080

[2012-11-15 08:56] ghost opened #74 "ManagerManager"
In the preferences of the plugin the configuration-chunk sould be changed from mm_demo_rules to mm_demo_rules-1_1.

If a very old mm_demo_rules exists in database the following managermanager-error occures on each page: ManagerManager: An error has occurred: Error - Syntax error, unrecognized expression: img[style:contains('cursor:help')]

Plus: the file mm_rules.inc.php is in russian language.

[2012-11-15 10:15] TimGS commented on #74
The error with ManagerManager is noted in Issue 73 and will be fixed for release.

thanks,
Tim.

[2012-11-15 10:15] #74 closed, assigned to nobody

[2012-11-15 10:32] TimGS commented on #68
This would be worth posting in the forums under 'Feature Requests'. As it concerns an 'Extra', albeit one currently bundled with the default install, it is probably not something for the core group.

So far the only Extras we have modified are Ditto (renamed List as it is now a fork) and WebLoginPE (renamed WebUsers). In both cases the modifications have been bugfixes. Ditto/List is sufficiently i

[2012-11-15 10:32] #68 closed, assigned to nobody

[2012-11-15 10:38] TimGS commented on #67
As per https://github.com/ClipperCMS/ClipperCMS/issues/68, this is probably not something for the core group, though for slightly different reasons.

Although this snippet enables the web users core functionality, the core group has already taken on the more powerful and more useful WebLoginPE (our fork is named WebUsers). There is little point in maintaining two Extras that do the same thing, and

[2012-11-15 10:38] #67 closed, assigned to nobody

[2012-11-15 20:51] kp52 opened #75 "Paginated List (Ditto) call still affected by PHx"
Tested a paginated List call with PHx installed as plugin in latest Clipper download, to see if changes to chaching have altered anything.

Result: behaviour concerning caching is the same as in MODX 1.0.6, i.e

**Pagination only works when List call is cached and page is non-cacheable**

If List is called uncached, placeholders are not populated.
If List is called cached with page cacheable, plac

[2012-11-18 13:50] TimGS opened #77 "cursor: help issue"

[2012-11-22 21:38] bossloper opened #79 "Clipper Modern Style - Resource Button Icon Positioning"
In IE10 when editing or adding a new resource the icons within the buttons for Duplicate, Delete, Cancel and Preview are out of line (shifted to the right). They are shifted so far right that the 'Preview' icon is off screen and the 'Cancel' icon is almost in its place.

They are fine in IE9.

They are also fine in IE10 when just viewing the resource data page so it seems like all icons after the

[2012-11-22 21:45] bossloper opened #80 "Clipper Modern Style - Manager Layout Issues"
A couple of layout issues with IE10

1) The text area boxes on System Configuration pages are either very near to right edge so scroll bar is only just visible or

[2012-11-22 21:54] bossloper opened #81 "Manager Layout Issues"
A couple of layout issues with IE10 in the manager:

1) The text area boxes on System Configuration pages are either very near to right edge so scroll bar is only just visible or in the case of 'Interface & Features' TinyMCE Settings the text areas are not wrapping so are truncated at the edge of the browser window.

Same for 'ClipperCarbon' and 'ClipperModern' styles.

2) When editing a resource

[2012-11-23 14:44] #77 closed, assigned to TimGS

[2012-11-23 15:03] TimGS commented on #75
I suspect the issue lies in phx. If anyone wants to investigate it more then any info gratefully received.

Before spending much time on this you may want to check the functionality in the placeholders branch. It contains output modifiers similar to some in phx, but no conditionals. I don't intend implementing conditionals - I think they would be better in snippets. You may decide you don't want p

[2012-11-23 15:03] #75 closed, assigned to nobody

[2012-11-23 15:07] TimGS commented on #27
Are you able to submit a fix for the next version (1.2) ?

[2012-11-24 02:07] nick0 commented on #27
I wish!
I would love to Tim but alas I am not a programmer / coder - the mechanics of programming is like double dutch to me.
Sorry.

[2012-11-25 22:05] TimGS opened #82 "Issue 25/11/2012 c/o AN ru"

[2012-11-26 19:42] TimGS opened #84 "Issue 26/11/2012 c/o AN ru"
unblock

[2012-11-27 14:22] #82 closed, assigned to TimGS

[2012-11-27 14:22] #84 closed, assigned to TimGS

[2012-11-27 16:09] kp52 commented on #50
Suggestion: move include command for settings.inc.php in login processor to somewhere after the point where the $modx object is created (currently line 52), so that dtabase access can be via the API. I haven't found anywhere between the current position and the proposed one that involves using settings that are read when settings.inc.php is included.

[2012-11-29 09:57] bossloper commented on #37
Just upgraded to the latest development branch today and this fix is now not working.
Not working for either ClipperCarbon or ClipperModern themes on IE9 or IE10.

UPDATE- Looks like it was my fault with the initial code I gave you. It was only working because of the OtherUA=4. Then when you cleaned that out it stopped working.

Correct syntax is:

header("X-UA-Compatible: IE=8"); // Datepicker ne

[2012-12-02 21:28] TimGS commented on #37
What do you mean by "it crashes" ?

[2012-12-03 15:32] #53 closed, assigned to TimGS

[2012-12-03 15:57] bossloper commented on #37
RE: 'Craches' - I get an 'Internet Explorer has stopped working' dialog box.
There is a 'Close program' button on the dialog and that is it, IE shuts down completely, no option to carry on.

[2012-12-04 10:59] #73 closed, assigned to TimGS

[2012-12-04 21:29] TimGS opened #87 "Should list.class.inc.php still be ditto.class.inc.php?"

[2012-12-04 21:35] TimGS opened #88 "Use of E_ALL must be changed to E_ALL & ~E_STRICT (PHP 5.4)"

[2012-12-04 21:36] TimGS opened #89 "ditto::buildURL to be declared static"
http://forums.modx.com/thread/77904/error-due-to-a-php-upgrade

[2012-12-04 21:37] TimGS opened #90 "template::replace() to be declared static"
http://forums.modx.com/thread/77904/error-due-to-a-php-upgrade

[2012-12-05 10:34] #88 closed, assigned to TimGS

[2012-12-05 10:37] TimGS commented on #87
Yes, for consistency between file and class names.

[2012-12-05 10:37] #87 closed, assigned to TimGS

[2012-12-05 22:07] TimGS commented on #80
Closed, as I think it is a duplicate of part of issue 81.

[2012-12-05 22:07] #80 closed, assigned to microcipcip

[2012-12-05 22:08] TimGS commented on #37
Do you get the same problems with MODx Evo 1.0.6 or 1.0.7?

[2012-12-05 22:09] TimGS commented on #81
When comparing ClipperCarbon in Clipper 1.1 beta, and MODxCarbon in MODx Evo 1.0.6 or 1.0.7, do you see the same behaviour?

-- Tim.

[2012-12-06 07:55] bossloper commented on #37
Yes exactly the same on Evo 1.0.6. So no drop-down at all unless I add header("X-UA-Compatible: IE=8");
Then if I change the month I get the same IE 'crash'. Can change the day ok within the current month.

[2012-12-06 11:30] bossloper commented on #81
Looking at it again I think the old css must have been cached. It is fine now. I'll close this.

[2012-12-06 11:30] #81 closed, assigned to microcipcip

[2012-12-08 11:50] TimGS opened #92 "Remove message system"

[2012-12-08 17:42] Cipa opened #93 "I could not find any use of the functions in media/script/datefunctions.js"
... so maybe it can be removed

[2012-12-08 18:05] Cipa opened #94 "Document Manager: document.range.submit(); errors"
Seems like document.range.submit(); generates js errors but the form is submitted.

TypeError: document.range is undefined
[Break On This Error]
document.range.submit();

Weird thing is that without it the document doesn't submit.
The only thing related is the <form id="range" action="" method="post"> in documents.tpl. There is no range unless it's a mootools variable that I could not find.

Any i

[2012-12-08 19:38] microcipcip commented on #79
Hi, I am unable to reproduce this issue.
I have actually seen this issue the first time I've loaded the manager, but then I refreshed the page and I can't see it anymore ?!

[2012-12-08 19:48] microcipcip opened #95 "Warning during Installation Upgrade from MODX 1.0.6"
During Installation Upgrade from MODX 1.0.6 (localhost XAMPP) I get this error (under Plugins, Install/Update TransAlias - 1.0.1):

Warning: in_array() expects parameter 2 to be array, boolean given in C:\xampp\htdocs\clippercms\install\action\action.options.php on line 176

[2012-12-08 19:54] TimGS commented on #79
Have Yama's contributions fixed it perhaps?

[2012-12-08 19:59] microcipcip commented on #79
I don't think so, the contributions where for the tree menu and other areas of the manager.

[2012-12-08 20:03] TimGS opened #96 "jquery plugin tag API function for backend use"
Also need to implement API in new datepicker code

[2012-12-08 20:09] TimGS opened #97 "Do we need the date format config system setting?"

[2012-12-08 20:10] TimGS opened #98 "Standardise on one date format if possible?"
Timestamps or HTML5?

Effects of people working in multiple timezones?

[2012-12-08 20:49] TimGS opened #101 "List language item missing_placeholders_tpl"
This is inconsistently used in language files.

Maybe we should just remove it and have references to it use an empty string. For most languages this is what happens at the moment.

[2012-12-08 21:01] TimGS opened #102 "More methods in the List class files need to be declared static"
All changes known to be essential for PHP 5.4 have been made already, but it would be good practice to ensure that functionally static methods are declared so.

Some methods can also almost certainly be declared private.

Some methods may well be duplicated across the classes. This is a maintenance issue.

[2012-12-10 13:28] kp52 opened #104 "Fatal errors during login"
Installed Clipper 1.1 and DBAPI_use from latest branches locally on 9th December, and found a couple of old problems have reappeared - premature call to $modx object in settings.inc.php, and syntax error due to extra bracket in log.class.inc.php.

Previously I moved settings.inc,.php down in login.processor.php (https://github.com/ClipperCMS/ClipperCMS/pull/83#commitcomment-2207128) to avoid this,

[2012-12-11 15:46] #89 closed, assigned to TimGS

[2012-12-11 15:46] #90 closed, assigned to TimGS

[2012-12-11 15:47] TimGS commented on #79
If you are satisfied it's a non-issue, close it.

If other's report the same again, we can always re-open it, but based on the available evidence I suspect it's not an issue now.

[2012-12-11 15:50] #97 closed, assigned to TimGS

[2012-12-11 16:24] #79 closed, assigned to microcipcip

[2012-12-11 17:04] microcipcip opened #106 "Small typo in the "Help" page."
Small typo at the bottom of the help page (ClipperCMSCMS.com):

"ClipperCMS is managed and maintained at ClipperCMSCMS.com."

[2012-12-11 22:38] #101 closed, assigned to TimGS

[2012-12-11 22:57] TimGS commented on #106
I've just removed the credits section. I think at least one will be out of date soon, and I think another may be.

Seems easier to not have it at all.

[2012-12-11 22:57] #106 closed, assigned to nobody

[2012-12-11 22:59] TimGS commented on #93
Its in docmanager, but perhaps with your jquery work this can be changed?

[2012-12-12 00:43] Cipa commented on #93
Can you show me where. I looked in 1.1.develop and could not find it. Maybe the search functionality doesn't work as expected.

Thx

[2012-12-12 00:59] microcipcip opened #107 "Make MultiTV compatible with ManagerManager"
Hi, to make ManagerManager work with MultiTV, there is currently the need to apply the following patch: open the file mm.inc.php and insert case 'custom_tv': in line 136 just before the line $t = 'textarea'; (see here, step 4 for the installation: https://github.com/Jako/multiTV).

This fix is kind of dangerous because it could break a website anytime you update the CMS. Is it possible to add this

[2012-12-12 08:35] TimGS commented on #93
assets/modules/docmanager/templates/main.tpl

Are you on linux or a mac? Use grep:

tim@dougal:~/varwww/ClipperCMS$ grep -ls -R datefunctions.js *
assets/modules/docmanager/templates/main.tpl

-- Tim.

## www.timspencerweb.co.uk

Better a bad day in the hills than a good day in the office.

## See the hills at www.islandlight.co.uk

On 12 December 2012 00:43, Cipa notifications@github.com wrote:

[2012-12-12 08:43] TimGS commented on #107
It's arguable where the issue lies. I'm not familiar with MultiTV but I'm guessing it adds a new TV type - but there is no provision in the core (AFAIK) for adding another TV type. As such, the hack may be in MultiTV itself and be an inherent part of how it works.

Any Extra that 'adds' another TV type will have the same problem with ManagerManager, or indeed any other plugin that assumes the TV t

[2012-12-12 09:01] Eoler commented on #107
There's an official "custom" TV type in core, as of Evolution 1.0.5

[2012-12-12 09:02] TimGS commented on #107
OK. We best add it in then.

[2012-12-12 20:10] Jako commented on #107
Any custom TV that will use a textarea tag to avoid of issues with " and ' chars in the custom TV value will have a problem with ManagerManager. This custom TV will be not moveable to other Tabs without the patch. But that should be the only problem.

My proposal is to patch ManagerManager and to tell other custom TV developers to change input to textarea.

[2012-12-12 22:50] TimGS commented on #107
I agree we should add line 136 as above to cope with custom tvs now they are an option in the core.

I'm not familiar with custom tvs - what's the textarea issue about? I'm wary of getting into hacky territory. Why do custom tv developers need to avoid inputs?

[2012-12-13 07:04] Jako commented on #107
If a custom tv has " and ' chars inside one of this chars has to be masked to be valid in the value attribute of an input tag. Otherwise it will break the value tag. Another problem would be the new line char.

Instead of masking/demasking the field value I decided to change the input tag to textarea tag. But that is causing the problem with ManagagerManager.

[2012-12-13 08:46] TimGS commented on #107
That seems a hack to me. Shouldn't the output snippet (I think this is the MultiTV snippet) pass characters through htmlentities (or better, have the _option_ to with 'on' as the default) ?

-- Tim.

[2012-12-13 09:40] Jako commented on #107
This is not a snippet output problem and it is definitly not a hack since normal textarea and richtext (and some other) template variables work the same.

The MODX/ClipperCMS Manager saves the value of a tv during a form post. At this point the custom tv code is **not** invoked and can't work the value of the tv. The custom tv code just outputs the form code together with javascripts and style she

[2012-12-13 11:48] TimGS commented on #107
OK - I'm not sure I really follow the textarea/input thing but I'm not familiar with custom tvs.

I agree we should add line 136 as above to cope with custom tvs now they are an option in the core. Do we need to do anything else at the moment?

I think the issue of custom TVs needs discussing on the forum. If someone who is familiar with them can write a brief resume of any documentation, extras u

[2012-12-13 12:38] Jako commented on #107
multiTV values are stored as JSON in one db row. multiTV is not intended to be a solution to hold a lot of data. For that it would be ideal to have a custom tv displaying/saving tabular data in its own db table. But that needs a different approach with own processors/connectors to read/save the data.

The main reason to write multiTV was to store object properties for a small shop solution. Also s

[2012-12-13 14:55] Cipa opened #108 "php errors are not shown"
Hi,

I am using the latest commit or at least a recent one and I am building a module. If I forget a ; in the php code no error and  no system event  are generated.

"Should PHP/SQL error messages be shown on the screen" is set to "Show on screen"

I am running this on MAMP, php 5.4.4

You can test this by creating a new module that includes a file
`require_once($modx->config['base_path'] . "asset

[2012-12-13 16:10] microcipcip commented on #107
Maybe this could help:
http://thecmspros.com/2011/02/custom-template-variables-in-evolution-1-5/
http://www.mapledesign.co.uk/projects/modx-tvs/

[2012-12-14 09:48] kp52 commented on #104
I think I've worked out what happened here - my local GitHub for Windows branch differed from the version here. When I did "git fetch upstream" then "git merge upstream/1.1.develop", my local changes were preserved. I needed to do "git reset --hard upstream/1.1.develop" to get the ClipperCMS branch as currently on github.com into my local working copy. Then I've done "git push -f origin  1.1.devel

[2012-12-14 09:48] #104 closed, assigned to TimGS

[2012-12-14 10:03] TimGS commented on #104
Not sure about this but I don't think you should be doing git reset --hard upstream/1.1.develop. AFAIK git reset would possibly remove some changes you have done.

[2012-12-14 10:28] TimGS commented on #93
The JS maybe could be moved to assets/modules/docmanager/js?

[2012-12-14 13:57] TimGS commented on #108
Fixed on TimGS/ClipperCMS.

Also need to consider the deprecated functions setting. Will push to the main repo once I've done this.

[2012-12-17 20:02] microcipcip opened #113 "System Setting "Page Click Behavior" default to "Edit Resource""
When you install ClipperCMS by default you see the "Page Click Behavior" found in "Tools > Configuration > Interface & Features" with the radio button on " View Resource data" instead of "Edit Resource".

I never use "View Resource data", it seems a waste of time to click a resource and then click on "Edit" to actually edit the page. I would like to know how other people use this setting and discu

[2012-12-17 21:07] nick0 commented on #113
I also prefer "Edit Resource" by default microcipcip - its much more efficient and better for workflow to be able to edit a resource directly. I second we have that as the default setting.

Re your note: In Evo 1.0.6 and 1.0.7, setting "Page Click Behavior" to "Edit Resource" still works as the default behavior for me.

Go ClipperCMS!

[2012-12-18 07:54] bossloper commented on #113
I use both, depending upon the project. For a single manager of a site (mainly me!) I use the "Edit Resource" option for efficiency.

Though for a large site with maybe 20 managers I use the "View Resource data" option when it goes live. Main reason being otherwise the site tends to get locked resources from time to time as less careful managers just close the browser on the last resource they cli

[2012-12-18 09:51] kp52 commented on #113
I'm all for making Edit Resource the set-up default. One of the annoying things setting up something new is having to go back and change it when I realize I didn't do it in the first place. Likewise the "remember tab" settings just below it in config.

[2012-12-18 10:30] microcipcip commented on #113
Likewise the "remember tab" settings just below it in config. +1

[2012-12-18 11:00] microcipcip opened #114 "KCFinder - File Browser"
KCFinder could be the next file browser for ClipperCMS, see this: http://www.clippercms.com/forum/index.php?topic=86.msg339#msg339

There is already an integration (http://narod.ru/disk/57883429001.94d112c2667d33a9c197ef9d83ae88f1/kcfinder.zip.html) but it doesn't use the manager language (AFAIK it's hardcoded to use always the english language).

[2012-12-18 11:05] microcipcip opened #115 "Jot - Improvements"
A lot of improvements for Jot, see this: http://www.clippercms.com/forum/index.php?topic=85.msg338#msg338

There is the need to test the new version and make sure that this will not break existing websites.
Also, I think that there is the need to translate some files from russian to english.

[2012-12-18 11:34] TimGS commented on #107
Fixed by https://github.com/ClipperCMS/ClipperCMS/commit/d6a5ed1b2e9d76e7981f7056dbfc6632ef85df39

Note that it's not line 136 anymore as other things have changed in that file.

If someone with a site using custom tvs and managermanager can test this then I'll close the issue.

[2012-12-18 15:43] #108 closed, assigned to TimGS

[2012-12-18 16:09] TimGS commented on #95
Can you test again with the latest version of 1.1.develop?

If all is fine, close this issue.

thanks,
Tim.

[2012-12-18 16:44] #95 closed, assigned to TimGS

[2012-12-18 16:57] microcipcip commented on #107
This is working, I have tested the latest version of MultiTV.

[2012-12-18 16:57] #107 closed, assigned to TimGS

[2012-12-19 10:42] TimGS commented on #94
Odd.

Is it using an obsolete shorthand for getting elements? I think for what it (might) be intending to do I'd use

document.getElementById('range').submit();

Try that.

[2012-12-19 13:28] TimGS commented on #113
Implemented.

https://github.com/ClipperCMS/ClipperCMS/commit/9f9e066e0c5f27ca80725354adbff1e513f0a3e9

[2012-12-19 13:28] #113 closed, assigned to nobody

[2012-12-19 13:42] TimGS opened #119 "Update changelog on release of 1.1rc"

[2012-12-19 13:43] TimGS opened #120 "Remove obsolete etomite functions in DocumentParser"

[2012-12-19 13:50] TimGS commented on #120
Implemented in branch DBAPI_use

[2012-12-19 13:58] Cipa commented on #94
thx

[2012-12-19 14:43] TimGS commented on #37
We are planning to completely update the javascript in the manager to use jquery for 1.2. The current datepicker will become obsolete and be replaced by the jquery UI datepicker, and possibly a native HTML5 picker on relevant browsers.

We haven't had any more reports of the above datepicker bug in IE10, and there are no mentions on the modx forums that I can find. I'd check myself, but I haven't

[2012-12-19 14:43] #37 closed, assigned to nobody

[2012-12-19 15:17] bossloper commented on #37
I found out when it causes the crash. If you run IE10 in the new 'Protected mode' (under the security tab) then this is when IE10 crashes.

[2012-12-19 15:22] bossloper commented on #37
But from a previous post the fix for IE9/10 that you added will not work unless you correct the header line to:

header("X-UA-Compatible: IE=8"); // Datepicker needs fixing

[2012-12-19 15:30] TimGS commented on #37
Corrected. Thanks.

[2012-12-19 20:46] #119 closed, assigned to TimGS

[2012-12-20 10:11] TimGS opened #121 "Access Permissions and manager users bug"
https://www.google.co.uk/search?q=%22Because+the+Web+User+Groups+and+Manager+User+Groups+conflict+for+your+Role%2C+this+Resource+will+be+public%22+site:modx.com

[2012-12-20 11:25] TimGS commented on #92
https://github.com/TimGS/ClipperCMS/tree/develop

[2012-12-20 12:11] TimGS opened #122 "New name for forked Eform"

[2012-12-21 11:32] TimGS opened #123 "Reports-> System Info references MODX constants, change to clipper constants."

[2012-12-21 11:37] TimGS commented on #123
Won't fix. The constants are still internally prefixed 'MODX_'.

[2012-12-21 11:37] #123 closed, assigned to TimGS

[2012-12-21 12:10] TimGS commented on #123
I've changed the labels to explanational ones, not the constants.

[2012-12-21 21:25] TimGS opened #124 "DBAPI __construct and connect overlap with parameters"
Slim down and address use of globals.

[2012-12-22 14:38] fourroses666 opened #125 "Modx Carbon theme"
Just did an upgrade to Clipper 1.1 and noticed I can pick Modx Carbon theme.
Shouldn't that one be removed?

[2012-12-22 17:29] TimGS commented on #125
Ah - yes, I'm guessing it doesn't work properly now (?).

I'm not sure if the installer can wipe the old themes, but we could issue a warning to do so.

[2012-12-22 18:40] fourroses666 commented on #125
The dashboard is blank with that theme but further all works I think. I dunno if its possible ;p\*

*to remove it

[2012-12-22 19:41] TimGS opened #126 "define E_DEPRECATED AND E_USER_DEPRECATED for PHP < 5.3"

[2012-12-22 20:33] #126 closed, assigned to TimGS

[2012-12-22 21:05] microcipcip commented on #122
FormBuilder ?

[2012-12-22 21:38] nick0 commented on #122
Reform   ?

Former   ?

FormIt  ?

Formal  ?

Informed  ?

Informer  ?

Inform  ?

Formed  ?

Formalize  ?

[2012-12-23 04:22] Cipa commented on #122
Form Helper

On Sat, Dec 22, 2012 at 4:38 PM, nick0 notifications@github.com wrote:

[2012-12-23 12:15] TimGS commented on #122
MailForm?

(EForm is AFAIK primarily designed for converting form submissions to emails.)

[2012-12-23 12:21] Dmi3yy commented on #122
just  simple   "form"  or "Form"

[2012-12-23 12:59] TimGS commented on #125
I've just ensured that themes starting 'modx' cannot be selected.

[2012-12-23 12:59] #125 closed, assigned to TimGS

[2012-12-23 13:38] #92 closed, assigned to TimGS

[2012-12-23 18:58] TimGS opened #127 "Timezones to be set explicitly to avoid need for php.ini timezone setting on PHP 5.4"

[2012-12-24 12:01] kp52 commented on #122
I like Inform - which now has twice as many votes as any other suggestion! Could be seen as contraction of Input Form, and implies major use on contact pages.

[2012-12-25 17:16] AgelxNash opened #128 "SELECT TV from template blank (id=0)"
<code>SELECT tv.*, IF(tvc.value!='',tvc.value,tv.default_text) as value ........ WHERE template=...</code>
Line 1214 in manager/includes/document.parser.class.inc.php
Line 2386 in manager/includes/document.parser.class.inc.php
Line 2520 in manager/includes/document.parser.class.inc.php
Line 183 in manager/processors/save_content.processor.php
may be more...

I think this SQL query to wrap up in <c

[2012-12-27 10:01] TimGS opened #129 "Remove crypt.class.inc.php (?)"
I think this can be removed, it appears unused.

[2012-12-29 18:43] TimGS opened #131 "defined(DEPRECATED) should be defined('DEPRECATED')"

[2012-12-30 07:25] etal2 commented on #21
When revising this please take into consideration that the locale affects url resolution when url aliases have international characters (think Japanese urls etc) . This happens very early in the request processing chain, before any of the existing events occur so setting the locale on OnWebPageInit does not help.

I opened a bug in the old modx bug tracker and had a patch that added another system

[2012-12-30 12:55] TimGS commented on #21
I think it should go in the config file, if it is to be used.

We can either have an extra feature in the installer to select the locale from those available (on servers where we can detect these - which I think is dependent on PHP being able to use shell_exec('locales -a')) and write this to config.inc.php, or simply leave the developer to do this manually.

The problem with setting the locale in

[2012-12-30 16:55] Cipa commented on #93
closed as docmanager is now called resmanager in the jquery-ui branch https://github.com/Cipa/ClipperCMS/tree/jquery-ui

[2012-12-30 16:55] #93 closed, assigned to nobody

[2012-12-30 16:56] #94 closed, assigned to nobody

[2012-12-30 17:03] Cipa opened #132 "Error reporting again or the lack of ..."
I recently merged the latest develop branch into my jquery-ui branch and errors are not reported.

Here's are some details:
Config:
- How should deprecated PHP functions be handled (PHP >= 5.3): Allow deprecated functions. Log under Reports, System Events
- Should PHP/SQL error messages be shown on the screen: Show on screen

PHP Version 5.4.4 - MAMP

Create a snippet with the following code and c

[2012-12-30 17:04] Cipa opened #133 "disable tinymce"
I used to be able to disable tinymce from the settings tab of document. I can't seem to find this setting anymore.

Thx

[2012-12-30 17:10] TimGS commented on #132
Same happens here with PHP 5.3. It also happens with 1.0.6.

However see the PHP manual - http://php.net/manual/en/function.eval.php. _"It is not possible to catch a parse error in eval() using set_error_handler()"_

As such, that is the expected behaviour at the moment. We could modify the DocumentParser class to test for eval() returning false, which would catch parse errors.

[2012-12-30 17:12] TimGS commented on #133
Check the demo ManagerManager rules.

I think I hid it on the basis that most users would want TinyMCE for the richtext content.

[2012-12-30 17:32] Cipa commented on #133
If this is the case maybe we should move some of these settings outside MM at some point. Maybe a core module like Doc Manager that allows hiding renaming different elements of the manager

[2012-12-30 17:40] Cipa commented on #132
This would be nice. Can the error be caught somehow and actually be reported in the system events?

Thank you

[2012-12-30 18:11] Cipa commented on #132
Another thing I noticed is that if I change the database credentials to something wrong the errors are showed on screen but no System event is generated. Is this correct?

What I need right now is a way to generate some errors in the System Events. I can't seem to do it(modified snippets, files plugins and no errors are reported). Maybe you have an idea on how to do it.

Thanks

Edit:

Seems like

[2012-12-30 21:13] TimGS commented on #132
re: Parse errors. These could be caught if the code was changed to check for this. It's only likely to be relevant for development though - live sites shouldn't be generating parse errors.

re: database credentials. Nothing can be added to the error log in this case because the error log is in the database - which is inaccessible!

re: deliberately generating errors. Offhand, deprecated functions

[2012-12-31 17:39] TimGS commented on #131
Not applicable now.

[2012-12-31 17:39] #131 closed, assigned to TimGS

[2012-12-31 17:40] TimGS commented on #133
Possibly. I'd also intended at some point to offer multiple ManagerManager chunks on install, with at least once designed for novice users, and a near-blank one for advanced users.

[2012-12-31 17:40] #133 closed, assigned to nobody

[2012-12-31 17:48] #129 closed, assigned to TimGS

[2012-12-31 17:54] TimGS commented on #129
Removed. It was included in two places, yet never used.

[2012-12-31 19:07] Cipa opened #134 "messaging system - remove updateMsgCount ajax call"
If the messaging system was completely removed we should also remove the ajax call that updates the message count.

Look for updateMsgCount. There should be only 2 files that have this: main-menu.js and manager/index.php

[2012-12-31 19:12] Cipa commented on #134
updateMail function should also be removed. I will remove this from my jQuery branch as soon I get the conformation that this is ok.

[2012-12-31 20:41] TimGS commented on #134
On branch develop I have:
- removed updateMail https://github.com/ClipperCMS/ClipperCMS/commit/8b06a598b83753fb7997398815ca3c5ea7c33c63
- removed one reference to $_POST['updateMsgCount'] in manager/index.php https://github.com/ClipperCMS/ClipperCMS/commit/75df0bd6ecb98cf4c1dfbef744c1533f9712cdef

I can't find main-menu.js (puzzled?!)

To merge these changes into your jquery branch either use git

[2012-12-31 20:41] #134 closed, assigned to TimGS

[2012-12-31 20:49] Cipa commented on #134
not sure about main-menu.js but it looks like I moved some of the code in that file.
The changes look good. I will remove the code from the jquery-ui branch - https://github.com/Cipa/ClipperCMS/tree/jquery-ui

[2012-12-31 20:51] TimGS commented on #134
You are best either merging, rebasing (maybe) or cherry-picking my commits - as opposed to doing it manually in your jquery branch -  otherwise when we merge your jquery branch into develop we may end up with commits duplicating each other.

[2012-12-31 20:54] TimGS commented on #134
I think this should work:

git checkout develop
git pull
git pull upstream develop

You should now have develop up to date locally, assuming you have ClipperCMS/ClipperCMS as the remote 'upstream'.

git checkout jquery-ui
git cherry-pick 8b06a59
git cherry-pick 75df0bd

This will just fetch the above two commits.

[2012-12-31 20:57] Cipa commented on #134
I will do that but in order to keep conflicts to a minimum and because I
already moved/changed to jquery some of the code, I will remove those parts
first and merge after

On Mon, Dec 31, 2012 at 3:54 PM, TimGS notifications@github.com wrote:

[2012-12-31 21:00] TimGS commented on #134
Whatever you think best, but I think you'll end up with duplicate commits when we merge jquery-ui into develop. Mine will still appear, but yours will also. Probably not a big deal though [EDIT - not so sure about this now]

git seems quite good at this - loads better than SVN if you've had previous bad experience with SVN conflicts.

Happy New Year for later on! Bye for now.

[2012-12-31 21:16] Cipa commented on #134
Happy new year!

On Mon, Dec 31, 2012 at 4:00 PM, TimGS notifications@github.com wrote:

[2012-12-31 21:48] Cipa commented on #134
mail_check_timeperiod should also be removed
There are a few files using it including setup sql and language files

[2013-01-01 02:16] microcipcip commented on #122
I like simply "Form", as suggested by dmi3yy. Or maybe "cForm", where C stand for the initial of ClipperCMS.

[2013-01-01 11:19] TimGS commented on #134
See https://github.com/ClipperCMS/ClipperCMS/commit/eacba5cdd5cdf9af66356a8a0a1be2ab956229ff

and https://github.com/ClipperCMS/ClipperCMS/commit/50ba4107c1a5133245be33513dc945241bbe8c39.

[2013-01-01 12:07] Cipa commented on #134
Thanks, lately it seem that I am getting a lot of conflicts on some files
I modified a lot. It happend for mutate_settings.
Can you make sure all your changes where implemented and also have a look
at my changes regarding this issue
https://github.com/Cipa/ClipperCMS/commit/4c50c17a8d2e873aad2e2e79c2338b36bb6ca386

Latest commits for jquery-ui branch:
https://github.com/Cipa/ClipperCMS/commits/jqu

[2013-01-01 12:23] kp52 commented on #122
There's a problem with generic names for specific features - ambiguity when you're also dealing with FORM tags, for instance. And though we're just looking at renaming eForm for now, there are plenty of reasons why some other snippet, module or whatever that does a more general job of building or handling forms might have a better claim to "Form" as its name.

[2013-01-01 13:32] TimGS commented on #134
You may be more likely to get conflicts if you manually duplicate commits as you are doing now. Also I'm much more likely to have conflicts (maybe lots of them) when I merge it into the main repo or accept a pull request.

Conflicts occur when two or more people have changed the same line of code but in different ways. Even an extra space character makes the code different as far as diff is concer

[2013-01-01 13:46] TimGS commented on #122
I agree with kp52. eForm isn't actually that generic a form builder and as such a generic name such as 'Form' - or even a minor variation - seems inappropriate.

Whilst it does have hooks for doing general jobs, it's designed for emailing out form submissions. If you've had to do anything more general purpose than that, you'll realise how hacky the solutions are for making eForm do what you want (

[2013-01-01 18:12] microcipcip commented on #122
I like MailForm.

[2013-01-01 18:18] TimGS commented on #122
For info, suggestions so far with more than one advocate include:

1) Form
2) Inform
3) Mailform

[2013-01-02 13:59] #120 closed, assigned to TimGS

[2013-01-02 13:59] #50 closed, assigned to TimGS

[2013-01-02 14:28] TimGS commented on #60
Also need to transfer this to kcfinder, if we wish to keep it. Alternatively we could dump the feature entirely (I suspect it causes more head scratching than it does help).

[2013-01-02 23:43] TimGS opened #136 "All documents in tree are greyed out as if they are all hidden in the menu."

[2013-01-03 20:51] TimGS opened #137 "kcfinder adds partial site url to returned TV image URLs."

[2013-01-04 11:39] TimGS opened #138 "Installer shouldn't install sample site chunks/templates/TVs unless sample site is ticked."

[2013-01-04 12:32] TimGS opened #139 "Check news feed URLs are updated on upgrade"

[2013-01-05 00:55] TimGS opened #140 "New name for soon to be forked ListIndexer"
ListIndexer needs updating due to a hardcoded mysql_\* statement.

We need a new name.

[2013-01-05 00:55] TimGS opened #141 "ListIndexer needs updating to elimate mysql_data_seek()"

[2013-01-05 02:23] microcipcip commented on #141
What does it do exactly? Is it like Ditto/List?

[2013-01-05 12:49] TimGS commented on #141
It says it lists 'recent documents'. Its on the sample site. I've never used it anywhere else.

As an alternative, we could just dump it from the default install. The sample site needs updating anyway, and as previously discussed could be simplified to just use more 'standard' snippets. It is a minor pain having to deal with miscellaneous snippets such as this in the default install.

Note that th

[2013-01-05 12:56] kp52 commented on #141
I would vote for removal from the standard installation. It's the sort of thing that you might _want_, but would rarely class as a _need_. And the idea does smack a bit of a date "hey look, we got us a website!" approach.

[2013-01-05 17:36] microcipcip commented on #141
I would vote for removal as well. I have never used it and I have never seen anybody in the forum mentioning it. I didn't even know about that snippet till now.

[2013-01-05 18:02] Cipa commented on #141
same here

On Sat, Jan 5, 2013 at 12:36 PM, Salvatore Tedde
notifications@github.comwrote:

[2013-01-05 19:44] TimGS commented on #141
Removed!

[2013-01-05 19:44] #141 closed, assigned to nobody

[2013-01-05 19:45] TimGS commented on #140
Not to be forked. Removed from default install.

See https://github.com/ClipperCMS/ClipperCMS/issues/141

[2013-01-05 19:45] #140 closed, assigned to nobody

[2013-01-07 14:17] TimGS opened #142 "URL TVs: When main field is blanked, protocol should also be erased."

[2013-01-08 10:15] TimGS opened #143 "Forgot Password email"
Ensure from and replyto addresses are OK.

[2013-01-08 10:17] TimGS opened #144 "login processor and use captcha"
Captcha not working on manager login pages.

[2013-01-08 22:17] TimGS opened #145 "List classnames and placeholders"
List is currently little more than a renamed Ditto, with one bugfix and a few fixes for PHP 5.4.

It still defaults to using classnames derived from the Ditto name e.g:

<span class="ditto_currentpage">[+page+]</span>

It also uses placeholders such as:

[+ditto_iteration+]

IIRC the placeholder classnames depend on the name of the Ditto instance, which defaults to 'ditto'. We should consider whet

[2013-01-09 17:18] TimGS opened #146 "Manager config settings selection"
These should probably be moved from the site tab to the interface & features tab:
- Manager Language
- RSS News Feed
- RSS Security Feed

[2013-01-11 23:38] TimGS commented on #115
Is this backwards compatible with Jot?

[2013-01-12 01:39] microcipcip commented on #115
I need to test it. I will report back.

[2013-01-12 20:23] TimGS opened #147 "Remove static export functionality"

[2013-01-12 20:52] TimGS commented on #115
It would be good if Jot had a decent anti-spam solution using an online service such as http://www.stopforumspam.com/.

See also http://forums.modx.com/thread/81517/comment-spam-in-the-demo-mini-blog-howto-article/#dis-post-449718

-- Tim.

[2013-01-12 21:07] TimGS opened #148 "DBAPI::getInsertID() missing"

[2013-01-13 20:02] Cipa opened #150 "not used actions in manager/index.php"
The following action can be removed as I could not find the files they point to
- credits.static.php
- test_page.php : action 999
- about.static.php:  action 59

I already removed them from my jquery implementation

[2013-01-13 20:03] TimGS opened #151 "settings.inc.php no longer works if $modx does not exist"

[2013-01-13 22:41] TimGS opened #152 "Installer needs mootools removing."

[2013-01-13 23:55] TimGS opened #153 "jQuery-ui API"

[2013-01-14 00:02] TimGS opened #154 "List debug file currently works with Resmanager, not Docmanager."
assets/snippets/list/debug/debug.templates.php

_If this is kept, the version number needs changing_

[code]

[2013-01-14 00:40] TimGS opened #155 "Update ManagerManager for new manager HTML"

[2013-01-14 00:41] TimGS commented on #114
Integrated into develop.

[2013-01-14 00:41] #114 closed, assigned to nobody

[2013-01-14 00:42] #137 closed, assigned to TimGS

[2013-01-14 00:45] Cipa commented on #155
We have to wait until we integrate Salvatore's theme. Once we have a stable
theme we can go ahead and do this

On Sun, Jan 13, 2013 at 7:40 PM, TimGS notifications@github.com wrote:

[2013-01-14 10:36] TimGS commented on #155
The theme (as in manager/media/style/) should only affect the CSS and a very limited part of the HTML i.e. the login, welcome and manager lockout pages (not that I remember having ever seen the latter). As such ManagerManager's operation should be independent of themes.

[2013-01-14 10:53] supaweb opened #156 "Moving checkbox TV to tab with ManagerManager"
When moving TV with type checkbox to another tab using ManagerManager rule _mm_moveFieldsToTab_ got an error "ManagerManager: An error has occurred: Error - Syntax error, unrecognized expression: [name^=tv4[]]:first". tv4 in a message is the id of TV. ClipperCMS 1.1, ManagerManager clipper-0.3.12

[2013-01-14 11:31] TimGS opened #157 "Installer to give option for mysql or mysqli"

[2013-01-14 11:35] TimGS opened #158 "Installer uses information_schema directly"

[2013-01-14 11:56] Cipa commented on #155
The html in the theme might change for example the wrappers and class names
around the pagetitle. this will affect at least the part where you can move
fields to new tabs

On Mon, Jan 14, 2013 at 5:37 AM, TimGS notifications@github.com wrote:

[2013-01-14 12:59] TimGS commented on #155
I think we might be getting cross-wired over terminology. A 'theme' consists of all files in managar/media/styles/*/ (currently ClipperCarbon and ClipperModern).

The HTML in the manger/actions/\* pages may well change and MM is indeed dependent on this, though that's not part of the 'theme' in this sense. I don't think any of Savatore's work affects these files. It's probably entirely up to you w

[2013-01-14 13:14] Cipa commented on #155
Just wanted to make sure we don't work on MM until the html is
stable(currently we're using tables but it will change to DIVs).

On Mon, Jan 14, 2013 at 7:59 AM, TimGS notifications@github.com wrote:

[2013-01-14 13:14] TimGS commented on #155
OK

[2013-01-14 20:28] supaweb commented on #156
Problem fixed with newer version of ManagerManager from here http://code.divandesign.ru/modx/managermanager

[2013-01-18 10:20] #153 closed, assigned to TimGS

[2013-01-18 10:21] #147 closed, assigned to TimGS

[2013-01-18 10:22] #96 closed, assigned to TimGS

[2013-01-18 10:25] #148 closed, assigned to TimGS

[2013-01-19 00:26] AgelxNash opened #159 "Error variable name $mailto in save_web_user.processor"
https://github.com/ClipperCMS/ClipperCMS/blob/clipper-1.1.0/manager/processors/save_web_user.processor.php#L434 change $mailto to $email

[2013-01-19 20:21] kp52 opened #160 "develop: ClipperModern theme overwritten, so no login dialog"
in Develop branch, instprocessor.php (line 360) in /installer includes a database query that sets the 'manager_theme' setting to ClipperCarbon, overriding what is set in the setup.sql file (ClipperModern, ll 1144-1146).

There's no ClipperCarbon folder under manager/media/style, so you get a blank screen when you complete installation instead of the manager login dialog.

Cure: delete the query in

[2013-01-19 20:30] kp52 opened #161 "ClipperModern theme: top menu active area too small"
I find the active area of the Change Password, Help and Logout items in the top right menu of ClipperModern theme in the Develop branch very small - clickable only in the top 20% or so of the words. At first I thought the links were not active at all. The ClipperCarbon theme does not exhibit this behaviour.
Modern:
![modern-topmenu](https://f.cloud.github.com/assets/184620/80607/b630971a-6276-11e2

[2013-01-19 21:06] microcipcip commented on #160
This seems the same error: http://www.clippercms.com/forum/manager/fresh-install-upload-new-manager-style-logout-and-blank-manager/

[2013-01-19 21:32] Cipa commented on #161
Same here but. Not sure what is it. Maybe the html has to reorganized

[2013-01-19 21:32] microcipcip commented on #161
What browser and OS are you using? I don't see this problem on Firefox Win7.
It may be a problem with the z-index of #supplementalNav.

Edit: I haven't tried the develop version, I am going to test it now.

[2013-01-19 21:34] Cipa commented on #161
Firefox Mac
Chrome Mac

[2013-01-19 21:49] microcipcip commented on #161
#supplementalNav is not clickable because of "#Navcontainer #divNav {z-index: 2;}"
#supplementalNav needs: "#supplementalNav {position: relative; z-index: 3;}"

[2013-01-19 22:00] fourroses666 commented on #160
Ah yea this is the same problem. Can't find where to fix it.

[2013-01-19 22:06] Cipa commented on #161
works

[2013-01-19 22:24] microcipcip commented on #160
You can rename the folder "manager/media/style/ClipperModern" to "manager/media/style/ClipperCarbon".

[2013-01-20 00:16] fourroses666 commented on #160
I had a custom style called ScienceStyle. Seems all it needs is html map with:

login.html
manager.lockout.html
welcome.html

[2013-01-20 19:45] kp52 opened #162 "develop: "remember tab" setting doesn't remember"
Using the Develop branch, Manage Elements always goes back to the Templates tab when you exit the editing screen of an element, regardless of the Remember Tabs setting In the configuration settings.
Using the develop branch donwloaded 19 Jan, Windows 7, Apache 2.4, PHP 5.3.17, Firefox 17.0

[2013-01-20 19:50] Cipa commented on #162
If you are talking about the develop-jquery branch(I think develop and jquery-develop  are the same at this point in time) than please check mine: https://github.com/Cipa/ClipperCMS/commits/develop-jquery

Not sure when Tim will have time to include it into the main develop branch

[2013-01-20 21:40] kp52 commented on #162
Will download from your repo and try.
Note question about manager/actions/mutate_content.dynamic.php (typo?)

[2013-01-20 21:43] Cipa commented on #162
fixed

On Sun, Jan 20, 2013 at 4:40 PM, kp52 notifications@github.com wrote:

[2013-01-20 22:16] Cipa opened #163 "Extra slash in paths that open the file browser"
Please note the // before browser.html and connectors

http://LOCAL/ClipperCms/manager/media/browser//browser.html?Type=images&Connector=/ClipperCms/manager/media/browser//connectors/php/connector.php&ServerPath=/ClipperCms/

[2013-01-20 22:18] Cipa opened #164 "File browser doesn't open"
I get this when I try to insert an image into a image TV

The requested URL /ClipperCms/manager/media/browser//browser.html was not found on this server.

Removing the double slash doesn't make difference. The was probably moved.

[2013-01-21 10:25] TimGS commented on #160
Fixed, I hope....
https://github.com/ClipperCMS/ClipperCMS/commit/9987dbff62760ae456b22f7eea25f6ca2a55992c

[2013-01-21 10:25] #160 closed, assigned to TimGS

[2013-01-21 10:39] TimGS commented on #162
We can check this again on the next merger of develop-jquery with develop.

[2013-01-21 10:49] TimGS commented on #163
I think this is the same as issue 164.

[2013-01-21 10:49] #163 closed, assigned to nobody

[2013-01-21 15:48] fourroses666 commented on #152
While looking at the top frame of the manager I see some mootools too. Dunno if that can be removed ?

[2013-01-21 15:50] TimGS commented on #152
It's in progress.

[2013-01-24 23:18] #158 closed, assigned to TimGS

[2013-01-25 14:45] #152 closed, assigned to TimGS

[2013-01-28 14:05] etal2 opened #166 "What are the officially supported php versions?"
I could not find this in the coding guide.
When writing new code what php version(s) should be targeted?
Does php 4 still need to be supported? 5.0? 5.1?

[2013-01-28 14:07] TimGS commented on #166
http://www.clippercms.com/about/requirements.html

[2013-01-28 14:07] #166 closed, assigned to nobody

[2013-01-28 14:15] etal2 commented on #166
sorry, missed that.

[2013-01-28 15:39] #138 closed, assigned to TimGS

[2013-01-31 14:52] TimGS commented on #57
The installer (develop branch) will now create the tables in your specified character set and collation, regardless of the database default.

This is not intended as a substitute for creating the database with the correct character set and collation in the first place - but it will assist people such as yourself who do not have the permissions to change the database character set on a shared host,

[2013-01-31 14:52] #57 closed, assigned to TimGS

[2013-01-31 15:38] TimGS opened #167 "Installer needs to detect db engine for upgrades"

[2013-01-31 15:41] #159 closed, assigned to TimGS

[2013-02-01 15:08] #167 closed, assigned to TimGS

[2013-02-10 18:02] microcipcip opened #173 "Issue with some .htaccess rules - 500 internal server error"
# Block directory listings

IndexIgnore *

Options +FollowSymlinks

[2013-02-14 09:39] TimGS commented on #173
I found this http://forums.modx.com/?action=thread&thread=28117 about the latter issue.

[2013-02-14 10:55] #151 closed, assigned to TimGS

[2013-02-14 14:20] microcipcip commented on #173
Ok, should we close the issue then? Maybe it is server-releated.

[2013-02-15 14:00] fourroses666 commented on #2
drag and drop +10000

if I remember correct, Microcipcip had a demo where that worked?

[2013-02-15 16:54] microcipcip commented on #2
It is just plain html, but yes, I did try: http://www.jertix.org/demo/modxmanager3/

[2013-02-16 12:36] fourroses666 commented on #2
Ah yea, thats the one!, it would be so nice to have that working.

Dunno whats possible because of Evo's frameset and if the jp or ru versions of modx already have done the drag and drop but that would be a major + for Clipper.

[2013-02-16 13:17] yama commented on #2
![tree](http://kura2.photozou.jp/pub/550/280550/photo/169343894_org.v1361020443.png)
I make a trial product. I think that this works in ClipperCMS.

[2013-02-16 13:37] fourroses666 commented on #2
:D :D :D great addition, would love to see this in Clipper.

[2013-02-16 15:20] TimGS commented on #173
It certainly depends on the server config. The only issue is whether the server configs that give rise to this are frequent enough to consider.

IndexIgnore is for security. It's not essential and is new to 1.1.

Options +FollowSymlinks is needed for friendly URLs. There is probably more to lose by removing it than by keeping it.

[2013-02-16 15:31] TimGS commented on #173
I've commented out the former and added a comment recommending it to be uncommented unless a server error results.

[2013-02-16 15:31] #173 closed, assigned to TimGS

[2013-02-17 15:02] #150 closed, assigned to nobody

[2013-02-17 15:03] TimGS commented on #144
I have proposed removing this (see the forum).

[2013-02-21 15:14] Cipa opened #174 "A more secure way to change the password"
When I go "Change password" in the top right corner I am not asked for my old password. This could be a problem in some cases and was wondering if we can strength the process by asking the old password. If you really want to change the pass cause you forgot the old one you should use the Forgot Pass functionality.

Not sure how this impacts the Edit user functionality. Maybe ask for your pass if y

[2013-02-22 19:50] TimGS commented on #144
Removed.

[2013-02-22 19:50] #144 closed, assigned to TimGS

[2013-02-22 20:21] TimGS commented on #161
This problem occurs on the develop branch in Opera 12.

[2013-02-22 20:22] #143 closed, assigned to TimGS

[2013-02-22 20:33] #142 closed, assigned to TimGS

[2013-02-22 20:49] TimGS commented on #60
I have implemented your fix for mcpuk.

This config setting does not currently apply to kcfinder.

[2013-02-22 20:49] #60 closed, assigned to TimGS

[2013-02-22 20:59] TimGS commented on #162
I have the opposite problem in the current develop and develop-jquery branches. When this option is _not_ selected, the tabs are still remembered.

If it's easiest, I'd be quite happy to remove the setting and have the behaviour to always be 'remember tabs'.

-- Tim.

[2013-02-22 21:27] Cipa commented on #162
I don't think my implementation uses that setting. I figured is not needed since the remember part is lost when you close the browser or window(don't remember which).

Is this a user setting as well?

[2013-02-23 02:54] nick0 commented on #162
I think removing "the setting and have the behaviour to always be 'remember tabs'." is a great solution Tim.

Who wants to have it not remembered?

[2013-02-23 02:58] microcipcip commented on #162
I don't think is a good idea to remove the setting. Sometimes remember tab can make you lose time because usually you want to edit the "General" tab setting.

If, for example, I open a resource and go to a "Gallery" tab, it doesn't mean that the next time I open that resource or another resouce I want to go on that tab.

[2013-02-23 13:10] kp52 commented on #162
The tabs in question here are the  Manage Elements ones (Templates, Template Variables etc.), not the ones involved in editing resources. The General/Settings tabs selection has always been "sticky", I think (just checked on a MODX 1.0.4 site).

(Edit 25/2) Wrong! I had never associated behaviour of resource tabs with this setting, as it's always been the behaviour of the Manage Elements tabs that

[2013-02-23 17:51] kp52 opened #175 "Ditto config and custom extenders not transferred to List"
If you have Ditto configurations and extenders in files in the Ditto folders, these are not available when you convert the site to Clipper. The custom files work fine once you copy them to the relevant locations in the List snippet folders.

Given that anyone using cofnig files and custom extenders can probably work thisout for themselves, this might be a matter for documentation rather than fixin

[2013-02-23 19:20] TimGS commented on #139
They are.

[2013-02-23 19:20] #139 closed, assigned to nobody

[2013-02-23 21:30] Cipa opened #177 "develop: $manager_theme with / or not"
$manager_theme has a / at the end. I don't think it was like this previously.
In some cases the paths are generated with //. See sysalert.display.inc.php
Will the end slash become standard?

[2013-02-23 21:35] TimGS commented on #177
I don't think it should have the slash.

Do you know which file is causing it to gain the slash?

[2013-02-23 22:23] Cipa commented on #177
I traced the slash to this code, present in a lot of action files

[code]

I don't think there is something we can do for now in sysalert.display.inc.php except remove the extra slash from where the css file is included

I will send send a pull request soon

[2013-02-23 22:38] Cipa commented on #177
The problem is more complex. I think the best solution is to remove the code above from all the action files and redo the paths.

Currently these paths are wrong

href="media/style/ClipperModern//style.css"
href="media/style/ClipperModern//manager.css" />

But if I remove the // from header.inc all the other actions will break.

I am little confused about why the code above was used but I don't th

[2013-02-24 10:29] TimGS commented on #177
Agreed - this needs to be consistent. Remove the code that appends the / in the action files and check all instances of $manager_theme in changed files.

I suspect that the original authors were making provision for an 'empty' manager theme that just used the /media/style/ directory itself - this is a bit messy though, if there is ever a 'default' theme it is best in a 'default' directory.

-- Tim

[2013-02-24 18:45] Cipa opened #178 "develop: in some actions files style.css is included a second time + $theme_refresher"
This seems to be connected to the change theme functionality. I propose we move this variable in the header.inc.php where the style file is inserted or remove it completely.

If we remove it maybe we can find a browser API that could clear the cache but I could not find one.

Currently I think removing it is not a bad idea as we only have one theme and I think this functionality should be implemen

[2013-02-24 20:31] TimGS commented on #178
It looks superfluous -  probably a relic from an earlier system that may not have even been ever implemented.

There is no need to clear the browser cache as different themes have different files.

All instances can be removed (including in setup.sql).

[2013-02-24 20:56] Cipa opened #179 "develop: Creating default object from empty value"
[24-Feb-2013 20:54:04 UTC] PHP Warning:  Creating default object from empty value in /Users/sites/Sites/ClipperCMS/manager/processors/delete_content.processor.php on line 41

line is
$db->debug = true;

I think $db might not be available in there

[2013-02-24 21:02] Cipa opened #180 "develop: can't remove deleted documents from the tree"
Purge is not working on develop. The trash icon is not clickable even if some documents were deleted.

[2013-02-25 10:39] #179 closed, assigned to TimGS

[2013-02-25 10:58] #180 closed, assigned to TimGS

[2013-02-25 11:01] TimGS opened #181 "Manager LH document tree. Slow to appear for large sites,"

[2013-02-25 11:18] #181 closed, assigned to TimGS

[2013-02-26 23:28] #5 closed, assigned to TimGS

[2013-03-01 13:00] TimGS commented on #21
Added to develop.

setlocale() is optionally written to the config file. A check is also made on the welcome page of the manager that the locales are being set correctly - this caters for site moves across servers which have differing locales and also caters for hosts changing server locales.

If PHP is in safe mode then this option won't be available in the installer (I'm not aware of any way of

[2013-03-01 13:00] #21 closed, assigned to TimGS

[2013-03-01 17:18] TimGS commented on #178
Cipa - just checking - are you sorting this or shall I?

[2013-03-01 17:25] Cipa commented on #178
I could try to do it tomorrow or Sunday.
If you have the time why not I haven't started yet

On Fri, Mar 1, 2013 at 12:18 PM, TimGS notifications@github.com wrote:

[2013-03-01 19:59] TimGS commented on #178
Done.

[2013-03-01 19:59] #178 closed, assigned to nobody

[2013-03-01 20:02] TimGS commented on #164
I remember seeing this error but _I think_ it's been fixed.

[2013-03-01 20:02] #164 closed, assigned to TimGS

[2013-03-01 20:05] TimGS commented on #154
Resmanager now has replaced Docmanager, so this is irrelevant now.

[2013-03-01 20:05] #154 closed, assigned to TimGS

[2013-03-01 20:18] TimGS commented on #11
Fixed. Thanks.

[2013-03-01 20:18] #11 closed, assigned to nobody

[2013-03-01 20:26] #136 closed, assigned to nobody

[2013-03-01 22:02] Cipa commented on #155
Also removed any references to the export and keywords functionality

[2013-03-01 22:50] #162 closed, assigned to TimGS

[2013-03-02 19:38] Cipa opened #183 "develop: Cannot access protected property DBAPI::$dbase"
PHP Fatal error:  Cannot access protected property DBAPI::$dbase in /Users/Sites/Sites/ClipperCms/manager/includes/document.parser.class.inc.php on line 3640

[code]

Edit: for the develop branch

[2013-03-02 19:48] #183 closed, assigned to nobody

[2013-03-03 16:24] Cipa opened #185 "Develop: MM: is there a field "log""
The current mm_demo_rules has

[code]

I have no idea what this is. Can I remove it?

[2013-03-03 17:29] kp52 commented on #185
I think this is the "Enable Stats Tracking" checkbox in Settings, enabling you to mark pages for inclusion in or exclusion from your own tracker plugin. I would leave it in - some of the sites I look after have such low traffic it isn't worth getting all wired up for Google etc. tracking, but I'd still like to know where people are going.

[2013-03-03 17:53] Cipa commented on #185
I have "Enable Stats Tracking" but the "log" did not show. Can you confirm on the develop branch?
Maybe I'm looking in the wrong location. I never used this.

[2013-03-03 19:23] TimGS commented on #185
I'm going to look at the default MM chunks anyway - it's already down as another issue.

[2013-03-03 19:23] #185 closed, assigned to nobody

[2013-03-03 19:24] kp52 commented on #185
mm_hideFields('log'); hides the "Enable Stats Tracking" checkbox in a resource's Settings tab. The checkbox is the inverse of the '''donthit''' field in the site_content table. It doesn't do anything, it's just available for custom tracking plugins.

[2013-03-03 20:00] Cipa commented on #185
I already started porting MM to jQuery UI but I won't touch the chunk.
Hope to have something ready soon

[2013-03-03 20:56] kp52 opened #187 "New config warning re LC_ALL"
Installed Develop from GitHub files updated today (3/3/13), and have a configuration warning I haven't spotted before:
'Locale LC_ALL not set correctly'
What does this mean?
LC_ALL as defined in config.inc.php is not detected as being the current locale for LC_ALL.

There's no LC_ALL in my config.inc.php. Is this something to do with me using Windows/Apache as my test server? I haven't tried it on

[2013-03-03 21:00] Cipa commented on #187
Happens on MAMP as well. Not sure what it is either but did not have to
look into it
php 5.4

On Sun, Mar 3, 2013 at 3:56 PM, kp52 notifications@github.com wrote:

[2013-03-03 21:10] kp52 opened #188 "Develop branch: No PHP error messages regardless of config setting"
Using latest version of Develop branch (3/3/13), I tried a simple snippet and a simple module with and without syntax errors, and with and without the "display syntax errors on screen" active. No error message was displayed when the syntax error was present, regardless of the Config setting.

Environment: Windows 7 Home Premium 64; Apache 2.4; PHP 5.4.11

[2013-03-03 22:22] TimGS commented on #187
It's a new (and optional) feature to set locales in config.inc.php.

Have you done a fresh install (or upgrade) since pulling the new files from github?

[2013-03-03 22:45] TimGS commented on #187
Ignore the above message. Now fixed.

See also https://github.com/ClipperCMS/ClipperCMS/issues/21

[2013-03-03 22:45] #187 closed, assigned to TimGS

[2013-03-03 23:41] Cipa commented on #188
Same thing happens to me.
1. Plugin PHP errors are not reported in the manager but I can get them
   from php_error.log in MAMP
2. Sql errors(some of them anyway) are reported in manager only if "Should
   PHP/SQL error messages be shown on the screen." is "Show on screen".

From my discussion with Tim the errors are not reported because of the way
they are evaluated, using eval(). That was my und

[2013-03-03 23:51] Cipa opened #189 "Develop: time to upgrade jquery and jquery ui to the latest, I think"
I would like to do this upgrade as soon as possible. Opinions?

jQuery 1.9.1
jQuery UI 1.10.1

[2013-03-04 09:59] kp52 opened #190 "TV Date Formatter widget "today if blank" fails"
Bug in manager/includes/tmplvars.format.inc.php

If you set the "If no value, use current date" field to Yes in the TV Date Formatter widget and have a blank in the TV's input, it produces the Unix epoch date 1st Jan 1970, not today's date.

I have fixed and tested, but don't want to update the existing Pull request (https://github.com/ClipperCMS/ClipperCMS/pull/186) while it has problems.

I prop

[2013-03-04 10:21] #177 closed, assigned to TimGS

[2013-03-04 10:22] TimGS commented on #189
Go ahead.

[2013-03-04 10:25] TimGS commented on #190
I have cherry-picked the correct commit for #186.

With any pull request I can view the commits and cherry-pick individual ones. I suspect this means however that your fork and the main repo are somehow 'out of step', so yes, best take a fresh fork and then submit the fix for this issue.

thanks,
-- Tim.

[2013-03-04 11:10] TimGS commented on #128
Is this to avoid running the SQL query for documents with no template?

I can't think of ever having documents with no template - but I appreciate that other developers may do things differently. Have you some examples?

Thanks.

[2013-03-04 11:11] #190 closed, assigned to TimGS

[2013-03-04 11:12] TimGS commented on #156
We are having to fork ManagerManager to cope with HTML changes in the manager, but will look at this issue soon.

Thanks.

[2013-03-04 11:17] bossloper commented on #128
"I can't think of ever having documents with no template"
An RSS feed document does not have a template. Any sort of Google site map would likely not have one either.

[2013-03-04 11:22] TimGS commented on #14
Fixed. Thanks.

[2013-03-04 11:22] #14 closed, assigned to nobody

[2013-03-04 11:28] TimGS commented on #128
All my site's XML (including RSS) feeds have a template containing the Ditto/List call. I am guessing you are instead using the content field for this? I steer clear of putting _any_ logic in any content field, but as above "I appreciate that other developers may do things differently."

(Note also http://www.clippercms.com/forum/feature-requests/proposal-rss-feeds/)

[2013-03-04 11:31] TimGS commented on #128
I'll implement the check though.

[2013-03-04 11:39] bossloper commented on #128
Yes, sounds a good idea not to use the content field for logic. I think it was the demo MODx installation for the RSS feed setup at some point, so got swept up from that.

[2013-03-04 11:41] TimGS commented on #128
I've implemented this in DocumentParser::getDocumentObject() - the first quoted instance in document.parser.class.inc.php.

I can't see the other instances in document.parser.class.inc.php being worthwhile - but am willing to be persuaded with examples.

[2013-03-04 11:41] #128 closed, assigned to TimGS

[2013-03-04 11:44] TimGS commented on #175
I'd be happy with this in the documentation. The CMS code will usually not have the permissions to move the files, and leaving the old 'ditto' folder intact is not efficient - thus the best solution is to manually move them.

As you say, if people are using these files, they won't be put off by having to move them.

[2013-03-04 11:45] TimGS commented on #175
Shall I close this, and pass it over to the documentation department ;-) ?

[2013-03-04 12:44] Cipa commented on #189
There is one issue. The new jQuery removed some deprecated functions to make the code smaller. How do you propose to integrate jquery-migrate-1.1.1.min.js.

Solutions:
- add the code to the jquery file
- add a new setting to the configuration area to enable the migrate plugin
- just add an API

Thanks

[2013-03-04 12:53] TimGS commented on #189
Do we need any deprecated functions for the core?

[2013-03-04 13:07] Cipa commented on #189
I don't know yet, some plugins/modules might require them as they are pretty old.

[2013-03-04 13:27] TimGS commented on #189
I suggest looking through http://jquery.com/upgrade-guide/1.9/ to gauge how likely problems are. Nothing stands out as being something that I recognise seeing or using except jquery.browser which will require assets/snippets/webusers/js/jquery.corner2.js to be upgraded to the current version of jQuery corner.

Perhaps we should just upgrade jQuery and then check the core install. I doubt whether j

[2013-03-04 13:27] #127 closed, assigned to nobody

[2013-03-04 14:55] TimGS commented on #55
For now I have just edited the old one by commenting out all but the image TV widget.

[2013-03-04 14:55] #55 closed, assigned to TimGS

[2013-03-04 16:18] TimGS opened #192 "Update jquery corner plugin"
Needs updating when jQuery core updated to 1.9

[2013-03-04 18:49] TimGS commented on #188
Ignore my earlier message. You're right - this is different from the 'old' behaviour. I'll investigate and fix.

[2013-03-05 11:36] TimGS commented on #188
Done. Perhaps! I need someone to double check a few things.

Firstly, there was an error (mine ... oops ) in 1.1.0 which resulted in only E_DEPRECATED errors being handled by the parser's error handler if running PHP 5.3+. I have fixed this and made branch clipper-1.1.1 - once someone double checks that all is now OK with branch clipper-1.1.1 I will link to this version from the clippercms.com dow

[2013-03-05 16:32] TimGS opened #193 "Config setting for PHP error reporting level"

[2013-03-05 16:34] TimGS commented on #189
On balance I'm now wondering whether to stick with jQuery 1.8 for Clipper 1.2. That should give to time to investigate whether the jquery-migrate-1.1.1.min.js plugin is really required.

Cipa - what do you think?

[2013-03-05 16:36] Cipa commented on #189
We can stay on 1.8 until the next release, But I think we can upgrade
jQuery UI. I will look into it asap

On Tue, Mar 5, 2013 at 11:34 AM, TimGS notifications@github.com wrote:

[2013-03-05 21:06] TimGS commented on #189
OK. I'll re-assign this issue to 1.3 - but do upgrade the UI for 1.2 anyway if you think it worthwhile.

[2013-03-06 10:35] #146 closed, assigned to TimGS

[2013-03-06 10:50] #161 closed, assigned to microcipcip

[2013-03-06 11:14] TimGS commented on #19
I've implemented this as a config setting.

The default behaviour does not change. Optionally you can hide docids from non-admins.

[2013-03-06 11:14] #19 closed, assigned to nobody

[2013-03-06 15:11] microcipcip commented on #192
What is this plugin for? Looks like an hack plugin to make border radius work on Internet Explorer, as we are not supporting older versions of IE I think this should be removed.

[2013-03-06 15:27] microcipcip opened #194 "Chrome - remove yellow outline"
On Clipper Develop Google Chrome shows a yellow outline every time you click a tab or a input field. Around line 251 of style.css we could add the following (see [reference code here](http://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome)):
`*:focus { outline: none; }`

[2013-03-06 18:40] TimGS commented on #192
It's in WebUsers/WebLoginPE.

I don't know how it's used though.

[2013-03-06 19:18] microcipcip commented on #192
There is also ieButtonFix.js, which again, looks like an hack for IE.

[2013-03-06 19:24] Cipa commented on #192
Kill them all :))))

On Wed, Mar 6, 2013 at 2:18 PM, Salvatore Tedde notifications@github.comwrote:

[2013-03-06 23:48] kp52 commented on #188
Clipper 1.1.1: Setting "Allow deprecated functions, no error reporting" fails in PHP 5.4 when challenged with deprecated function mysql_list_dbs();

Created snippet containing the function and called it uncached from a page in a fresh install of 1.1.1, on page with minimal template.
Above setting produced error messages:
Deprecated: Function mysql_list_dbs() is deprecated in H:\Clipper-1.1.1\manag

[2013-03-07 10:36] kp52 commented on #188
Current Develop branch (7/3/13): same as above, i.e. "Allow deprecated function, no error reporting" puts error message on screen, other options working.
This behaviour also occurs when the "Show errors on screen" setting is "Not displayed. Halt on blank screen"

In addition, the logging for "Allow deprecated and log errors" creates two simultaneous reports, one longer than the other, e.g.
mysql_l

[2013-03-07 11:03] kp52 opened #195 "Develop: No context menu in tree after first access"
I'm not getting any context menu in the resource tree in the current Develop version (7 March). I think this began after the jquery branch was merged.

The menu does appear just once, the first time it is accessed via the icon or a right-click on the title after login. (Appears a few times in Chrome before failing)

Firefox 18.0.1, IE9 64bit, Chrome 25,
Windows 7 Home Premium, Apache 2.4, PHP 5.4.

[2013-03-07 12:16] Cipa commented on #195
Fixed [here](https://github.com/Cipa/ClipperCMS/commit/3677171b0ddc6639d1c921c669bccf3717d8b4e5)

Tim, could you manually add this pls.

Thx

[2013-03-07 13:16] TimGS commented on #188
@kp52  - what happens when using split(), also deprecated? Also which PHP 5.4 minor version are you using?

I've tried PHP 5.4.12 and I find that almost everything works as intended, except mysql_list_dbs() produces two error messages instead of one for setting "Allow deprecated and log". However setting "Allow deprecated functions, no error reporting" does work as intended as does "Not displayed.

[2013-03-07 14:30] kp52 commented on #188
PHP 5.4.11, Windows 7 Home Premium (64), Apache 2.4
Tried snippet with split, and "Allow deprecated, no error reporting", still have error on the page:

Snippet:

[code]

 Result:
Deprecated: Function split() is deprecated in H:\Clipper-develop\manager\includes\document.parser.class.inc.php(1156) : eval()'d code on line 3
array(4) { [0]=> string(1) "A" [1]=> string(1) "B" [2]=> string(1) "C" [3]=>

[2013-03-07 19:35] TimGS commented on #195
Done.

[2013-03-07 19:35] #195 closed, assigned to TimGS

[2013-03-07 19:42] TimGS commented on #194
Done.

[2013-03-07 19:42] #194 closed, assigned to TimGS

[2013-03-07 19:55] TimGS opened #197 "Accessibility of manager: Keyboard focus indication"
This arises from #194.

Can we have some indication of keyboard focus on links (including tabs) ?

Chrome was doing this (via an outline), though not in an aesthetically ideal manner, hence it's removal in #194.

[2013-03-07 19:58] TimGS opened #198 "Accessibility of manager: Keyboard navigation and tabs"
I suggest removing the tabindex attributes from the manager markup and comparing the result with the current situation for accessibility.

Currently the tabbing is not usable in many browsers. Use of tabindex=-1 is particularly a problem.

[2013-03-07 19:59] TimGS commented on #197
There's probably no rush for this - a fix for #198 is also required for any CSS changes for this issue to be effective.

[2013-03-07 20:14] microcipcip commented on #197
Do you mean focus of input fields or just links/tabs? For input fields is already done on line 444-455 of style.css, although is not much visibile:

[code]

For the link there is already line 135-137 of style.css:

[code]

[2013-03-07 20:24] TimGS commented on #197
Just keyboard focus for links/tabs - though maybe the input focus should be stronger (?).

Can we change 'a:hover' to 'a:hover, a:focus' ?

[2013-03-07 20:31] microcipcip commented on #197
I guess so, I will try and see. What would be the usage for a:focus? When you open Tvs and Chunks?

[2013-03-07 20:34] TimGS commented on #197
For keyboard-only users, any link - most notably tabs and the top menu.

Due to #198, this is academic at the moment, but both issues need fixing at some point.

[2013-03-08 00:35] TimGS opened #199 "Salted SHA1 passwords for webusers"

[2013-03-08 00:49] TimGS opened #200 "Config option(s) for PHP errors e.g. notices/warnings/strict"

[2013-03-08 10:31] kp52 commented on #188
I have now traced this to the php.ini **display_errors** setting. If it's "on" (default development setting), you get the errors showing on the page and the doubled Clipper logging.

Comparing behaviour of deprecated against syntax errors, the latter is more helpful in identifying the snippet, while the deprecated logging refers only to "parser" and "evaluated code line NN". If the name of the fau

[2013-03-08 11:58] TimGS commented on #132
Parse errors now caught. See #188

[2013-03-08 11:58] #132 closed, assigned to nobody

[2013-03-08 12:01] bossloper commented on #188
kp52 - " If the name of the faulting snippet could be specified, it could save a lot of time tracking down bugs."
That would be a great addition if it is possible! It can sometimes currently be almost impossible to trace on a complex site.

[2013-03-08 12:52] TimGS commented on #188
I've modified the error handlers to provide more info.

We can override display_errors at runtime, but I'm not sure if we should. It is a development specific setting. Thoughts please?

http://www.php.net/manual/en/errorfunc.configuration.php#ini.display-errors

[2013-03-09 16:04] bossloper commented on #114
Just tried KCFinder in the latest development branch. A quick look... fine in Chrome, but in IE10 the right-side pane wraps below the left and so buttons and right pane are not visible.
![kcfinder-ie10](https://f.cloud.github.com/assets/1744687/239825/f60101a4-88d2-11e2-9966-e985a1e10122.png)

[2013-03-09 16:10] TimGS commented on #114
I'll make a new issue for this. Thanks.

[2013-03-09 16:11] TimGS opened #201 "kcfinder in IE10"
See comment in #114 .

" ...in IE10 the right-side pane wraps below the left and so buttons and right pane are not visible."

[2013-03-09 16:24] bossloper opened #202 "Insert/Edit Image Window can be very small"
When editing a resource and selecting 'Insert/Edit Image' the popup window can sometimes be very small. It does not always seem to happen. I have seen the issue on IE10 and Chrome v25, but not on Firefox 18.0.2 ... yet.

I tend to use TinyMCE with 'inlinepopups' plugin, which works fine.

![image-window](https://f.cloud.github.com/assets/1744687/239852/875cfa5c-88d5-11e2-8a27-dd0d4668b4e8.png)

[2013-03-09 16:33] bossloper commented on #60
Personally, I think the maximum upload size should definitely be transferred to KCFinder.

Without it users can upload huge files and if on a tightly limited hosting package bring a site down without knowing it.  It at least gives a 'sanity' upper limit that can be set by the admin to guide those site managers who may have no clue about file sizes and the potential impact.

[2013-03-09 16:50] bossloper opened #203 "KCFinder - Enhance interface to help file selection"
For KCFinder it may not be intuitive for some that you have to right click for a menu or double click on a file or image to select it for the editor.

Maybe either a message about double clicking and/or a 'select' button on the top toolbar?

[2013-03-09 17:11] bossloper commented on #188
For production I would hide all system errors.

Not sure if this has been mentioned anywhere, but instead of a blank screen would it make sense to have a custom error page. Some may want to set it up to say 'please contact xyz' or maybe at least indicate to the user that the expected page did not display. A blank page could go unreported for a long time.

[2013-03-09 17:24] bossloper opened #204 "Reports -> View manager logs - Date drop-down not working"
The 'View manager logs' page under 'Reports' does not display the date drop-down for the 'from' or 'to' fields.
Tested in IE10, Firefox 18.0.2 with latest development branch.

[2013-03-10 13:55] kp52 opened #205 "Develop: mm.inc.php deletedcode reintroduced"
ManagerMananger code in mm.inc.php that was removed on 4 March (https://github.com/ClipperCMS/ClipperCMS/commit/a34b0d2863cb44d37421d10946bae17d82526e28#assets/plugins/managermanager/mm.inc.php) has reappeared in later commit (https://github.com/ClipperCMS/ClipperCMS/commit/c310ce8f7e657cde31e432866b433652d5ee5d81#assets/plugins/managermanager/mm.inc.php)

[2013-03-10 14:24] TimGS commented on #205
Fixed.

[2013-03-10 14:24] #205 closed, assigned to nobody

[2013-03-10 18:21] Cipa commented on #189
I upgraded to the lates jQuery UI. See my pull request

I also ran some jQuery migrate tests and except for 2 warnings everything looked good.
One warning was for Res Manager: jQuery.fn.live() is deprecated
The other was for the Search page: jQuery.fn.attr('selected') may use property instead of attribute

What we could do is append jquery migrate to the end of the latest jquery file and remove it

[2013-03-10 18:31] Cipa opened #207 "develop: jquery plugins in assets/js"
I noticed a few jquery plugins in the assets/js folder. Were are they used and why

jquery.colorbox-min.js
- old version
- used by QM

jquery.form.js
- really old version
- used by webusers

jquery.taconite.js
- really old
- used by webusers

On top of that there is a loadingAnimation.gif that I don't think is used. I looked for anything mentioning this file but nothing came up

I'd like to start

[2013-03-10 18:34] Cipa opened #208 "develop: HTML5 doctype for manager"
would like to upgrade the doctype to <!doctype html>

currently we have this:

[code]

[2013-03-10 18:37] Cipa commented on #204
See #206

[2013-03-11 10:48] TimGS commented on #207
If there are new versions of each plugin, just update each file and make a pull request.

[2013-03-11 10:49] TimGS commented on #208
If the manager HTML is valid HTML5 (is it?) then that's seems reasonable.

[2013-03-11 10:50] TimGS commented on #204
@uxello Can you retest?

[2013-03-11 11:22] TimGS commented on #188
I'll close this as I think the original issue is fixed.

Matters arising:
1. display_errors - should we override this? Read http://www.php.net/manual/en/errorfunc.configuration.php#ini.display-errors before commenting and consider also the interaction of non-Clipper software and Clipper itself. Setting display_errors at runtime sets it for everything in that run - so if for example I am including

[2013-03-11 11:22] #188 closed, assigned to TimGS

[2013-03-11 13:12] bossloper commented on #204
Yes working now.

[2013-03-11 13:12] TimGS commented on #204
Thanks.

[2013-03-11 13:12] #204 closed, assigned to TimGS

[2013-03-11 13:16] Cipa commented on #208
From what I've seen the code is compatible with HTML5. From what I read
HTML5 is more permisible than HTML4 and XHTML so I don't expect any
problems even on older browsers.

On Mon, Mar 11, 2013 at 6:49 AM, TimGS notifications@github.com wrote:

[2013-03-11 13:19] TimGS commented on #208
OK.

[2013-03-12 11:19] Cipa commented on #155
sure

[2013-03-12 11:20] #155 closed, assigned to Cipa

[2013-03-12 19:53] kp52 opened #210 "Develop: TVs not working"
I'm finding with a fresh install from yesterday's or today's develop branch that TVs are simply producing no output. With basic no-sample site, I tried a simple Text TV, which produced nothing (checked with a snippet that the name is correct, value exists and TV is available on same page). Installing the sample site, there's no login form in the right-hand column.

TVs working normally in install

[2013-03-12 20:21] Cipa commented on #210
I can confirm this. A TV named TEST1 in my case is not displayed if I add it to the template like [_TEST1_].
No errors are reported. Not sure where the problem is.

[2013-03-12 20:23] kp52 commented on #210
Appears to be a bug in document.parser.inc.php function **getDocumentObject()** (line 1347)
Replacing function def with that from a 4th March version of develop branch makes TV values appear on cue.
??? KP

[2013-03-13 00:16] TimGS commented on #210
Fixed, I hope.

[2013-03-13 00:16] #210 closed, assigned to TimGS

[2013-03-14 00:59] Cipa commented on #201
Fixed, see pull request for develop.

[2013-03-14 01:47] microcipcip opened #212 "Editing of welcome.static.php"
Before Clipper there was an hack of Evolution for editing, by using a chunk, the tabs and content of welcome.static.php page ([link](http://wiki.modxcms.com/index.php/Customizing_the_Manager_Homepage)).

I like to add some custom buttons on the welcome screen (basically in the first tab, before the configuration tab). Is it possible to add this feature? As a temporary solution I have overwritten t

[2013-03-14 10:54] kp52 opened #213 "Develop: QM hangs on Edit Resource"
Using 13 March edition of Develop and sample site, select Edit Resource from Quick Manager menu and screen hangs on "Please wait..." message.

Firebug console reports:
TypeError: $ is not a function
http://wsl/manager/index.php?a=27&id=244&quickmanager=1
Line 791

TypeError: $ is not a function
http://wsl/manager/index.php?a=27&id=244&quickmanager=1
Line 105

![qm-hang](https://f.cloud.github.com/

[2013-03-14 12:41] #201 closed, assigned to TimGS

[2013-03-14 13:40] Cipa commented on #213
Fixed
https://github.com/ClipperCMS/ClipperCMS/pull/214

[2013-03-14 13:41] Cipa opened #215 "remove jquery noconflict from the manager"
I think we should remove jquery no conflict setting from the manager and from all the extras using it. I don't think there is a need for it since we're using only jquery

[2013-03-14 13:41] #213 closed, assigned to Cipa

[2013-03-14 13:44] TimGS commented on #215
Other people might not be using jQuery, so all code needs to be able to optionally use noConflict().

This mainly applies to frontend extras (I think QM needs checking) but could in theory apply to backend extras.

[2013-03-14 13:56] Cipa commented on #215
backend - the code doesn't support the 'noconflict' mode and I am not sure it should. If someone is using other libraries, they should be the ones running their code in 'noconflict' mode.

frontend - we might have to keep this setting for QM to work but I think Qm was ignoring the setting anyway. Maybe we can open a new issue: QM noconflict mode not working.

[2013-03-14 14:02] TimGS commented on #215
backend - OK, that seems reasonable - and now I remember, the noconflict setting is not used in the backend anyway.

frontend - Yes. Any frontend Extras need to use jQuery(), not $().

To clarify - the noconflict config setting is only actually used when including jquery via the API ($modx->regClientJquery()). If set to yes, the jQuery.noconflict() statement is added to the <head>. It's a frontend

[2013-03-14 14:04] TimGS opened #216 "QM noconflict mode not working."

[2013-03-15 22:30] Cipa commented on #215
Closing as it will be done in #216

[2013-03-15 22:30] #215 closed, assigned to Cipa

[2013-03-15 22:39] Cipa commented on #208
I am wondering if we should add something like this. Currently I don't think it's needed but might be useful for older browser support

[code]

[2013-03-15 23:50] Cipa commented on #202
Tested this in the latest IE10, both develop and stable branches and I could not reproduce this issue.
Unless further details are provided there's nothing I can do about IE.

Chrome is the only one with this problem.

[2013-03-16 00:07] Cipa commented on #202
Update:
This seems to be the bug: http://www.tinymce.com/develop/bugtracker_view.php?id=5353

From the looks of it there are 2 solutions: update the code or use the inlinepopups plugin

Fix 1. Update the code. This ticket is still open at TinyMCE so maybe we can update the code with the patch here: https://github.com/tinymce/tinymce/pull/138
This is Chrome bug in the end so I am not sure what's th

[2013-03-16 00:15] TimGS commented on #202
Are there any disadvantages to using inlinepopups?

Can we force every 'Theme' to use inlinepopups, or must it be a custom theme?

[2013-03-17 23:36] Cipa commented on #192
jquery.corner2.js - is only used in the docs for Webusers or WebloginPE so we could keep it

ieButtonFix.js - I can't seem to get read of this one. I removed all the refereces but it is still generated in the cache file so in the frontend as well. It might be a GIt issues that; GIT might restore my file even though I manually removed it. Could someone else take care of this after I commit the WebU

[2013-03-17 23:50] TimGS commented on #192
I can have a look later.

[2013-03-18 00:14] Cipa opened #220 "ManagerManager mm_widget_showimagetvs should show a thumbnail not the original image"
This will slow the manager if images are big and a lot of them. I am looking for solutions to this.

My first thought was to use the
manager/media/browser/mcpuk/browser.php functionality but there might be a better option.

Is phpthumb integrated? Are there any other options?

Thanks

[2013-03-18 00:22] TimGS commented on #220
phpthumb is not integrated.

I suspect the best option here is to use GD, not phpThumb. GD is in the default PHP install, but the present situation should be used as a fallback option if GD is not present.

I think there may be another issue or maybe a forum Feature Request to make the image display part of the core, and remove it from ManagerManager.

-- Tim.

[2013-03-18 00:29] Cipa commented on #220
If we use GD we have to build a custom script that gets a smaller image and
we will probably do this using a similar solution to the one used by mcpuk
or phpthumb but simpler.
That's what I remember from the old days of building image resize tools
with php. I'm not up do date with the latest technologies regarding this
issue.

On Sun, Mar 17, 2013 at 8:22 PM, TimGS notifications@github.com wrote:

[2013-03-18 00:30] Cipa commented on #220
Or maybe use this class only
https://github.com/masterexploder/PHPThumb/blob/master/src/GdThumb.inc.php

On Sun, Mar 17, 2013 at 8:29 PM, Ciprian Badea ciprian.badea@gmail.comwrote:

[2013-03-18 00:53] TimGS commented on #220
Using GD to resize an image without cropping is very easy. We don't have to worry about aspect ratios - just get the image size, calculate a scale factor, and resize. A very few lines of code.

Something like (in PHP-ish pseudo code):
switch(image type)
 case jpeg:
        ImageCreateFromJpeg();
        break;
[GIF and PNG options also]

$scalefactor = 100/imagesize;
imagecreat(...);
imagecopyresa

[2013-03-18 01:00] Cipa commented on #220
I know it's not that hard. I can start working on this soon. Do you see this part of MM or part of the core. If core where do you think this file should live, maybe manager/thumb.php?

[2013-03-18 01:09] Cipa commented on #220
And I just noticed that multiTv thumb functionality might not work with the new mcpuk. It is using the old path "../assets/images/home/.thumb_box_3.png". So maybe we should provide a resize tool that can be used by other extras.

[2013-03-18 01:24] Cipa commented on #216
Please close this as it seems to be working.

[2013-03-18 01:25] Cipa commented on #208
Tim, I think we can close this

[2013-03-18 01:25] Cipa commented on #207
All files have been updated

[2013-03-18 01:25] #207 closed, assigned to Cipa

[2013-03-18 01:30] Cipa commented on #202
I don't think there are any, from my tests everything was ok. I actually tend to prefer inline popups as it's not that messy. Lots of users seem to lose that pop-up window from time to time.

The only issue I see is that users might not use the default TinyMce configuration.

[2013-03-18 08:33] bossloper commented on #202
If a line was added to tinymce.functions.php just before the build call (about line 123) then I think that would work for all configs:

[code]

Update. Or, even better add the line to the build_mce_init function to catch any 3rd party usage of TinyMCE.

[2013-03-18 09:06] TimGS commented on #220
Part of the core, definitely.Maybe in a new directory in manager/media/ e.g. manager/media/view/thumb.php?

re: MultiTV - we can maybe add a htaccess rule to workaround this, and direct it to your new thumb.php

[2013-03-18 09:06] #216 closed, assigned to nobody

[2013-03-18 09:16] TimGS commented on #202
Sounds reasonable to force it - as long as we long as we don't do this by changing the files that come from TinyMCE itself (by this I mean the TinyMCE editor, not the TinyMCE plugin).

As such, editing anything in tinymce.functions.php should be fine.

[2013-03-19 00:46] TimGS opened #221 "chunk and TV text smaller than templates, plugins and snippets (under Elements)"

[2013-03-20 15:44] TimGS commented on #208
Re-opened, because frames/1.php which contains the actual frame, needs (currently) to be in it's 'old' doctype to be valid (HTML5 doesn't include frames as valid elements).

Shall we revert 1.php to HTML4?

I think the contents of each frame can still be HTML5.

-- Tim.

[2013-03-20 15:50] Cipa commented on #208
Relevant:
http://stackoverflow.com/questions/4846019/any-way-of-using-frames-in-html5

I honestly don't think it matters as long as the frames are properly
displayed

On Wed, Mar 20, 2013 at 11:44 AM, TimGS notifications@github.com wrote:

[2013-03-20 16:08] microcipcip commented on #208
I agree with Cipa, I don't think this is going to be a problem.

[2013-03-20 16:11] microcipcip opened #222 "KCFinder - Folder permissions problem"
It seems that with the new file browser it is not possible to assign different folders permissions for each manager user. See this as reference: [Link](http://forums.modx.com/thread/70610/manager-users-limit-to-specific-upload-folder#dis-post-396880)

[2013-03-20 16:26] #208 closed, assigned to Cipa

[2013-03-21 10:41] TimGS commented on #122
We are not updating Eform now beyond any updates issued by MODx, so this issue is now n/a.

[2013-03-21 10:41] #122 closed, assigned to nobody

[2013-03-21 11:22] TimGS opened #223 "Ensure QM+ uses system setting for auto template assignment, and follows the new template rules"

[2013-03-21 11:23] #221 closed, assigned to nobody

[2013-03-21 12:39] Cipa opened #225 "Develop: sql error on template save after upgrade"
see attached image
![Screen Shot 2013-03-21 at 8 38 48 AM](https://f.cloud.github.com/assets/293377/285644/6274f408-9224-11e2-8787-877c8b466183.png)

[2013-03-21 12:42] Cipa opened #226 "Develop: Res Manager installed next to Resource Manager"
But this may be the correct way.

[2013-03-21 12:46] Cipa opened #227 "Develop: error on empty empty module: Undefined index: charset"
This is for an upgraded version not fresh install. Create a new empty module and try to run it.

![Screen Shot 2013-03-21 at 8 45 24 AM](https://f.cloud.github.com/assets/293377/285679/362e7332-9225-11e2-9509-57f3cba5c607.png)

[2013-03-21 12:52] Cipa commented on #225
Happens only using the Template Rules on a new template.

[2013-03-21 12:58] Cipa opened #228 "Develop: when creating a new template the textarea is too big because of the padding"
Basically the frame can be scrolled horizontally. The textarea seems to to have a forced width of 100% + 8px padding on each side. Maybe a wrapper can fix the problem

[2013-03-21 13:58] TimGS commented on #227
Fixed.

[2013-03-21 13:58] #227 closed, assigned to nobody

[2013-03-21 14:07] TimGS commented on #225
Fixed.

[2013-03-21 14:07] #225 closed, assigned to nobody

[2013-03-21 14:14] TimGS commented on #228
Temporary fix done of setting width to 90%.

A bigger issue is the plethora of inline styles in the manager. These would be better removed, possibly changed, and put in common/style.css so theme authors can override them.

[2013-03-21 14:14] #228 closed, assigned to nobody

[2013-03-21 15:23] TimGS opened #229 "Manager inline CSS"
I think we are best moving the inline CSS that permeates the manager into common/styles.css.

[2013-03-21 15:26] TimGS opened #230 "New sample site"
Probably just using Wayfinder and List.

Ideally featuring examples of all placeholder types, including the new cross-references and output modifiers (see http://www.clippercms.com/forum/new-board/ )

[2013-03-21 17:38] Cipa commented on #226
When I upgraded my local setup Res Manager was installed next to Resource Manager. So now I have Res Manager and Resource manager.
I don't think this is bug. Maybe I did not ran an upgrade in a long time, and since then Resource Manager was changed to Res Manager and the installer did not know how to overwrite the existing module.

[2013-03-21 21:08] TimGS opened #231 "keep-session-alive.js and mootools"
There is a comment 'TODO: update session_keepalive to return {"status":"ok"} once mootols is removed'

Presumably this means more to @Cipa than it does to me?!

[2013-03-21 21:10] TimGS opened #232 "Remove mootools from ClipperModern"
There are some styles in style.css that are labelled for mootools. @Cipa - are the needed anymore?

Also the login html file includes mootools.

[2013-03-21 21:11] TimGS commented on #226
I don't think I ever had it as Resource Manager. Maybe install your local copy afresh - it may be something just left over from your development.

[2013-03-21 21:11] #226 closed, assigned to Cipa

[2013-03-21 21:55] TimGS opened #233 "API docs need updating / fixing"

[2013-03-21 22:10] TimGS opened #234 "Consider making setlocale() and timezone dependent on MODX_API_MODE"

[2013-03-21 22:12] #234 closed, assigned to TimGS

[2013-03-22 14:31] Cipa opened #235 "1.1.1 - version not appearing the the top frame"
I see 1.1,

Also install/changelog should show 1.1.1 and a current date + the list of changes

[2013-03-22 14:48] TimGS commented on #235
Fixed.

[2013-03-22 14:48] #235 closed, assigned to nobody

[2013-03-22 15:22] TimGS opened #236 "Manager character set is fixed and doesn't always agree with the db"
The db connection character set is set in the config.inc.php via the installer. This should be the same as the manager page charset as defined in the header and/or meta tag, but this is hardcoded in the language files and is therefore fixed.

Unfortunately changing it to agree with the db causes another problem - the language files themselves may not be in this encoding.

[2013-03-22 16:09] TimGS commented on #236
One solution - ensure that all language files are in UTF8. If UTF8 is not the db connection charset, use iconv to convert the $_lang variable to the charset required.

[2013-03-22 17:09] TimGS opened #237 "Check Simple Chinese language file and ensure it is correct UTF8"

[2013-03-22 17:29] TimGS opened #238 "modx_manager_charset and modx_charset"
Make the same and change $_lang entry for Tools->Config label.

[2013-03-22 17:29] #238 closed, assigned to nobody

[2013-03-22 17:30] TimGS commented on #236
Also ensure that modx_charset and modx_manager_charset become the same, and that the labelling in Tools->Config is brought up to date.

[2013-03-23 10:46] #233 closed, assigned to TimGS

[2013-03-24 23:32] TimGS opened #239 "Installer needs to remove Docmanager"
Add @legacy_names functionality for modules to Installer (etc).

[2013-03-25 15:48] bossloper commented on #239
Just checking what you mean by 'remove'. Is the intention to unpublish the docmanager module that is being replaced? I think this is the usual practice for outdated modules and plugins when running an install.

[2013-03-25 22:51] TimGS commented on #239
Yes. Resmanager renders Docmanager obsolete.

The installer has the capability to disable obsolete plugins, but not modules - hence my note.

[2013-03-26 15:31] kp52 opened #241 "Variable name clash in evalSnippet"
Tried upgrade from 1.1 to 1.2 Beta on site using a snippet via runSnippet. Snippet failed because it has a parameter **&name**. This clashes with the **$name** variable in the document parser **evalSnippet()** function in document.parser.class.inc.php. The effect of the **EXTR_SKIP** parameter for extract() is that the snippet receives the snippet name as parameter instead of the value passed as &

[2013-03-26 19:37] kp52 opened #242 "(Clipper 1.2) Save template fails when using mysqli"
Enabled mysqli database model by setting $database_type='mysqli' in config.sys.inc.php
Error on saving a template:
**Object of class mysqli_result could not be converted to string in \manager\includes\document.parser.class.inc.php on line 3629**

Cause appears to be in \manager\includes\extenders\dbapi.abstract.class.inc.php: function getValue($rsq) assumes parameter is a query if not a resource,

[2013-03-26 20:52] #242 closed, assigned to nobody

[2013-03-26 21:01] TimGS commented on #241
Fixed and the equivalent issue for other variables also addressed.

Also done for evalPlugin()

The convention used is that all variables in these methods are prefixed $___

[2013-03-26 21:01] #241 closed, assigned to TimGS

[2013-03-26 21:21] #239 closed, assigned to TimGS

[2013-03-26 21:36] TimGS opened #243 "Cannot sort menu items via Resmanager. Clicking on a parent just edits/views that document."
Either to fix so as to mimic Doc Manager, or make an extra site tree in the main frame to use instead.

[2013-03-27 10:49] Cipa commented on #243
Weird, used to work for me(doesn't work anymore), any ideas how that functionality is built. I looked around but I am not sure how the click behaviour is modify in the tree.

Thx

[2013-03-27 11:05] TimGS commented on #243
Looking at clipper-1.1.3, function treeAction in the tree frame has different actions depending on the state of variable ca.

I think docmanager hijacks the 'parent' option, which I think (but haven't checked) is what is also used by the core when changing the parent of a document being edited.

[2013-03-27 12:36] #243 closed, assigned to Cipa

[2013-03-27 12:46] Cipa commented on #232
No they can be removed. For example these sections can be removed

[code]

[code]

Not sure about the rest of the styles, I guess we have to check them individually

[2013-03-27 12:50] Cipa commented on #231
I have to look at this in more detail(maybe change the way keep session alive works) and I don't have the time right now. Can this be postponed until 1.3?
It's not a big issue and we can remove the comment if you want.

[2013-03-27 12:51] TimGS commented on #231
What's it do? Why is {"status":"ok"} better?

Will anything not work at the moment?

[2013-03-27 12:59] Cipa commented on #231
I think what I wanted to implement is something like this
From
sessionResponse != '{status:"ok"}'
to
sessionResponse.status != 'ok'

{status:"ok"} not being a valid JSON string I don't think it's possible. Currently the return is just tested as a string not as a JSON object. In order to do the above /session_keepalive.php needs to be modified to return a valid JSON object

This should be an easy f

[2013-03-27 13:00] TimGS commented on #231
OK - so everything works fine as it is then?

[2013-03-27 13:02] Cipa commented on #231
Yes, it's not a bug, it's a comment to improve the code

On Wed, Mar 27, 2013 at 9:00 AM, TimGS notifications@github.com wrote:

[2013-03-27 13:07] TimGS commented on #231
OK, I'll close it then. Fix whenever you want, if you want.

[2013-03-27 13:07] #231 closed, assigned to Cipa

[2013-03-28 20:21] #223 closed, assigned to TimGS

[2013-03-28 20:29] TimGS opened #246 "Button to remove legacy plugins"
Successive upgrades result in plethora of disabled legacy plugins. We need to be able to purge the plugin list of disabled plugins that have names matching an enabled and up to date plugin of the same name.

[2013-03-28 21:15] TimGS opened #247 "Check directory lists on install summary page for all language files"
These lists probably need automating. Some language files have got very out of date.

[2013-03-28 21:19] TimGS commented on #230
We could always just use the Download and About sections of clippercms.com ?!

[2013-03-28 21:56] microcipcip commented on #230
What you mean? For the content or for the design?

[2013-03-28 23:29] TimGS commented on #230
Either or both.

[2013-03-29 11:32] #247 closed, assigned to TimGS

[2013-03-29 16:35] TimGS opened #248 "Check @INHERIT in TVs"
See http://forums.modx.com/thread/75623/new-inherit-binding-bug#dis-post-418819

[2013-03-29 21:44] TimGS opened #249 "Resmanager buttons and styling"
If you go to sort menu items in Resmanager the buttons at the top right (Close Res Manager,  Save, Go Back) have some odd bars at each side. I'm not sure if this is a CSS or markup error.

Seen in Opera 12.

[2013-03-30 00:11] TimGS commented on #248
Seems fine. Cannot reproduce this issue.

[2013-03-30 00:11] #248 closed, assigned to TimGS

[2013-04-10 09:34] #236 closed, assigned to TimGS

[2013-04-10 10:06] TimGS opened #250 "Manager user settings not used"

[2013-04-10 10:13] ghost opened #251 "Manager system configuration language select"
In system configuration all language selection buttons seems to have no function. (e.g. in user tab -> e-mail subject)

[2013-04-10 10:29] #250 closed, assigned to TimGS

[2013-04-10 10:31] ghost opened #252 "Hardcoded messages"
in manager/help/includes/tag_sytax.inc.php we have hardcoded message strings. Please move these to language file.

[2013-04-10 10:35] ghost opened #253 "Datepicker icon & localisation"
There is a icon on the right hand to datepicker fields. I think, it is a relict from mootools  datepicker.
Is a language localisation for the datepicker planned?

[2013-04-10 10:49] ghost opened #254 "Backup page"
In manager backup page the sizes of all database tables are not displayed correctly.
![Bildschirmfoto 2013-04-10 um 12 46 28](https://f.cloud.github.com/assets/2494136/361662/3013525e-a1cc-11e2-856f-f8ba0e5f6f29.png)

[2013-04-10 10:52] yama commented on #254
Maybe, InnoDB?

[2013-04-10 11:03] ghost commented on #254
Yes.

[2013-04-10 22:35] #222 closed, assigned to TimGS

[2013-04-10 23:07] TimGS commented on #222
Now fixed, along with some other related issues .

[2013-04-12 08:12] #202 closed, assigned to TimGS

[2013-04-12 10:19] TimGS opened #256 "Integrate kcfinder with manage files."

[2013-04-12 23:41] #254 closed, assigned to TimGS

[2013-04-22 17:04] kp52 opened #257 "Implement TV previews in core (was ShowImageTvs widget pest returns)"
Using Clipper 1.2 on a site with image TVs, I find I am plagued once more with spurious "Page has been changed, do you really want to leave"? messages when I try to open a different reource, not having changed anything in the current one.

I think this is due to a change in managermanager/widgets/showimagetvs/showimagetvs.php, where a lot of $j... variables have changed to just $...

[2013-04-22 17:10] TimGS commented on #257
The $j => $ change shouldn't be a factor as the manager uses jQuery in non-noconflict mode (excuse the double negative!), but I'm happy to stand corrected if need be!

[2013-04-22 18:31] bossloper commented on #257
I have always (even back to MODx 1.x) had issues with the showimagetvs widget causing the page change trigger to fire.

The 'checkImageTVupdates' function (around line 90) in showimagetvs.php seems to be the issue. It triggers a "change" at least once, the first time it gets the image.

My workaround is to add a couple of lines to the function that checks the status of documentDirty before and aft

[2013-04-22 19:30] TimGS opened #258 "Check fatal error handling and parse error handling in modules."

[2013-04-23 07:25] bossloper opened #259 "Manager Interface Issues with IE10 (Clipper 1.2beta)"
Couple of layout issues with 1.2beta on IE10

1) The sessTokenInput is visible (just) above the menu tree.

2) There is no space above the top tabs (Site, Elements, Modules etc) for the Change Password, Help, Logout panel to slide above the tabs. All looks fine in Firefox.

![ie10](https://f.cloud.github.com/assets/1744687/413172/d9af547e-abe6-11e2-800b-d72186288965.png)

[2013-04-23 08:26] kp52 commented on #257
There have been other solutions, including one that's been through the hands of the original author in the MODX bugtracker. The point here is that there's no $j in Clipper 1.2 (I tried installing the widget file from 1.1, producing errors about its non-existence). I don't know all that much about jQuery and conflict modes; I do know the continual spurious messages are a right pain.

[2013-04-23 08:43] #251 closed, assigned to Cipa

[2013-04-23 10:44] bossloper opened #260 "image type tv with kcfinder when Clipper is installed in a sub folder"
When selecting an image for a image type tv the path includes the sub folder when updating the path.

E.g. if Clipper is installed at /clippercms path for tv image ends up as:

/clippercms/assets/images/logo.png

Then the preview image ends up as: DOMAIN/clippercms//clippercms/assets/images/logo.png

and so does not display. It works fine for mcpuk.

[2013-04-23 10:51] bossloper commented on #257
The plugin runs ok for me in 1.2beta (that uses $ instead of $j) and displays image previews as expected ... though with the issue of triggering a change even if no change is made. But to me that indicates the javascript is running as if $ vs $j was causing an issue then the jQuery script would surely not run and the documentDirty would not be triggered.

Guess my fix does not fully fix it as yes

[2013-04-23 11:25] TimGS commented on #257
Maybe it's time to just dump the widget and have image previews in the core?

Whilst we have theoretically frozen features for 1.2 now, I'm wondering just how profitable it is spending time fixing this, when we could just (and quite simply) have image previews standardised in the core, with a couple of settings in the config for height and width.

[2013-04-23 12:57] bossloper commented on #257
I'm all for moving popular functionality to the core (server side). The less client side script the better in my opinion.

[2013-04-23 13:12] TimGS opened #261 "Installing ResManager should remove DocManager"

[2013-04-23 13:23] microcipcip commented on #259
Ok, thank you! I will review the issue.

[2013-04-23 13:37] TimGS opened #262 "ManagerManager - ReferenceError with undefined variable savedPanelId"
Affects upgrade from 1.1 -> 1.2 and seen when editing a resource.

[2013-04-23 13:39] TimGS opened #263 "CSS tweak needed on view resource data page."
I think this is a CSS issue.

When viewing a folder/container resource, in the tab 'View Children' the "5 Resources in this Container..." text looks like it could do with some whitespace above it (or alternatively the create buttons could do with some whitespace below them).

[2013-04-23 16:26] microcipcip commented on #263
Ok.

[2013-04-24 15:01] #261 closed, assigned to TimGS

[2013-04-24 16:47] TimGS commented on #257
I've implemented this in the core.

It's a bit crude (fixed width and height) as I'm wondering whether to have these width/height options globally in the config or whether to have them specified on a per TV basis. Thoughts please - and also on whether to defer this to 1.3, as width/height is a nice luxury, but not essential.

Using the MM widget will do nothing other than insert a warning entry in

[2013-04-24 20:47] #258 closed, assigned to TimGS

[2013-04-25 09:58] TimGS opened #264 "Check kcfinder updates"
Check http://www.clippercms.com/forum/manager-feature-requests/kcfinder-file-browser-with-useful-features/msg747/#msg747

[2013-04-25 10:32] TimGS commented on #257
As per above, image previews are now in the core. They are fixed at a maximum of 300x100 (the old MM default), and I propose this is what we go with for 1.2.

For 1.3, I propose that this width and height be set for each template variable i.e. in the tmplvars table. So, for example, all instances of a product-image TV would have the same width and height, but this could be different from instances

[2013-04-25 12:25] TimGS commented on #212
welcome.html (used by welcome.static.php) is now in the theme folder i.e. /manager/media/style/<theme folder>/html and can be changed without it being overwritten on upgrades _as long as you do this in a new theme_.

See also forum discussion.

[2013-04-25 12:25] #212 closed, assigned to nobody

[2013-04-25 12:28] TimGS commented on #220
Sorry, I'd forgotten about this thread. The issue of thumbs has been partially fixed in https://github.com/ClipperCMS/ClipperCMS/issues/257 in response to a bug report. Further discussion regarding image TV thumbs should go in that thread.

[2013-04-25 12:29] #220 closed, assigned to nobody

[2013-04-25 12:29] TimGS opened #265 "Fix snippet parameter issue with ?&="

[2013-04-26 16:19] TimGS commented on #264
To be investigated further via PMs with the author.

[2013-04-26 16:19] #264 closed, assigned to TimGS

[2013-04-26 16:24] TimGS opened #266 "Improve code for fixing files prefix returned from kcfinder"
kcfinder prefixes the whole path from the web root to the file, not the site root to the file. This is currently fixed in   manager/includes/tmplvars.inc.php (see https://github.com/ClipperCMS/ClipperCMS/commit/0e69b176eb56baf77d26e4b2b1670b44e700b516) but this solution is a bit hacky - it would be better if different file browsers returned a consistent result.

I suggest having kcfinder's clipper

[2013-04-26 16:32] TimGS commented on #192
I'm dumping the corner plugin for 1.2. It serves little purpose, might as well dump it sooner rather than later.

[2013-04-26 16:32] #192 closed, assigned to TimGS

[2013-04-26 16:45] TimGS commented on #232
Lines 55-99 of manager/media/style/ClipperModern/html/login.html need converting to jquery.

I think that as per @Cipa 's comment lines 1603 to 1653 of manager/media/style/ClipperModern/style.css can be removed.

Once that's done there is no mootools left in the manager, and we can remove the manager mootools directory!

[2013-04-26 18:33] microcipcip commented on #232
About the login area, is it possible to implement this design (http://www.jertix.org/demo/clippercms/login/index.htm)?

[2013-04-26 19:06] TimGS commented on #232
I don't see why not, but maybe best defer it till 1.3 now?

[2013-04-26 19:11] microcipcip commented on #232
Ok.

[2013-04-26 19:12] TimGS commented on #232
It could be part of a new manager theme?

[2013-04-26 23:02] microcipcip commented on #232
I think it should be part of the default theme for ClipperCMS. The current theme is basically the one of MODX Evolution with a different logo.

[2013-04-26 23:08] nick0 commented on #232
Just wanted to say that clipper login concept at the above link looks awesome microcipcip, fantastic work!

[2013-04-27 14:53] kp52 commented on #257
Tested in fresh install on Windows 7 Home Premium, PHP 5.4.11, A[ache 2.4. No thumbnail icons, due to invalid path created at start of \manager\media\image\resize.php. Substituted:

[code]

for

[code]

and it works, but only after resource has been saved first time. Updating filename manually does not update the preview image until resource is saved.

[2013-04-27 17:19] TimGS commented on #257
The former will only work (I think - untested) if the web root of the server is the site root i.e. if your site root is localhost/devsite/, $_SERVER['DOCUMENT_ROOT'] will only return the path to localhost e.g. /var/www, not /var/www/devsite, so the '/devsite' part of the path would be missed out.

I'll scratch my head as to why the current line doesn't work on your install. Does dirname(**FILE**)

[2013-04-27 22:31] kp52 commented on #257
Backward.
Windows XP and later will recognize forward or backward slashes as directory separators, including mixtures in the same path. So how about:

[code]

which works for me.

[2013-04-28 19:34] TimGS commented on #257
Ah - my regular expression will fail on backward slashes. Your suggestion seems a reasonable solution - implemented.

[2013-04-29 12:32] Cipa commented on #262
Do you have a test case?
Is this still the case with 1.1.3?

[2013-04-29 12:33] TimGS commented on #262
v1.2 beta i.e. develop branch.

Seen on all pages on my own site.

[2013-04-29 12:37] Cipa commented on #253
1. I think you are referring to the remove date icon, the one with minus sign, right? That icon should be there to reset the date or remove the date completely.
2. As for localisation, I think we need to have a longer discussion. Are you referring to a way to enter dates in another format? The plan is to switch to html5 date fields and have the browser settings dictate the way dates look.

[2013-04-29 12:40] Cipa commented on #249
Borders are not properly setup in the css. I'll have a look at it asap

[2013-04-29 12:47] TimGS commented on #253
re: 2. Agreed. HTML5 inputs of type="date" submit the date to the server as YYYY-MM-DD. Browsers IIRC are still quite inconsistent in how they display this, but it's reasonable to suspect that they will standardise on display either based on the locale settings as detected by the browser on the user's computer, or via some sort of CSS extension.

There is still a lot of misconception about HTML5 d

[2013-04-29 23:34] #265 closed, assigned to TimGS

[2013-04-30 16:44] Cipa opened #267 "MySQL server strict sql_mode is enabled!"
On a server I get this message when I try to install

Connection to host: passed - collations now available
MySQL server strict sql_mode is enabled!

It is not clear what type of message is this and what should be done about it.

Thanks

[2013-04-30 16:55] TimGS commented on #267
Probably more an issue for the forum (under Support), but I'd read http://dev.mysql.com/doc/refman/5.0/en/server-sql-mode.html.

Not something I know much about, but reading the above I wouldn't expect this on a shared host (is it?)

[2013-04-30 19:15] Cipa commented on #267
It's not shared hosting. It's a dedicated server running IIS6 I believe. Probably MySql was not properly configure at install and now I'm trying to locate my.cnf or my.ini.

My comment was about not showing more details about why this is a error.
If you ignore it and keep installing you will get an error at the end. I did not know this when I posted the issue so I guess this is not an issue anymor

[2013-04-30 19:35] TimGS commented on #267
We could indeed make it more explicit, maybe link to dev.mysql.com, or even refuse to carry on the install after this error.

I don't know enough about it to be sure though. Perhaps just leave it. The message gives a pointer as to the issue, and I think most people with commercial sites running on a dedicated server would have a sys admin to look after it, who would probably know enough to track d

[2013-05-02 09:55] ghost commented on #253
1. Yes, i meant the remove date icon. I'm sorry, but I had not properly understood the function of the icon. Maybe a title-tag would be appropriate.
2. I don't meant a localisation of the date itself - an output of the date in german format as 02.05.2013 would be nice to have - , but i meant the localisation of the date selector. (see image)

![bildschirmfoto 2013-05-02 um 11 37 34](https://f.clou

[2013-05-02 12:02] bossloper opened #268 "Remove datepicker workaround for IE9/10 (1.2dev)"
For develop branch 1.2 beta:

As datepicker is now jQuery based then the fix in the manager/index.php for IE9/10 forcing to IE8 is no longer needed. Around line 70 can be deleted:

header("X-UA-Compatible: IE=8"); // Datepicker needs fixing

[2013-05-02 12:10] TimGS commented on #268
I'm inclined to suggest that this gets deferred to 1.3.

Removing it may be fine for the datepicker, but risks introducing other problems elsewhere in the manager.

[2013-05-02 14:09] bossloper commented on #268
Possibly, thought does it depend on on how long you are holding 1.2 in beta for testing? The longer this stays in place the more likely it is code/css might be crafted that depends on it.

[2013-05-02 14:18] Cipa commented on #253
1. I enabled the default browser tooltip so you can see the icon title https://github.com/Cipa/ClipperCMS/commit/531dc0e9664b792af03630099b8972226741e03c. Further improvments are:
   - move the "No Date" text in the language files
   - globally enable the jquery ui tooltips or create a special type of tooltip for icons with actions(different from the ones explaining some fields like pagetitle)
2.

[2013-05-02 14:18] TimGS commented on #268
This is to be confirmed, but sometime around the end of this month.

[2013-05-02 14:19] TimGS commented on #268
PS. Speaking of which, feedback via the forum is always welcome. It's good to know what does work on 1.2, as well as what doesn't!

[2013-05-02 14:21] TimGS commented on #253
Regarding the posted date, I agree with Cipa. For the time being we will use the current date format - then later the HTML5 format.

Practically speaking, future server side code will accept either the current format or the HTML5 yyyy-mm-dd format.

[2013-05-02 14:25] Cipa commented on #262
I can't reproduce this. Can you give me a test case?

What I did in my case is to create a new TAB via MM and save the document from that tab. What is your setup?

[2013-05-02 14:32] Cipa commented on #262
Can you please test this
https://github.com/Cipa/ClipperCMS/commit/3dfb4168f0d3be6ef2478200bf9e02a69aca29e2

If it fixes your problem please integrate

[2013-05-02 14:46] Cipa commented on #262
Actually I will only do this for MM not for the manager.js. Let's see if it fixes your problem. I reverted this
https://github.com/Cipa/ClipperCMS/commit/71f338eb749940f9b21439ca1ec87f09db43ce7f

[2013-05-02 22:41] microcipcip opened #270 "Remove MODX Logo"
MODX Logo should be removed (from \assets\images\logo.png) and replaced with ClipperCMS Logo.

[2013-05-02 22:53] Cipa commented on #253
@TimGS - when do you expect to have the html5 integrated. If not soon we could try to implement the localization

maybe we should close this issue and start a new one.

[2013-05-02 23:45] microcipcip opened #271 "Output Modifiers + List"
Output modifiers don't seem to be working with List/Ditto.
For example, try this: [+content;limit(200)+]

[2013-05-03 00:45] Cipa commented on #232
I removed mootools from the login page and now almost all the mootools references are coming from the sample site. https://github.com/Cipa/ClipperCMS/commit/deff5fa6946898c762daf0f5d5453f7b75e16550
I know Salvatore is working on this so when ready we'll test one more time for mootools.
setup.data.sql should also be updated with new content and all the mootools and modx references should be removed

[2013-05-03 08:04] ghost commented on #253
It certainly will take some time until all browsers, including the market leaders such as Firefox or IE, can handle HTML5 date fields. I support the proposal of Cipa.

[2013-05-03 08:28] TimGS commented on #270
MODx logo removed. It was used by the sample site. If the new sample site keeps it's images/css/js in assets/templates/sample then we don't need to replace it with anything.

[2013-05-03 08:28] #270 closed, assigned to nobody

[2013-05-03 08:37] TimGS commented on #271
They've only been implemented for content placeholders of the form [_..._].

List's placeholders are not handled by the parser, they are handled by List itself. For 1.2 you can use a snippet e.g. [!Limit? &len=`200` &value=`[+content+]`!].

For 1.3 we can implement output modifiers for List, and for [+...+] placeholders that are handled by the parser.

[2013-05-03 08:54] TimGS commented on #253
In summary:
1. the icon has been, or will be made, more clear as to it's purpose.
2. the datepicker's language e.g. May vs Mai vs etc etc etc should now perhaps be an issue for 1.3+. I think this was the OP's original meaning of localisation.
3. the posted date fields currently submit in dd-mm-yyyy as per MODx. In future they will post yyyy-mm-dd as per HTML5. Server side code can be made to handl

[2013-05-03 08:54] #253 closed, assigned to Cipa

[2013-05-03 08:55] TimGS opened #272 "Language used in datepicker should reflect the manager (user's) language."

[2013-05-03 09:13] #262 closed, assigned to TimGS

[2013-05-03 09:14] #249 closed, assigned to Cipa

[2013-05-03 09:17] #232 closed, assigned to microcipcip

[2013-05-03 09:34] TimGS commented on #232
coroico coroico@wangba.fr is maintaining ajaxsearch. It is now at https://github.com/ClipperCMS/AjaxSearch. I have made some changes (v 1.10.0) but I have always consulted coroico out of courtesy.

AjaxSearch does include mootools, but as far as I am aware, only as frontend code. If developers want to use mootools in the frontend of their sites, that's up to them - it's not for us to decide how th

[2013-05-03 10:42] Cipa commented on #232
Tim - can do a search for mootools.js and let me know if it's ok to remove it.
I'm not sure what happend yesterday but now I get different results when searching for mootools.js(the one in the core) and I think we are safe to remove it.

[2013-05-03 10:57] TimGS commented on #232
On reflection, I think we should leave it in for 1.2 as AjaxSearch (by default) requires it for ajax search mode. Other third party snippets may also require it, and authors should have more warning that it will be removed.

AjaxSearch has three JS modes - jquery, mootools (use the manager mootools script) and mootools2 (use ajax search's slimmed down mootools file). The default is mootools.

We c

[2013-05-03 11:40] Cipa commented on #232
I'm fine with both solutions. Keeping the file is on the safer side,
hopefully this is all the third party snippets you are talking about
require.

On Fri, May 3, 2013 at 6:57 AM, TimGS notifications@github.com wrote:

[2013-05-03 18:47] microcipcip opened #273 "Fix Tabs style"
Tabs style doesn't show up until jQuery is loaded (so during the loading of the resource), this is probably because jQuery UI apply some classes. We should fix this in the CSS so that tabs are visible even if jQuery UI has not loaded yet.

[2013-05-03 18:49] TimGS commented on #273
This is probably something for common/style.css.

[2013-05-03 19:20] microcipcip opened #274 "Quick Manager "cancel" button not working"
When I open Quick Manager, if I click the "Cancel" button next to "Save" button, it does nothing and I see this error in the firebug: "TypeError: parent.$.fn.colorbox is undefined".

[2013-05-06 21:40] Cipa opened #276 "1.1.3 - errors on local setup with mamp and php5.4.4"
[code]

[code]

The first one can be resolved by changing that function to mysql_real_escape_string.

The second one is weird. I think it might have something to do with $content['template'] but I am not sure.

Any ideas what it might be?

Thanks

[2013-05-06 22:29] TimGS commented on #276
Are you sure you have an up to date ManagerManager? My local clone of the repo has line 145 of assets/plugins/managermanager/functions/utilities.inc.php already converted to $modx->db->query().

Nothing in the core or default install should have mysql_\* calls anymore, except for:
1. manager/includes/extenders/dbapi.mysql.class.inc.php
2. AjaxSearch - which tests for the existence of $modx->db->ge

[2013-05-06 22:34] Cipa commented on #276
In the corner it says 1.1.3 and \* I just downloaded the files*
_if you look at
https://github.com/ClipperCMS/ClipperCMS/blob/clipper-1.1.3/assets/plugins/managermanager/functions/utilities.inc.phpyou
can see the mysql__ function
*

On Mon, May 6, 2013 at 6:29 PM, TimGS notifications@github.com wrote:

[2013-05-06 22:40] TimGS commented on #276
Sorry, yes of course, it is an error in 1.1.3. Fixed in 1.2. We could release a 1.1.4 fix if it's deemed serious enough to not wait for 1.2 to be released (provisionally the end of the month).

[2013-05-07 02:17] Cipa commented on #276
Everything seems to work. They are just warning in the end.
At least lets document the fix for second error. I see only one difference between develop and 1.1.3, some extra ().

This should be the fix

[code]

[2013-05-07 08:59] TimGS commented on #276
OK. Am I right in thinking that develop works fine on the same server setup?

[2013-05-07 10:53] Cipa commented on #276
I don't remember seeing these errors but if I will check one more time

On Tue, May 7, 2013 at 4:59 AM, TimGS notifications@github.com wrote:

[2013-05-07 10:57] Cipa commented on #276
No errors, should we close this than?

On Tue, May 7, 2013 at 6:53 AM, Ciprian Badea ciprian.badea@gmail.comwrote:

[2013-05-07 11:03] TimGS commented on #276
Closing...

[2013-05-07 11:03] #276 closed, assigned to TimGS

[2013-05-08 12:27] microcipcip opened #277 "TinyMCE Skin"
As for ClipperCMS 1.1.3, TinyMCE skin should default to "o2k7 Silver":

skin : "o2k7",
skin_variant : "silver"

[2013-05-09 14:33] kp52 opened #279 "1.2 Default Child Template dropdown misleading"
The Default Child Template dropdown in the Create/edit Template screen shows "(blank)" as the current setting (unless you choose something else), "Create resource here" when nothing has been set in the Create/edit Template dropdown actually follows the setting in Configuration.

It would be helpful if the dropdown showed what will result from the current config setting rather than "(blank)".

[2013-05-09 16:05] microcipcip commented on #279
Good idea, this would be better. For example: Default Child Template: "Use system setting".

[2013-05-12 17:33] kp52 opened #280 "1.2: no ajax with ajaxsearch under PHP 5.4"
Simple test page with AjaxSearch call below hangs on "Loading" image using latest version of Clipper 1.2 under Win 7 Home Premium, PHP 5.4.11

[code]

Firebug reports syntax error in line 24 of ajaxSearch-jquery.js

Similar problem if AjaxSearch is using Mootools, so it looks as if it's whatever calls the javascript that is causing it.

Same call works using 1.2 on Linux host with 5.3.23, or on my

[2013-05-12 17:56] TimGS commented on #280
If using Mootools, where does Firebug indicate the error is?

[2013-05-12 18:10] kp52 commented on #280
ajaxSearch.js line 25 col 1
Firebug report shows empty parentheses with cranked arrow pointing just after.

[2013-05-12 18:14] TimGS commented on #280
I suspect the ajax response via index-ajax.php is returning empty. Can you check this in Firebug?

[2013-05-13 09:59] kp52 commented on #280
Not sure what I'm looking for here, but Ihave established a difference between Firebug readouts for the failing Clipper 1.2 test page and one on a MODX 1.0.6 site running in the same environment (i.e. under PHP 5.4). The Console/All screen shows some JSON data and a response for the successful (1.0.6) page after submitting a search; the Clipper one has identical POST data, but no JSON and no Respo

[2013-05-22 09:34] bossloper commented on #274
I get a similar error if I have the Configuration -> Site "Use jQuery.noConflict()" setting set to 'Yes'.
Switching it to 'No' worked for me.

[2013-05-22 09:58] bossloper opened #281 "QuickManager Cancel - If TinyMCE field altered it gives late message"
Issue:
Firefox and IE
Edit a resource at the frontend using QuickManager
Make an alteration to a TinyMCE field
Click Cancel

Result:
QuickManager windows closes THEN a message pops up saying 'are you sure you want to leave this page'
This message is too late in the process and clicking 'No' has no effect.

Also if a change is made to a none-TinyMCE field then no warning is displayed if cancelling

[2013-05-22 13:49] ghost opened #282 "System info: Database sizes when using innoDB-engine"
In Tab "Reports" -> "System Info": Database tables - The sizes are not displayed correctly when using the InnoDB-engine. (same as issue 254)
![bildschirmfoto 2013-05-22 um 15 36 26](https://f.cloud.github.com/assets/2494136/548521/e6f85200-c2e5-11e2-9120-2e813085e61c.png)

[2013-05-27 15:42] TimGS commented on #277
Which files need changing?

[2013-05-28 01:20] yama commented on #277
https://github.com/ClipperCMS/ClipperCMS/blob/develop/assets/plugins/tinymce/js/mce_init.js.inc#L6
Insert this line.

[2013-05-29 22:46] TimGS commented on #282
Can you double check this is with an up to date copy of the develop branch?

Between 'Records' and 'Data Size' should be a new column 'Engine'. As this is missing I think this is just a duplicate of the previous similar issue, seen on an old version of the code.

I have checked with a fresh default install and this works OK.

thanks,
Tim.

[2013-05-29 22:58] #279 closed, assigned to TimGS

[2013-05-29 23:01] #277 closed, assigned to nobody

[2013-05-29 23:01] TimGS commented on #277
Thanks.

[2013-05-30 00:03] Cipa commented on #273
This probably only happens the first time when you load the manager or after you cleared the cache.
I'm might be wrong but I don't think there is much we can do because jquery ui almost completly modifies the html.

Can you confirm that this happens every time?

[2013-05-30 03:01] microcipcip commented on #273
Yes, it happens everytime. You can see the issue online (not always, but almost), probably in localhost it loads too fast to be seen.

[2013-05-30 14:10] ghost commented on #282
Hi Tim

I have just downloaded the current development version and made a fresh default install.
Sorry, but the Display of database tables in Backup-Section is OK, but in System-Info-Section still the "wrong" table ist displayed. Tested it on 2 different servers.

[2013-05-30 18:09] TimGS commented on #282
Sorry, my misunderstanding.

[2013-05-30 18:22] TimGS commented on #273
Cipa is right about the HTML - and I'm also not sure what we can do about it. Targetting the generated HTML will only work until the jQuery folk change what HTML is generated.

Can you check in Firebug and other developer tools on other browsers whether the issue is the _loading_ of the jQuery (or any other) file, or whether it is just slow execution.

I've not noticed an issue myself but I have b

[2013-05-30 18:46] Cipa commented on #273
I talked to Salvatore about this in private and so far I think that there
is a delay before manager.js is executed. Might be the
javascript embedded into the html of that page. We'll have to do some tests
and see when manager.js code is executed and what exactly delays that
execution.

On Thu, May 30, 2013 at 2:22 PM, TimGS notifications@github.com wrote:

[2013-06-02 15:02] TimGS opened #284 "When editing a resource, child resources are highlighted in the LH tree"
When editing a container resource, it is correctly highlighted in the left hand tree frame.

However all child resources are also highlighted.

[2013-06-02 15:03] TimGS opened #285 "@SELECT possibly not working"

[2013-06-02 20:55] #282 closed, assigned to TimGS

[2013-06-02 21:11] TimGS commented on #282
Fixed. I have also made the two relevant manager actions (system info and backup) use the same database info code to avoid similar situations in future when one gets fixed but the other is forgotten.

[2013-06-03 11:29] #285 closed, assigned to Cipa

[2013-06-03 11:30] Cipa commented on #284
I might be missing something. When I click on a container, only the container gets the border. The children look exactly the same but without the border.

Can I get a screenshot of what you see or maybe a test case?

[2013-06-03 11:43] TimGS commented on #284
Further clarification - it's _only_ when right clicking on a resource and then selecting edit from the context menu. Furthermore then clicking another resource does not unhighlighted the earlier resource(s).

Single left clicking is fine.

[2013-06-03 11:45] kp52 commented on #284
Same here

[2013-06-03 11:56] Cipa commented on #284
fixed, merge please

On Mon, Jun 3, 2013 at 7:45 AM, kp52 notifications@github.com wrote:

[2013-06-03 12:08] #284 closed, assigned to Cipa

[2013-06-05 11:58] TimGS commented on #280
I've tried with PHP 5.4.11 under linux - and the posts work fine here.

I think we may need you to look in your error logs in your Windows Apache install. Alternatively:

Quick test - If you substitute index-ajax.php in the site root with the version from MODx 1.0.6 does it start working?

Not so quick test - If you install AjaxSearch 1.10.0 (https://github.com/ClipperCMS/AjaxSearch) in MODx 1.0.6

[2013-06-05 12:23] TimGS commented on #281
@uxello - I have implemented your code with minor changes as required for Clipper's QM+ version clipper-1.6. Can you check it is as intended?

Thanks.

[2013-06-05 13:33] #274 closed, assigned to TimGS

[2013-06-05 13:33] TimGS commented on #274
Fixed.

[2013-06-05 13:59] bossloper commented on #281
Yes, that is working as expected.

One thing I have just noticed. The 'advanced' TinyMCE theme does not have any plugin listed, hence there is no 'autosave' plugin which is needed to check for edit changes.

See line 104 ish of assets/plugins/tinymce/tinymce.functions.php

Not sure if the total lack of plugins for the 'advanced theme' is by design or not??
Most of the other themes look fine, thoug

[2013-06-05 15:06] bossloper commented on #281
Still in dev... Just found a parameter miss-match when calling QM from the plugin. The call in the plugin has 19 parameters:

$qm = new Qm($modx, $modx->config['jquery_noconflict'], $loadtb, $tbwidth, $tbheight, $hidefields, $hidetabs, $hidesections, $addbutton, $custombutton, $managerbutton, $logout, $autohide, $editbuttons, $editbclass, $newbuttons, $newbclass, $tvbuttons, $tvbclass);

but the f

[2013-06-05 16:09] kp52 commented on #280
index-ajax.php from MODX 1.0.6 worked. Further checks revealed the problem: different directory separators in the string comparison towards the end of Clipper's index-ajax.php. Replacing

[code]

with

[code]

fixed it. You may prefer a more elegant solution.
:) KP

[2013-06-06 00:18] #280 closed, assigned to TimGS

[2013-06-06 00:21] TimGS commented on #280
Done. I put the second line in the code further down - just to separate the first 'config' line from the logic.

We may have to separate the first line from this file. If anyone changes it for any sites, then on upgrade it will be overwritten. On the other hand I'd be quite happy to deprecate use of this file anyway - it is inherently a potential security issue if allowed_dirs is changed by someon

[2013-06-06 15:49] TimGS commented on #281
re: autosave. Don't know. Maybe discuss this on the forums.

[2013-06-06 15:55] TimGS commented on #281
re: tpltype, tplid. I've a feeling these may be obsolete. Anyone disagree?

[2013-06-07 15:34] microcipcip commented on #259
I am unable to replicate this issue.Well, I am basically unable to use the manager in any version of Internet Explorer. Does anyone have this issue? I have attached a screenshot, as you can see the menu is broken. If I look the code with Internet Explorer Developer tools, I am unable to see the css styles.

![ie](https://f.cloud.github.com/assets/585402/624526/9a6317c8-cf87-11e2-8be4-39601530bd4b.

[2013-06-07 15:44] microcipcip opened #289 "Missing closing div on manager/frames/menu.php"
There is a missing closing div on "manager/frames/menu.php" line 55 <div id="topbar-container">. **This div should be closed on line 61.**

This fix need a change in the css file on: /manager/media/style/ClipperModern/style.css, line 935 of (#divNav ul ul) need this change: padding: 2px 0 4px; => **padding: 4px 0 4px;**

So the final css is as follow:

[code]

[2013-06-07 15:54] kp52 commented on #259
Working normally for me here in IE9 (64-bit). The tree was a little slow to appear on first entry.

[2013-06-07 16:50] kp52 opened #290 "Res Manager bulk update failure"
Attempted to use Res Manager to update the Published flag on a block of resources on the live Demo website. It came back with a failure message. Same happened when a single resource was submitted.
![res-man-publish-set](https://f.cloud.github.com/assets/184620/624943/2e8acf72-cf92-11e2-890a-5eb684d973d6.jpg)
![res-man-publish-err](https://f.cloud.github.com/assets/184620/624946/371652ec-cf92-11e2-

[2013-06-07 23:34] Cipa commented on #273
After some more testing it seems like the best solution is to apply some default styles/classes to the tabs, unless someone else thinks it could be a delay in execution.

I tested using https://developer.mozilla.org/en-US/docs/Web/API/console.time and I could not find any major delays. I could be doing it wrong.

[2013-06-07 23:49] Cipa commented on #260
Is this for the develop branch, cause I can't reproduce it?
On my local server when I insert an image I get the correct path and clipper is installed in a folder

[2013-06-07 23:53] Cipa opened #292 "Create subfolder option inside "images" not intuitive."
Maybe we can hide the default 'images' folder and allow the context menu to be shown when you right click anywhere within the left panel.

Or add a small note above the "images" folder

[2013-06-08 14:21] microcipcip commented on #292
I am not sure about removing the "images" folder, that could make it even more difficult to understand. I think that once that the user understand the way ClipperCMS tree menu works, it shouldn't be too difficult to understand how to create nested folders, as it works in the same way as ClipperCMS itself.

An alternative would be to add a help page with instructions or maybe a button to add root f

[2013-06-08 14:38] microcipcip commented on #260
I can't reproduce it either. I have installed ClipperCMS Develop in a sub-sub folder, then I have added images from both TVs and TinyMCE and they all return the right path. I have tried with Friendly URL turned off and on. I remember that I have encountered this issue before, but it was fixed by Tim.

Are you using the latest ClipperCMS Develop? Or is this a version you've installed before? If thi

[2013-06-08 17:58] bossloper commented on #259
Yes looks fine for me under latest dev code. I think it must have been a cached css file.

[2013-06-08 17:58] #259 closed, assigned to microcipcip

[2013-06-08 18:07] bossloper commented on #260
Hmmm, looks fine now. I can only put it down to an old code version. I updated to the latest dev last week.
Sorry guys.

[2013-06-08 18:07] #260 closed, assigned to nobody

[2013-06-08 19:12] TimGS commented on #292
I'm also happy to leave as is - but alternatively this may be worth posting in the forum for ideas and suggestions.

The context menu needs to only appear when right clicking on a folder as it relates to that folder (or subfolder). It could be confusing if another menu appeared anywhere.

One possibility is a 'menu' icon immediately after the folder name - normal clicking then activates the contex

[2013-06-08 19:22] Cipa commented on #292
I'm personally fine with it as is but it took me 30 seconds to figure it out. Now that I know it's easier

[2013-06-08 19:24] TimGS commented on #273
I've checked on a site running 1.2beta on a shared host - I see a delay on the first manager page load for the main tabs i.e. the topmost frame. I don't see any delay afterwards on any further page loads. Checked in Opera and IE9.

Either I misunderstand the issue (?), or - as I see it - there is nothing to fix!

[2013-06-08 19:26] #263 closed, assigned to microcipcip

[2013-06-08 19:26] #289 closed, assigned to nobody

[2013-06-09 02:08] microcipcip commented on #273
I see the issue even after first loading (you can try on ClipperCMS demo website, it is random, I use Win7 64bit with Firefox). I didn't have time yet to fix this, as I was having some issues with the demo website, but will try to fix this at the beginning of next week.

[2013-06-09 17:27] microcipcip commented on #273
Can you test this fix? On /manager/media/style/common/style.css add the following:

[code]

[2013-06-09 18:57] TimGS commented on #273
Added. Feel free to close the issue if this is now fixed.

[2013-06-10 10:19] kp52 commented on #290
Still not working for the "Other Properties" tab. There is nothing in the "newvalue" POST parameter when you try to update a field.

[2013-06-10 11:19] Cipa commented on #290
Can you send me a test case?
I tested Resource dates and Misc Res Settings and it works ok on my local
setup. I also attached what I see in the post
![screen shot 2013-06-10 at 7 17 57 am](https://f.cloud.github.com/assets/293377/631273/9139aa62-d1c2-11e2-8b4e-93f6423d347b.png)

[2013-06-10 14:08] kp52 commented on #290
Working now - seems to have been a browser cache issue. I installed a fresh copy of Clipper-develop, and Res Manager worked for this feature in Firefox, but local copy of demo site (with updated files form same source, upgrade install etc.) continued to fail in both Firefox and IE9.
Site worked OK in Chrome, which had never seen it before.
Firefox fought a bitter struggle, but gave in eventually a

[2013-06-10 14:08] #290 closed, assigned to Cipa

[2013-06-14 15:36] TimGS commented on #281
tpltype and tplid now removed.

[2013-06-14 15:36] #281 closed, assigned to TimGS

[2013-06-15 05:08] TimGS opened #294 "Opera tabs underlining issue (?)"
Opera 12.15 shows an issue with the underlining in the tabs when hovered over. See screenshot where only part of the link is underlined.

![screenshot - 150613 - 06 05 31](https://f.cloud.github.com/assets/311052/657723/bb77f418-d579-11e2-9509-2553d9b633ab.png)

[2013-06-15 05:21] TimGS opened #295 "Minor CSS issue in manager"
On Create/Edit template, could the first five inputs/selects be of matching width? Includes:

Template name:
Description:
Existing Category:
New Category:
Default child template:

"Restrict child templates:" can probably stay as is - it's only yes/no.

A similar issue exists for Create/edit Module, and also for Create/edit Chunk.

[2013-06-15 12:26] Cipa commented on #272
Hi all,

A quick fix to this is to add the following code to header.inc.php in the head portion. This might not work for all the languages as language codes differ slightly for some countries.

[code]

What this does is to load the appropriate language files from github.

@TimGS - Let me know if you want this before the launch. I think that all we have to is to add the language files to assets/js/

[2013-06-15 13:01] Cipa commented on #295
I had a look at the code and it seems like there some hardcoded styles for these fields both in css and html. The way I see this working is to remove these specific styles and let the fields inherit the default width. Also for drop-downs I recommend using their default width based on the width of the options, otherwise you end up with 'width: 313px' in your css.

I also attached 2 screenshot one f

[2013-06-15 13:04] microcipcip commented on #295
It is difficult to have the same lenght for all fields because when you change the width in one page it is changed in other pages too.

I think we can delay this until we remove the tables and we have a proper layout in place. There are a lot of inline css rules and the tables are a mess to work with.

[2013-06-15 13:11] microcipcip commented on #294
I can't see this issue. Tested with latest version of Opera and Win7 64bit.
![opera](https://f.cloud.github.com/assets/585402/658122/030b893c-d5bd-11e2-988e-f5f242154d31.jpg)

[2013-06-15 13:16] microcipcip commented on #273
Does anyone found any issue with this fix? I have tried to delete assets/js/ folder and I see the tabs all right in all major browsers. Should I close it?

[2013-06-15 13:25] TimGS commented on #272
I think at this point we should defer till 1.3.

re: zh-cn (simplified chinese) and zh-tw (traditional chinese). The chinese file in manager/includes/languages is simplified chinese. I don't think we should rename any jquery files - instead I think we should use jquery-ui-timepicker-zh-CN.js and this code should:

1) Use the file jquery-ui-timepicker-<lang code>.js if it exists.
or
2) Use the firs

[2013-06-15 13:28] TimGS commented on #273
Assuming you've checked the latest version of develop, and you are happy with it, close this one.

[2013-06-15 13:29] TimGS commented on #294
OK. I suspect it's an odd bug with this version or build of Opera, and not something widespread. Closing...

[2013-06-15 13:29] #294 closed, assigned to microcipcip

[2013-06-15 13:33] TimGS commented on #295
Can you come up with an interim solution for 1.2, in the next few days?

Remove any inline styles you need to! The height issues are not good and should be fixed for release. Width issues are desirable to fix, but IMHO not essential.

-- Tim.

[2013-06-15 13:42] Cipa commented on #272
How about changing the language code in the chinese language file?

On Sat, Jun 15, 2013 at 9:25 AM, TimGS notifications@github.com wrote:

[2013-06-15 13:47] Cipa commented on #273
Not sure if related but I think the 2 tabs Access Permission and Categories should not be visible OR why are they empty? Can you test on your setup?

![screen shot 2013-06-15 at 9 46 12 am](https://f.cloud.github.com/assets/293377/658162/12b070f0-d5c2-11e2-89ea-c1e9bd0037c1.png)

[2013-06-15 13:49] Cipa commented on #295
Will try

On Sat, Jun 15, 2013 at 9:33 AM, TimGS notifications@github.com wrote:

[2013-06-15 13:53] TimGS commented on #295
Ta.

I've fixed the visibility:collapse issue in https://github.com/ClipperCMS/ClipperCMS/commit/2b5615b59b649b50f2f30ebcd9e6e54707250c00

[2013-06-15 13:55] TimGS commented on #272
It would almost certainly result in problems elsewhere. At the moment code may reasonably assume that $modx_lang_attribute is a two letter alpha code as per ISO 639-1. I think this should stay the same otherwise we'll have a few bugs to find and fix.

[2013-06-15 13:56] TimGS commented on #273
Is this the old sample site, new sample site, or something else? Which docid?

[2013-06-15 14:48] microcipcip commented on #273
I have installed ClipperCMS two times. One with the Demo Website and one without.
1) With the demo website installed, I see 3 tabs: General, Settings, Access Permissions (with All Resource Groups (Public)/Site Admin Pages).
2) Without demo website installed, I see 3 tabs: General, Settings, Access Permissions (empty).

 ~~Was "Access Permissions" tab hidden when it was empty, before my fix was app

[2013-06-15 15:13] TimGS commented on #273
There is an omission - see line 549 of mutate_content.dynamic.php. There is a todo still to be done!

Regarding the todo, JS seems the best option at the moment to avoid introducing bugs, but in the longer term (1.3?) it should be done server side. Alternatively, and perhaps more simply, perhaps if no document groups exist, and hence this tab is irrelevant as per the default 'minimal' install, we

[2013-06-15 16:48] microcipcip commented on #273
Not sure about introducing new text as we would have to translate it. Maybe would be easier to remove the tab altogether? I guess we would have to test MM plugin after that, to make sure it still works.

[2013-06-15 19:06] TimGS commented on #273
Translations not a big deal - in the absence of a translation the English is used as a fallback, so only this file need be complete. There are many strings that only exist in English - most new features that appear in the manager or are edited via the manager need some text. Also many language files don't look to have ever been complete e.g. Hebrew.

@Cipa - can you sort the manager JS to hide the

[2013-06-15 19:19] Cipa commented on #273
Ok

On Sat, Jun 15, 2013 at 3:06 PM, TimGS notifications@github.com wrote:

[2013-06-16 13:15] Cipa commented on #295
I've been looking and trying to fix the css for 2 hr now and I fear there will be a lot of changes. I will also have to do some IE tests. Are we supporting IE8?

[2013-06-16 13:36] TimGS commented on #295
OK - that's sounding like too much work and too many changes for inclusion in 1.2.

We probably ought to support IE8. I don't think IE9 will work on some older but still widely used incarnations of Windows.

I think the main visual issue is the thin select boxes on Chrome. Is this feasible to fix in a reasonable amount of time and with minimal coding? Use JS if necessary. If it's still an undue am

[2013-06-16 13:38] TimGS commented on #295
PS. Do whatever you think best - if this means postponing the entire issue till 1.3, then that's what we will do.

[2013-06-16 13:50] Cipa commented on #295
I think I figured out the best way to fix the css issues but I will need some help in testing the manager for any inconsistencies. Depending when you want to launch and depending what you want for 1.3(are we switching to the new interface?) we can do this now or later

So far, this is the plan
- remove hardcoded html-css widths
- use a css solution for [\* tags. I use :after and :before and I thin

[2013-06-16 16:20] TimGS commented on #295
I have merged https://github.com/ClipperCMS/ClipperCMS/commit/87981ccb23fe349988e18cf8794e4d4900f5421b for 1.2. Closing the issue as the remaining issues for 1.3 are part of the more general modernising of the manager, especially as regards eliminating inline styles.

Thanks.

[2013-06-16 16:20] #295 closed, assigned to microcipcip

[2013-06-16 23:07] Cipa commented on #267
Any ideas why we have a check for strict mode? I don't see any issues on my win server that has strict mode on but it is possible that when some fields are longer than in db or dates are not valid an error is shown.

[2013-06-17 01:49] microcipcip commented on #273
I am closing this issue. I don't think that the permissions tab being visible is linked to this fix.

[2013-06-17 01:49] #273 closed, assigned to microcipcip

[2013-06-17 08:02] TimGS commented on #189
I haven't got the pull request - but as we are about to release 1.2 perhaps we should wait till 1.3 now. Making significant changes this late in the day could easily create problems that don't surface until after release, simply because we haven't the time to test this update enough.

Reopening as 1.3 issue.

[2013-06-17 09:38] TimGS opened #298 "Resolve issue of multiple jquery includes when jquery included via templating."

[2013-06-17 11:24] Cipa commented on #298
This should help: http://stackoverflow.com/questions/1566595/can-i-use-multiple-versions-of-jquery-on-the-same-page

How about doing the above for all the frontend plugins? We could try to detect from the plugin if jquery is setup in the template and if it is and the version is different use a noconflict code.

Or maybe it's simpler just to add a noconflict flag/checkbox in the settings.

[2013-06-17 11:30] TimGS commented on #298
The issue I am intending to be solved is where jQuery is included in a template e.g.

<script src="[(jquery_url)]"></script>

and then via API calls from snippets or plugins. At the moment multiple API calls to regClientJquery() will not result in multiple includes as the first call flags up jQuery as being present. Unfortunately the templating is independent of this, so two includes could (and wi

[2013-06-17 12:01] Cipa commented on #298
Honestly I am not really sure about any of this but here's how I see it

I was thinking of having all the frontend plugins run in noConflict by default and make sure that all the official clipper plugins use the same version of jquery. But in some cases, some plugins might require a different version of jquery. So basically worst case scenario we end up with:
- Clipper plugin using the official jq

[2013-06-17 12:13] TimGS commented on #298
Until 1.8 -> 1.9 I never had an issue with the 'wrong' jQuery version. This does imply that in general, the issue is so small that it is reasonable to expect developers to just run one version of jQuery, and update their code (or plugin code) if and when required. I wouldn't ever consider using multiple versions, that's inefficient and asking for odd problems - I'd always update the code.

In the

[2013-06-17 12:29] Cipa commented on #298
I like "forcing" one jquery :) but I worry about some older plugins eg sliders that might not work using the newer version. If this becomes an issue the template should be the one that needs to be updated.

[2013-06-17 14:59] microcipcip commented on #298
I think that ClipperCMS plugins should run in no-conflict mode by default, in this way the website will work without problems.

[2013-06-17 15:41] microcipcip opened #300 "jQuery bug"
I have found a rather odd bug in the demo website which may be related to ClipperCMS 1.2.

In the "head" tag section of the "Home" page (and only here!), I see the following code:

[code]

Nothing odd in this, if I wasn't logged out from the website! Is this a known bug? You can check the website online for this. I have tried to save again the home page and also to clear the cache, however it does

[2013-06-17 19:15] TimGS commented on #298
No conflict mode is now the default in the frontend.

[2013-06-17 19:29] #230 closed, assigned to microcipcip

[2013-06-18 09:26] TimGS commented on #300
If you clear the cache and then log out before the home page is requested it clears. The home page is the only cached page.

It appears that QM's scripts are cached with cached pages. I'll look into a fix.

[2013-06-18 14:31] TimGS commented on #300
QM+ has been modified to use the API functions for registering javascript / css, which seemed reasonable at the time. Problem is that these scripts or css files are cached.

This is probably fine for snippets. Cached snippets have their CSS/JS cached. Uncached snippets are run after the cache page entry is loaded, and their CSS/JS files are added at this point. Everything is intuitive.

Plugins ho

[2013-06-18 14:33] TimGS commented on #300
A short term fix - for QM+ only - would be to clear the cache on log in and log out.

The issue should perhaps be considered in more depth for plugins in general for 1.3. Backwards compatibility versus forward development needs considering.

[2013-06-18 16:07] #300 closed, assigned to nobody

[2013-06-18 16:27] microcipcip opened #301 "Demo website - update images/Links"
I see the favicon of the demo website orange. I also see that some images in icons.png are not updated to the latest version. You can override them from here: www.clippercms.com/clipperdemo.zip

Another small issue, it seems that the link to the "Documentation" in the sidebar should link to the main page "www.clippercms.com/documentation/" rather than "www.clippercms.com/documentation/docs.html",

[2013-06-19 10:24] #301 closed, assigned to kp52

[2013-06-19 18:09] Cipa opened #303 "QM frame cropped for pages with a height less than the browser's"
See the bottom of the colorbox iframe

![screen shot 2013-06-19 at 1 51 35 pm](https://f.cloud.github.com/assets/293377/676665/411ee830-d90b-11e2-9e3a-c781515ea47f.png)

[2013-06-19 18:12] Cipa opened #304 "QM shows the configuration page when a site is installed and the configuration was not saved at least once"
Can we disable Qm until the configuration is saved.
Additionally when this happens, the Cancel button doesn't seem to work in this instance. Maybe the cancel works only for a specific type of content.

[2013-06-19 18:35] TimGS commented on #304
Not sure what to do with this one. Currently the manager forces a save here before it allows a user to do anything else (IIRC MODx had a similar arrangement, but it was easily bypassed).

Can a user not just save the config from the QM iframe?

[2013-06-19 19:19] TimGS commented on #304
I don't think this is a big deal. Perhaps for 1.3 we could maybe make sure that saving the config via QM closes the window - it doesn't at the moment, but it's a minor isse and I don't think worth delaying release for.

[2013-06-19 19:32] Cipa commented on #304
Agreed

[2013-06-19 22:40] TimGS commented on #303
It seems a combination of a few things.
1) The body tag doesn't fill the viewport. No rule against that, it's not wrong, but it is relevant.
2) Colorbox appears to be using viewport size as an indicator of how big to make the 'popup' iframe.
3) qm.inc.php generates javascript to put overflow: hidden on the body tag when the popup appears.

I don't know why (3) was implemented - presumably it's for

[2013-06-20 02:22] microcipcip commented on #303
I don't think it is a good idea to set the html and body to { height: 100% } as that could break the website design (it depend on the design). Maybe qm.inc.php is used for custom parameters?

Why don't we delete or comment line 520,521,557,558 of qm.inc.php? I don't know what's the purpose of that. Colorbox should work all right without that.