[2013-06-20 07:49] TimGS commented on #303
re: html, body { height: 100% }. Sorry, I was unclear. This was only intended for the sample site CSS - not a general fix.

re: lines in qm.inc.php. Until someone identifies why these lines are there, we don't know what this will break! Bad idea at the point of release.

[2013-06-20 11:30] Cipa commented on #303
Commenting the first 2 lines in the bind seem to fix the problem(qm.inc.php). I will submit a patch right away, after I test in IE

[code]

[2013-06-20 11:35] Cipa opened #305 "Login button for manager position"
![screen shot 2013-06-20 at 7 35 02 am](https://f.cloud.github.com/assets/293377/680815/75a6c5e0-d99d-11e2-9d95-0ad048093dee.png)

[2013-06-20 11:36] Cipa commented on #305
Also related - Where is the Forgot Password functionality?

[2013-06-20 11:40] TimGS commented on #305
Slightly puzzled - it looks fine here, and FMP is present. Browser?

[2013-06-20 11:45] kp52 commented on #305
I have a Forgot Manager link on the login panel. But only when the plugin is enabled. When it's disabled, the bottom of the Login button is outside the dialog box frame (on Windows 7 Home Premium, FF 18).
Also note the (c) year reads 2012!
![loginpanel](https://f.cloud.github.com/assets/184620/680852/d56ba7ce-d99e-11e2-89cf-7901e9d919e4.jpg)

[2013-06-20 11:57] Cipa opened #306 "MM chunks settings could be better"
Looks weird when the table is only 700px wide on wider screens. Maybe we should use 100%

Also is there a way to make the rich text shorter. In the sample attached the rich text is used for captions which are usually one liners. Can we control the height of the Rich Text area?

![screen shot 2013-06-20 at 7 53 42 am](https://f.cloud.github.com/assets/293377/680895/8ca12300-d9a0-11e2-9dd2-70f55fe8d

[2013-06-20 11:57] TimGS commented on #303
But why were these lines put there? We ought to have some idea of the functionality we are removing.

[2013-06-20 12:00] Cipa commented on #303
Not really sure why they are there BUT a modal window should not require extra help to properly work. Maybe it was something that was needed for the old version of Colorbox. If I remember correctly I updated to the latest one earlier this year.

But it could be something else. Let me know if you find something. I will not submit the pull request right now.

[2013-06-20 12:01] TimGS commented on #306
re: thumbs: see https://github.com/ClipperCMS/ClipperCMS/issues/257, for 1.3
re: richtext height. Not sure offhand, without writing your own plugin. Something for 1.3+?

[2013-06-20 12:03] TimGS commented on #306
Closing - thumb sizes should go under https://github.com/ClipperCMS/ClipperCMS/issues/257.

Richtext height can have it's own issue, preferably I think to go in the core, not MM - but that can be discussed there.

[2013-06-20 12:03] Cipa opened #307 ""Plain text second section" TV doesn't seem to do anything"
I tried to enter some content for "Plain text second section" TV, saved and reloaded the page. I can't seem to find the content I put in on the site. Maybe I'm missing something. I tested on the "Lamb Hotpot" page
EDIT:
seems to work. I was on the wrong page. I will do clean install first as I think I have other pages in there from the old demo

[2013-06-20 12:04] #307 closed, assigned to kp52

[2013-06-20 12:05] TimGS commented on #303
Maybe see what anyone else has to say. We can then decide later on.

[2013-06-20 12:13] Cipa commented on #305
I reinstalled and everything is fine when the Forgot Manager Login is enabled. When disabled the page looks like in the screenshot I sent

[2013-06-20 12:17] bossloper commented on #303
There are a few posts around about this if you google: colorbox body overflow hidden
I think it is something to do with hiding scroll bars?

[2013-06-20 12:19] Cipa commented on #306
I was refering to the width of the table of 700 that is configured in the manager manager chunk. You can see that there is a lot of white space to the right. The functionality is ok.

And related the RichTextarea height I think the simplest way(if possible) is to allow the user to enter the height when they select "Rich Text" in the dropdown. But this is another issue.

[2013-06-20 12:23] Cipa commented on #303
I googled it but they seem not to appear for us. Maybe it was for an older version. Our is from March 2013. I am 99% sure we can remove those lines. Can you do some test as well? It works on IE8, FF and Chrome, so I suspect it should work on the rest of them.

[2013-06-20 12:24] TimGS commented on #306
OK - reopening for Salvatore's comments,

[2013-06-20 12:24] TimGS commented on #306
Is this just an MM issue or a more general manager presentation issue?

[2013-06-20 12:27] TimGS commented on #303
@uxello - I think you might be onto something, that makes sense, but I also find @Cipa's points convincing.

[2013-06-20 12:30] Cipa opened #308 "QM - clicking on the clipper logo in the QM bar will make QM disappear and not return"
...and I can't seem to get back the bar even if I logout and relogin.

PS: I don't use QM so maybe this is the right way

[2013-06-20 12:34] Cipa commented on #306
I think is just presentation. I don't really mind it the way it is but I would like the width to be consistent with the other tabs.

[2013-06-20 12:44] bossloper commented on #303
When I view in IE10 and Firefox with the lines commented out as suggested I get scrollbars showing for the modal site in the background:

![scrollbars](https://f.cloud.github.com/assets/1744687/681076/19e9c018-d9a7-11e2-923b-b98cb5d0bce5.jpg)

[2013-06-20 12:55] Cipa commented on #303
@uxello - is that the latest develop? From the looks of it you might use an older version.
Can you try with a new setup. I will test in IE10

[2013-06-20 13:09] bossloper commented on #303
yes latest develop from today (with latest clear cache on QM)... but did not overwrite default site content.

I only see the scroll bars if I comment out the two lines as suggested below, otherwise no scroll bars:
                                    //'.$jvar.'("body").css({"overflow":"hidden"});
                                    //'.$jvar.'("html").css({"overflow":"hidden"});

[2013-06-20 13:11] Cipa commented on #303
Can you run an upgrade?

[2013-06-20 13:16] Cipa commented on #303
No bars in IE10 for me

![screen shot 2013-06-20 at 9 16 30 am](https://f.cloud.github.com/assets/293377/681215/ae0ea160-d9ab-11e2-8a26-f7d7dbabd6ad.png)

[2013-06-20 13:18] bossloper commented on #303
With the two lines commented out?

[2013-06-20 13:24] Cipa commented on #303
actually no :(
I forgot to comment I get the bars in IE10 as well

On Thu, Jun 20, 2013 at 9:18 AM, Richard Smith notifications@github.comwrote:

[2013-06-20 13:27] bossloper commented on #303
ok. I cannot reproduce your first post, i.e. the cropped colorbox. Which browser was that with?

[2013-06-20 13:35] Cipa commented on #303
It happens on all browsers even IE10, Only on big screens and when the html height is smaller than the widow height. I tested it with the Contact page.

I think we can make this work by detecting the height of the browser and the height of the html. If the html height is bigger apply the overflow hidden otherwise leave as is.

PS: I was wrong about commenting those 2 lines. Actually there are 4 li

[2013-06-20 14:02] Cipa commented on #303
Fix here
https://github.com/ClipperCMS/ClipperCMS/pull/309

[2013-06-20 14:06] microcipcip commented on #303
@Uxello, are you sure did you install the latest version of ClipperCMS? I can see that you have the MODX demo website installed.

@Cipa, I think you need to hide all these lines 520,521,557,558 from qm.inc.php, because the last two (557,558) are applyed to the body height when you use the button "Create Resource here", which changes the height again.

[2013-06-20 15:02] bossloper commented on #303
@microcipcip. Absolutely latest dev, I just did not update the site content when I upgraded as I have some test pages I did not want to have deleted. I reinstalled and overwrote the demo site and now see the same issue, so it is site specific.

I tracked it down to line 418 in the demo site foundation.css.
position: relative on the body tag. If this is removed then colorbox is fine... but if there

[2013-06-20 15:08] kp52 commented on #308
It sets a cookie:
![qmcookie](https://f.cloud.github.com/assets/184620/681844/31318cc4-d9bb-11e2-9465-e63431e1b2c8.jpg)

[2013-06-20 15:09] bossloper opened #310 "List boxes fixed height?"
Anyone see this issue (latest develop)?

For example, QM plugin -> Configuration tab.

All the list boxes seem to be fixed height as if they were dropdown boxes. Makes selection tricky. This is IE10, Chrome and Firefox. OK in Opera.

![listboxes](https://f.cloud.github.com/assets/1744687/681850/49e878ae-d9bb-11e2-9960-247bf3c79e71.jpg)

[2013-06-20 15:13] bossloper commented on #308
I think it is a side effect of the demo site. In particular something in:

assets/templates/clipperdemo/css/foundation.css

If you comment it out in the head chunk then it works.

[2013-06-20 15:28] bossloper commented on #308
Seems to be the same culprit as for messing up color box (#303)

Line 418 in the demo site foundation.css.
position: relative on the body tag. If this is removed then the QM bar stays visible even when 'minimised'.

[2013-06-20 15:30] Cipa commented on #310
Can you please test this
https://github.com/Cipa/ClipperCMS/commit/dbd7480403304ddbc0755bee28cc58bf467d2b16

To make the single selects work the same on webkit I had to apply a height to them but I forgot to exclude multiple selects. Also size seems to have a say in the way they are displayed so I excluded all the selects having multiple and size attached to them.

[2013-06-20 15:31] Cipa commented on #308
I think 303 was fix. See latest commits. Overflow is only applied if the height of the window > height of the body.

[2013-06-20 15:41] microcipcip commented on #308
The fix for this issue is in plugins/qm/css/style.css, line 221, add these 3 declarations for content-box:

[code]

[2013-06-20 15:44] bossloper commented on #310
Yes, a quick test, your fix seems to work. Though in Chrome there is a large gap after each list:
![gaps](https://f.cloud.github.com/assets/1744687/682092/3f85bf98-d9c0-11e2-8830-28f9a64c4a30.jpg)

[2013-06-20 15:46] microcipcip commented on #303
I think we can close this issue? I don't see the bug anymore.

[2013-06-20 15:58] microcipcip commented on #305
I didn't know that "Forgot password" could be hidden. Try this fix on manager/media/style/ClipperModern/login.css from line 33:

[code]

P.S. where is the configuration setting to enable captcha? I would like to test the login with captcha enabled.

[2013-06-20 16:03] microcipcip commented on #306
Hi, you are right, 100% is much better. Regarding TinyMCE, maybe I should have used a mini textarea instead? Is there a way to use a simplified version of TinyMCE?

[2013-06-20 16:11] Cipa commented on #310
Looks like that is the default size in chrome. Maybe we can update the js generating those fields to apply a size="" attribute. Should we do this for 1.3?

[2013-06-21 02:23] Cipa commented on #310
Here's the bug and a solution, I'm not sure it's worth implementing
http://productforums.google.com/forum/#!topic/chrome/z4rBqNT3174

[2013-06-21 02:44] Cipa opened #311 "mm_demo_rules text and chunk are wrong on install/upgrade"
1. When installing the message displayed is for mm_demo_rules not mm_rules which is the chunk configured for MM by default
2. mm_demo_rules is installed even if it's not used

I tested this by deleting all the MM config chunks and running an upgrade. It's probably the same for a fresh install.

![screen shot 2013-06-20 at 10 40 15 pm](https://f.cloud.github.com/assets/293377/685147/595522e0-da1c-1

[2013-06-21 02:48] #311 closed, assigned to nobody

[2013-06-21 02:59] Cipa commented on #305
I opened another issue for captcha. I think this one can be closed when your code is merged from my pull request

[2013-06-21 03:01] Cipa opened #313 "Enable captcha setting is missing but the words setting is still present"
@Tim: I am not familiar with this. Can you have a look at it?

[2013-06-21 03:10] Cipa opened #314 "Make the RichText smaller in height by default"
The reasons for this
- there is a small arrow in the bottom left corner that can be used to increase the size of the rich textarea
- when an area is resized with the arrow the dimensions are saved/cached by TinyMCE(I think) so when you open another doc or re-edit the same doc, the box will have new size not the default one, even if you logout(it might be a cookie)

My recommandation is to use a va

[2013-06-21 03:36] Cipa commented on #314
I tested the above and it seems to work.

This is the config of the TinyMce
![screen shot 2013-06-20 at 11 31 30 pm](https://f.cloud.github.com/assets/293377/685270/260863aa-da23-11e2-80c1-110f1b5c448a.png)

This is the code that changes the height of the content(mce_init.js.inc)

[code]

One line of code needs to be added to tinymce.functions.php
`$ph['content_height'] = (!empty($params['content_

[2013-06-21 07:01] bossloper commented on #310
@Cipa, No, would not bother. It looks ok, and maybe Chrome will fix it one day!
While looking at my screenshot above, do you think it would be possible to widen (or maybe make a % width) the parameter list so the label text for each item does not wrap so much? Same on all browsers, not just Chrome.

[2013-06-21 08:01] kp52 commented on #313
We abolished it (see forum http://www.clippercms.com/forum/index.php?topic=139.0 especially Reply#1!).
The words are still needed to use Captcha elsewhere, e.g. with eForm or Jot.
If you desperately wanted it on the login page, the enable/disable setting still exists in the database table, though note the forum thread says the feature is not working anyway.

[2013-06-21 11:11] #313 closed, assigned to nobody

[2013-06-21 11:17] TimGS commented on #303
Closing it, as a fix has been pulled. I haven't tested this in all browsers; I think however Cipa's fix should be fine.

If any issues remain, please reopen or post a new issue as applicable. Thanks.

[2013-06-21 11:17] #303 closed, assigned to nobody

[2013-06-21 11:23] #305 closed, assigned to microcipcip

[2013-06-21 11:23] #306 closed, assigned to microcipcip

[2013-06-21 11:25] TimGS commented on #306
@microcipcip - IIRC, unfortunately the TinyMCE plugin has one 'global' config. You cannot apply a different set of buttons to different instances. This is an issue and perhaps should be addressed. Maybe create a new issue for it?

[2013-06-21 11:26] #310 closed, assigned to microcipcip

[2013-06-21 11:27] #308 closed, assigned to nobody

[2013-06-21 11:31] TimGS commented on #314
Deferred to 1.3.

[2013-06-21 11:31] TimGS commented on #314
Maybe discuss this on the forum?

[2013-06-21 11:50] Cipa commented on #314
sure

On Fri, Jun 21, 2013 at 7:31 AM, TimGS notifications@github.com wrote:

[2013-06-21 11:54] microcipcip commented on #306
Ok, I will.

[2013-06-21 15:17] microcipcip opened #315 "ClipperCMS Demo - icons.png should be updated"
The css sprite on : \assets\templates\clipperdemo\img\general\icons.png need updating as it is still the old one. You can download if from here: www.clippercms.com/img.zip

[2013-06-21 16:12] Cipa opened #316 "TinyMCE image resize not working in chrome safari(so webkit)"
The handles to resize don't show and an image cannot be resized in TinyMCE.
Firefox seems fine.

[2013-06-21 16:48] microcipcip commented on #315
Closing this issue as it has been merged.

[2013-06-21 16:48] #315 closed, assigned to kp52

[2013-06-21 16:49] tim commented on #313
@Cipa I am not familiar with it either, sorry!

[2013-06-21 17:33] TimGS commented on #313
Wrong Tim!

[2013-06-26 11:31] Cipa opened #319 "QM - Load modal box in front-end - has no effect"
Setting "Load modal box in front-end " to false doesn't seem to to have any effect, unless I don't understand it's purpose.

It's for the develop branch

[2013-06-26 11:36] Cipa commented on #319
Got it, it's a flag that tries to load colorbox only once in case colorbox is already present. Not really testable on the current default

[2013-06-26 11:36] #319 closed, assigned to nobody

[2013-06-28 02:43] microcipcip opened #320 "Unable to delete a template"
I was trying to delete a template and I was unable to do it.
This are the actions that I've performed:
- Try to delete the template (it gave me the error that the template was in use).
- Open "Res Manager" and changed the template for some resources using the tab "Change Template".
- Went back and tryed to delete the template, but it didn't work. See below the errors from Firebug.
- Logging out an

[2013-06-28 03:04] Cipa commented on #320
I can't reproduce your steps but maybe I'm doing it wrong. Here are my steps
I tried to delete the Home template from the sample.
I got the message that I can't
Went to Res Manager and changed the template of the home page to Minimal
Template
Deleted Home page template with o issues

All went as expected. Can we get more details on this?

I also did a search for ".tab-row .tab' and nothing came ou

[2013-06-28 03:12] microcipcip commented on #320
I will try tomorrow again and will let you know if I can reproduce the error again.

[2013-06-28 07:18] TimGS commented on #320
I think Cipa's pull request may have fixed this. If so, close this.

Thanks.

[2013-06-28 11:57] microcipcip commented on #320
I am closing this issue as I am unable to reproduce it.

[2013-06-28 11:57] #320 closed, assigned to Cipa

[2013-06-28 15:44] TimGS opened #323 "Plugin parameters (and similar for snippets and TVs) table is quite narrow."
See https://github.com/ClipperCMS/ClipperCMS/pull/322, which I have not accepted as I think it needs deferring till 1.3. I also think that 500px is no fix.

I would suggest a table width of 100%, with maybe the first column having width: 33% and a fixed max-width in ems.

[2013-06-30 20:21] #298 closed, assigned to nobody

[2013-07-01 12:37] microcipcip opened #324 "Change Cross-references in the {{sidebar}} chunk of the demo website"
Cross-References in the demo website should be changed from:
[_1:TvName_]
to
[_TvName@1_]

[2013-07-01 13:07] #324 closed, assigned to kp52

[2013-07-01 15:45] TimGS opened #326 "jquery datatables inclusion"
manager/actions/site_schedule.static.php includes this, which I think is unnecessary as it is in the header.inc.php file.

The jquery datatables file itself may be better in assets/js/.

The line in header.inc.php  would better as
`echo $modx->getJqueryPluginTag('datatables', 'jquery.dataTables.min.js');`

...if moving the JS file to assets/js/. If it stays in /media/script, then it should be

`ec

[2013-07-02 17:49] TimGS opened #327 "Changelog and version number/name check for 1.2"
Also check Extra version numbers

[2013-07-03 10:38] TimGS opened #328 "ManagerManager actions on content field"
MM's renameField doesn't work - it seems to generate jquery that works on a table, whereas the content field is in a div.

The same error may exist for other MM functions on the content field (not checked).

[2013-07-03 11:40] Cipa commented on #328
this works for me
`mm_renameField('longtitle', 'longest');`

[2013-07-03 11:42] TimGS commented on #328
Indeed, but not on the _content_ field.

`mm_renameField('content', 'wibble');`

[2013-07-03 11:45] Cipa commented on #328
weird, I don't get an error but the line has no effect. The Content title is not changed

[2013-07-03 11:48] TimGS commented on #328
There's no error _message_. It doesn't work though because the generated jquery is looking for it in a table, which the content field isn't, so does nothing.

[2013-07-03 11:50] TimGS commented on #328
`// ----------- Rename field --------------
$("textarea[name=ta]").parents("td").prev("td").children("span.warning").empty().prepend("Operational Info");`

...is the generated jquery, which cannot have any effect because the 'td's are not there.

[2013-07-03 11:55] Cipa commented on #328
Add this on(or after) line 32 on functions/fields.inc.php

[code]

I would submit a pull request but I have some more changes done to my setup and I need to clean it first.

Thanks

[2013-07-03 12:00] Cipa commented on #328
I also get a js error when I click on MM plugin. I think it's because of the additional tab that MM adds to the manager. The tab that contains some information about the TVs. I have to check using an older setup

[2013-07-03 12:23] Cipa commented on #328
ignore the above, I was looking at the wrong install :(

[2013-07-03 12:35] TimGS commented on #328
OK. Just for clarification, the noconflict setting is frontend only.

[2013-07-03 12:40] Cipa commented on #328
Got it :)

On Wed, Jul 3, 2013 at 8:35 AM, TimGS notifications@github.com wrote:

[2013-07-03 12:40] #328 closed, assigned to Cipa

[2013-07-03 12:42] TimGS commented on #328
Code changed as per above. It may be worth checking other MM functions also for this case.

[2013-07-03 15:01] microcipcip opened #329 "ManagerManager - move content field"
Another issue with the content field: before the introduction of jQuery in the manager I could move the content field below a template variable in this way:
mm_moveFieldsToTab('tvPicture,content', 'general','');

Is this still working?

[2013-07-03 15:26] Cipa commented on #329
If you open the sample site in the manager you will see tabs and fields in
them. So I suppose they are working.
I can see the Slideshow and the Sidebar tabs and all the fields in them.

Did you have a different experience?

On Wed, Jul 3, 2013 at 11:01 AM, Salvatore Tedde
notifications@github.comwrote:

[2013-07-03 15:30] microcipcip commented on #329
I am talking about the "Content" field, the main field with TinyMCE in it, in the first tab. Are you able to place a template variable over that field?

[2013-07-04 11:29] Cipa commented on #329
I can move the field but I think you can't order it like you want. It's
always at the end in the tab. Is this the problem?

On Wed, Jul 3, 2013 at 11:30 AM, Salvatore Tedde
notifications@github.comwrote:

[2013-07-05 13:29] kp52 opened #330 "PM: requires @version entry for all element categories"
Elements with no version number are skipped (line 494)

[code]

Only snippets, plugins and modules should require a version number.

[2013-07-05 17:31] microcipcip opened #332 "Image Template Variable show up Thumb only if you save page"
The Image TV type only show the thumbnail in the manager after that you refresh the page. If you don't refresh the page, you don't see the thumb (tested with Firefox Win 7)

[2013-07-05 18:59] TimGS commented on #330
Deliberate  - this forces package authors to have a version number for everything. In future the Package Manager can use this information to automatically check for updates and have as much information to hand as possible - as such _everything_ should have a version number.

[2013-07-05 18:59] #330 closed, assigned to nobody

[2013-07-08 20:05] #327 closed, assigned to TimGS

[2013-07-11 09:50] #326 closed, assigned to Cipa

[2013-07-13 10:07] TimGS opened #333 "Insert Media via TinyMCE only works with Flash options"
See http://www.clippercms.com/forum/extras-(core)/clipper-1-1-3-media-file-browser-tinymce-not-running/

[2013-07-14 14:19] TimGS opened #334 "categories table missing from sample site SQL"
I may be wrong, but I think we are missing the categories table from setup.data.sql

[2013-07-14 14:24] TimGS commented on #334
Possibly needs some care - when the installer installs elements from install/assets/ it creates categories but the category ids are not defined - only the category names can be predicted.

[2013-07-16 07:59] ghost opened #335 "German Umlauts in kcFinder"
As asked in forum (topic: Rename files if they include german Umlauts):
Replacement of  german umlauts when files are uploaded in kcFinder:

In assets/manager/media/browser/kcfinder/config.php:
Line 66: array 'filenameChangeChars'
and
Line 70: array 'dirnameChangeChars'
please add:

"Ä" => "Ae",
"Ö" => "Oe",
"Ü" => "Ue",
"ä" => "ae",
"ö" => "oe",
"ü" => "ue",
"è" => "e",
"é" => "e",
"à" => "a",
"ß

[2013-07-16 19:14] #335 closed, assigned to TimGS

[2013-07-16 19:15] TimGS commented on #335
Can you check that https://github.com/ClipperCMS/ClipperCMS/blob/637f421fe656fe0a7dd57e2f4ebe1c845319e1a9/manager/media/browser/kcfinder/config.php does the job?
thanks,
-- Tim.

[2013-07-17 06:24] ghost commented on #335
Hi Tim

In array «dirnameChangeChars» (line153) the german umlauts must also be included. Otherwise a user may create a subdirectory with a name like «Zürich».

Michael

BIG – Büro für Informatik und Gestaltung GmbH
Gertrudstrasse 46
8003 Zürich
Tel. 044 461 55 66
Fax 044 461 55 67

http://www.big-it.ch
info@big-it.ch

Ich unterstützte die Entwicklung von ClipperCMS. http://clippercms.de

Am 16.07

[2013-07-17 09:15] TimGS commented on #335
@michael-big I've now added this to the dirname characters. Can you test?
thanks,
-- Tim.

[2013-07-17 12:06] ghost commented on #335
Hi Tim

Tested it on my local MAMP with Safari Browser. It is OK.

Regards

Michael

BIG – Büro für Informatik und Gestaltung GmbH
Gertrudstrasse 46
8003 Zürich
Tel. 044 461 55 66
Fax 044 461 55 67

http://www.big-it.ch
info@big-it.ch

Ich unterstützte die Entwicklung von ClipperCMS. http://clippercms.de

Am 17.07.2013 um 11:15 schrieb TimGS notifications@github.com:

[2013-07-17 12:14] TimGS commented on #335
Thanks,
-- Tim.

## www.timspencerweb.co.uk

Better a bad day in the hills than a good day in the office.

## See the hills at www.islandlight.co.uk

On 17 July 2013 13:06, michael-big notifications@github.com wrote:

[2013-07-22 11:00] TimGS opened #336 "Purge resources JS"
Purging deleted resources results in the JS confirmation coming up more than once.

It doesn't  go into an infinite loop - click OK a few times and it will go.

[2013-07-22 11:01] TimGS opened #337 "Deleting template"
Deleteing a template just gets the 'Template deleted' message.

Should this then redirect to the Elements->Templates page?

[2013-07-22 15:12] microcipcip commented on #336
I can confirm this bug. I didn't post an issue because I was unable to replicate the problem.

[2013-07-23 21:35] TimGS opened #338 "snippet map needs to be able to be added to by packages"
$modx->snippetMap currently only holds List and WebUsers.

Package authors should be able to add to this.

[2013-07-24 17:49] TimGS opened #339 "QM+ jquery script tags are inserted within IE conditional comments if the first existing script tag is within an IE conditional comment"
Seen with htm5 shiv in conditional comment and QM+'s script tags.

[2013-07-24 17:54] TimGS commented on #339
Issue is in QM+, doesn't apply elsewhere.

Lines 500 (ish) of qm.inc.php will need modifying.

[2013-07-26 12:46] TimGS opened #340 "DBAPI INSERT will fail is no fields passed"
Previously, the DBAPI insert method has assumed at least one field will be explicitly given.

For inserts in tables that only involve auto incrementing fields and/or default values, no fields should have to be explicitly given. Currently not giving at least one field will fail.

[2013-07-28 15:13] #333 closed, assigned to TimGS

[2013-07-28 15:33] #339 closed, assigned to TimGS

[2013-07-28 15:36] TimGS opened #341 "DocumentParser::fatalErrorCheck improvements"
Ensure fatalErrorCheck doesn't run if messageQuitFromElement (and messageQuit?) has already been run. Ensure the latter is as informative on it's own as the fatal error check.

[2013-07-30 10:08] TimGS opened #343 "Resmanager changing template pagination issue"
When there are more than 20 templates, resmanager paginates the 'Change Template' tab.

Two issues...

1) The pagination is not obvious. I puzzled for a while as to why all my templates were not appearing, even taking the time to look in the Resmanager code for bugs - only to eventually notice the 1,2 in the top right hand corner

2) The 1,2 links don't fully work as the tab setting is not remembe

[2013-07-30 10:14] TimGS opened #344 "Update tag syntax help"
Cross references
Output modifiers

[2013-08-04 16:13] Cipa commented on #337
This can only be done with js. any ideas on what message you want to show if any?

[2013-08-04 16:15] Cipa commented on #343
I will look into dropping the pagination if you want. The plan was to change the pagination to use the dataTable plugin and ajax when the new template is implemented.

[2013-08-04 18:45] #336 closed, assigned to Cipa

[2013-08-04 18:47] TimGS commented on #337
Can we redirect with PHP and show a message on the  Elements->Templates page?

[2013-08-04 18:48] TimGS commented on #343
I think it's worth dropping the pagination if no one has any objections.

[2013-08-04 19:07] Cipa commented on #337
not easy
It kind of was like this before but the header and footer were hard coded
so basically you end up having multiple versions/locations.

Maybe a local include for the footer and header will work. I have to try it

On Sun, Aug 4, 2013 at 2:47 PM, TimGS notifications@github.com wrote:

[2013-08-04 19:13] #344 closed, assigned to TimGS

[2013-08-04 19:15] TimGS commented on #337
Alternatively maybe when a user initially clicks the delete button we have a JS confirm() box - if the user clicks 'OK' we just go to Elements->Templates with no message.

Does this sound practical?

[2013-08-04 22:37] Cipa commented on #337
This will not work as there are some checks that we have to do in order to
safely delete the template. Or I'm not getting what you ask :)

[2013-08-05 00:28] Cipa commented on #343
It seems there is a bug with the remember tab func. for ResManager. I will will fix that one first then drop the pagintion

[2013-08-05 00:28] Cipa opened #348 "ResManager remember tab bug"

[2013-08-05 13:20] #348 closed, assigned to Cipa

[2013-08-05 14:46] #337 closed, assigned to Cipa

[2013-08-09 11:22] Pathologic commented on #203
It's possible to make 3 additional buttons on toolbar - to emulate left mouse button double click, right mouse button single click and ctrl key hold. Though, I see no sense in such feature, so what other participants think?

[2013-08-09 11:43] TimGS commented on #203
Related question - Anyone tried kcfinder on a touch screen? Some of those mouse actions could be an issue.

[2013-08-09 21:54] TimGS opened #351 "web permissions showing 'none' in webuser lists"
Lists of webusers in a web group can include 'none' - this may be due to incomplete data (probably due to incomplete deletion of rows in different tables). Fix so nothing is displayed for such non-existent users.

[2013-08-12 10:22] #351 closed, assigned to TimGS

[2013-08-12 13:18] #334 closed, assigned to kp52

[2013-08-12 16:58] Cipa commented on #343
The pagination is used(if I remeber correctly) in other sections of the ResManager(tv lists for example). I'm not sure it should be dropped from all and for that reason not sure it should be dropped from templates. It has to be fixed anyway. I will get back to you with more details when I have time

[2013-08-14 19:47] TimGS commented on #343
I can't see TVs or anything else in Resmanager warranting pagination.

[2013-08-14 19:59] Cipa commented on #343
Well, in some cases you will end up with 100 TVs or more and pagination
might be required
I will remove it and we can address the pagination issue later on properly
if it's the case

On Wed, Aug 14, 2013 at 3:47 PM, TimGS notifications@github.com wrote:

[2013-08-15 09:20] TimGS commented on #343
I can't really see 100 TVs being likely (or a problem even if it does occur). Plus there is no pagination on the elements pages, and people have managed just fine.

What I do have is a site with c. 25 templates, and the regular need to reassign some of the templates from the second page during the current development of this site!

[2013-08-15 15:18] Cipa opened #353 "date TVs should save date as unix timestamp (discussion?)"
Currently the TV dates are saved in db as a string like "01-03-2012 10:15:00"

This is neither a mysql valid date neither a php date. We should switch to either a format like

2003-12-31 01:02:03
OR
unix timestamp

We can force the save to be a unix timestamp(or something custom) by using a plugin but would be nice to have some consistency.

Thanks

[2013-08-15 15:28] TimGS commented on #353
All TV values are strings, so the question is as to what format we use for this _string_.

As the values are currently dates - not timestamps - I suggest that whatever is chosen should be just that - a date, not a timestamp. Changing to a unix timestamp fundamentally changes the nature of the TV type. That's not to say we could not consider adding a timestamp TV type - but we shouldn't effectively

[2013-08-15 15:40] Cipa commented on #353
From a sorting point of view, in custom mysql queries, a unix timestamp works really well so string is fine in this case.

If we save as mysql date format, we probably need a date field or tell the query that the string fields should be handled like a date which is not ideal. I'm not sure what are the advantages of using mysql date format but I personally like the simplicity of the unix timestamp

[2013-08-15 17:38] TimGS commented on #353
There are a couple of issues that are effectively fixed, as per my above comment. To elaborate...

1) TV values are _always_ stored in the db as strings. This is fundamental to the MODx/Clipper schema - without a significant rewrite of arguable worth and involving currently unfeasible time overhead this is unlikely to change in the near future. Such a rewrite would not simply change the schema - t

[2013-08-15 17:51] Cipa commented on #353
If anyone is interested I created a custom Tv that does this but it's for 1.1.3 and should work for MODX Evo as well.
https://github.com/Cipa/unix-timestamp-date-tv

I use it to save unix timestamp values so I can easily do a sort by date in my custom sql

[2013-08-15 18:19] TimGS commented on #353
Can you make a 'proper' native timestamp TV? Visually in the manager it could be much the same as a date TV, but (perhaps?) with a timezone picker defaulting to the current timezone. Internally storage would be as  a unix timestamp (albeit in a string) and conversion from the inputted date would take into account the selected timezone.

Any output widget would probably just use the current timezon

[2013-08-15 18:19] Cipa commented on #353
The main reason for changing the date format here, at least for me, is the possibility to sort from a sql query(do you see other use cases?).
Seems like both timestamp and mysql date are "sortable" when they are set as strings in the DB. The current format is not.

If we are going to use a timestamp there is a gmdate php function we could use. If the date is properly decoded we should be ok with t

[2013-08-15 18:24] Cipa commented on #353
Maybe we should do this after we switch to the html5 input date fields. I'm not sure how backwards compatible will the html5 dates be.

Is this really needed? I'm not too familiar with building sites for different time zones.

[2013-08-15 18:40] Cipa commented on #353
What do you think about the createdon. editedon fields? They are saved as unix timestamps.
Shouldn't we be consistent?

[2013-08-15 18:50] TimGS commented on #353
We can sort HTML5 dates first, though it's probably not a big deal.

A timezone picker is not needed if you can assume the time refers to the current server timezone (or alternatively you could try using the client timezone - which IIRC is harder to do reliably but _may_ be what is required). However I can't help thinking that if the timezone is not important, you _may_ actually be best with a dat

[2013-08-15 18:54] TimGS commented on #353
There is no issue with consistency re: createdon/editedon. They are fixed points in time and any ambiguity cannot be allowed - hence they are unix timestamps. The only questionable aspect of the schema is that they are actually stored in MySQL in an integer column instead of using a timestamp column - but that's what we have and it's probably more prone to pitfalls to change it than leave as is.

[2013-08-15 19:00] TimGS commented on #353
re: sortability. Yes, the current date format is not the best for this and many other reasons regarding queries. But that is no reason to change it into a format that is inappropriate for the data in question. No matter how much discussion we have on this, a MySQL date or datetime is not a unix timestamp; they are not generally interchangeable and never will be!

What would be useful, as above, is

[2013-08-15 19:08] Cipa commented on #353
I was referring to consistency from a time zone point of view.

So for the new TV all we have to do is change the output format to use mysql date format. Should be easy.
If we do b) why is there a need for a). What do you think would be a good name for the new Date TV

[2013-08-15 19:26] TimGS commented on #353
createdon/edited are suitable as timestamps as they fixed points in time. Timezones are not relevant in these cases _except_ when converting from the timestamp to a human readable output suitable for screen display. The server timezone will currently be used, as it will for most, if not all, dates and times in the system. Since 1.2 the server timezone can _optionally_ be overridden and the timezon

[2013-08-15 19:34] TimGS commented on #353
Regarding a name, I honestly don't know.

Maybe just 'Date2'? Inelegant, but it's only seen by developers.

Maybe 'SQLDate'?

[2013-08-16 09:03] TimGS commented on #343
On the site in question I've changed lines 26 and 44 to pass 0 for the pageSize parameter to the DataGrid class. Leaving things as they were was just driving me nuts on this site. At the very least the page size needs to be way bigger (100?) but I'd seriously like to see how many sites have more than 100 templates or TVs.

[2013-08-16 09:11] #340 closed, assigned to TimGS

[2013-08-17 12:20] Cipa commented on #343
I see 2 options:
1. change the pageSize to 1000
2. remove DataGrid from Res manager

on 1 we can setup a config value for resManager and improve the look of 1/2/3 links
on 2 we have to redo how the table is generated.

I would go with 1 as it's a lot simpler

[2013-08-17 12:42] Cipa commented on #343
Here's what implemented on my local setup
![screen shot 2013-08-17 at 8 40 27 am](https://f.cloud.github.com/assets/293377/980999/3ec398d0-073a-11e3-814f-234eb910f945.png)

Let me know if this works for you. Note that the pages are bottom and top so it's hard to miss.

Not sure about
2) The 1,2 links don't fully work as the tab setting is not remembered.
When do you get this issue? Can I get a tes

[2013-08-17 17:52] TimGS commented on #343
I don't see any point in removing DataGrid - that would just produce more work for no gain (as I see it), and we should get this done ASAP - it's the only issue remaining to be done for 1.2.1.

Setting pageSize to 1000 (or any number from 100 upwards) is fine by me. Note that setting pageSize to 0 removes paging (this is what I did on the site in question).

re: _"The 1,2 links don't fully work as

[2013-08-18 15:39] Cipa commented on #343
About the 1,2 links - I have not done anything to fix this because I can't see what the problem is.

[2013-08-18 16:56] Cipa commented on #353
I was looking into this and I don't think we need a need a new tv type. The same thing can be achieved from the configuration/Interface & Features/Date format. If we provide an option like yy-mm-dd and make it default for new installs we should be ok.
The time format is already correct.

The only problem with this that the dates will not be saved to the db in mysql format if the configuration is n

[2013-08-18 17:20] Cipa commented on #353
Well the bug was because there are more files that need to change when a new date format is added. See toTimeStamp and toDateFormat function in documentParser file. The new date format might have to be "registered" in other places as well.

So what could work is add this new date format "yy-mm-dd" make it default, change all the the files that are using dates to recognize this new format even the

[2013-08-18 18:08] TimGS commented on #353
re: DOB. This is not a great situation - a date should be a date (unless for some reason you want to pin down the exact moment in time someone was born - but I doubt very much if this was either the intention or a likely use). I suspect that we are probably best leaving as is for the moment, but it could give rise to MySQL's DATE(dob) or PHP's equivalent being a day out if the server timezone was

[2013-08-18 18:50] #343 closed, assigned to Cipa

[2013-08-18 18:58] Cipa commented on #353
From a jquery ui date point of view date format is: yy-mm-dd so yyyy is wrong(?).

I was looking a the datetime implementation in browsers and it seems like support is not there yet. http://caniuse.com/#search=datetime. Only opera seems to have the datetime implemented.

Maybe we should keep jquery ui date for now, add this new yy-mm-dd date format make it the default one.
Additionally we could on

[2013-08-19 08:48] TimGS commented on #353
YYYY is usually used to denote a four figure year. YY is usually used to denote a two figure year. I've rarely come across anything different - the MODx/Clipper config option is here the notable exception. I can't comment about jquery-ui, but using YY to denote a four figure year is misleading for obvious reasons. If jquery-ui does something different, that doesn't make the usual convention wrong,

[2013-08-19 08:48] #353 closed, assigned to nobody

[2013-08-19 08:50] TimGS opened #355 "Make yyyy-mm-dd the default date format for new sites."
Do not change old sites on upgrade.
Change the displayed options to use yyyy instead of the misleading yy

[2013-08-19 13:27] Cipa commented on #355
Notes:
1. yyyy has to be programmatically changed to yy for jquery ui date to work
2. if an old site wants to change from an old format to the new we should detect the old format and display the proper date in the date field. I think you already have some code in place for this. We just need to apply it when a date TV is generated.

Q:
1. Should we remove the "Time format" config section. There is

[2013-08-19 16:04] TimGS commented on #355
1. Yes, lets remove it from the config page - but I would prefer to keep the config option used in the code, just in case we should ever introduce a second value (e.g. hh:mm).
2. Don't mind.
3. I agree.

[2013-08-29 11:33] kp52 opened #356 "Invalid action possible in DBAPI delete"
If you supply a $fields parameter for the **delete** function in dbapi.abstract.class.inc.php, you get a MySQL error referring to a non-existent table in MULTI DELETE. Surely you can't delete individual fields in a record with DELETE, only records in one or more tables? So the $fields parameter should be excised? (Might be an idea to insist on a WHERE condition, too, to reduce chances of accidenta

[2013-08-30 18:20] TimGS opened #357 "JS global variables called cms_name and cms_version."
It may be worth including global variables in the JS that would correspond to the PHP constants in version.inc.php.

This would help client side JS in Extras detect the CMS version.

[2013-08-31 00:45] Cipa opened #359 "remove manager/includes/lang/english-british.inc.php?"
Is this file still needed? I don't think it's ever loaded.

[2013-08-31 00:46] Cipa opened #360 "TinyMce lang files seem to be ISO-Latin-1 and old"
Some Clipper TinyMce files seem to be  ISO-Latin-1. We should change them to utf-8 and rename them to use the i18n standard.
See: assets/plugins/tinymce/lang/english-british.inc.php

[2013-08-31 01:03] Cipa opened #361 "We should use 1 language code"
Currently we use:
$modx->config['manager_language'] - english
and
$modx_lang_attribute - en

Shouldn't there be only one?

[2013-08-31 08:40] TimGS commented on #359
english-british is a manager option - isn't it loaded when this is selected?

[2013-08-31 08:50] TimGS commented on #361
We could deprecate the former but keep it for extras that need it.

An added issue is that the former is used for filenames both in the core and in extras.

[2013-08-31 13:38] #359 closed, assigned to nobody

[2013-08-31 14:13] Cipa commented on #361
We could duplicate the file, rename them and use an include.
This way we have only one version to mantain

[2013-08-31 15:12] Cipa commented on #272
Should we add all the jquery datepicker language files?
https://github.com/jquery/jquery-ui/tree/master/ui/i18n

Or just the ones that we support?

Edit: Actually I don't think we can add all of them. For example for the chinese we use just 'zh' but jquery has 3 versions none of which is just 'zh-CN', 'zh-HK', 'zh-TW'. So for this to work we can only use one or hardcode the pick.

[2013-08-31 19:23] TimGS commented on #272
Just the ones we support - unless that's most of them anyway, in which case might as well add the lot to make updates easier.

re: zh. Grab the simplified chinese file and use that as 'zh'.

[2013-08-31 23:29] Cipa commented on #272
Have a look at https://github.com/Cipa/ClipperCMS/commit/fe5d29c5dac15a26e517e4933612c25a998bf0fb and let me know if this works for you. If it's ok I will submit a pull request

[2013-09-01 01:38] Cipa opened #362 "ResManager broken when using russian"
![screen shot 2013-08-31 at 9 37 52 pm](https://f.cloud.github.com/assets/293377/1063327/23008b08-12a7-11e3-8481-639155ecedea.png)

[2013-09-01 09:14] kp52 commented on #362
This is because it's using the Windows-1251 data in assets/modules/resmanager/lang/russian.inc.php
Everything looks fine when the russian-UTF8.inc.php is renamed to russian.inc.php. I think it was decided to standardize on UTF-8 at some point? Certainly that's the character set named in the master frame of the manager.

[2013-09-01 11:11] Cipa commented on #362
So is renaming the UTF8 version the correct solution?
There are another 2 languages with the same problem: french and sweska

On Sun, Sep 1, 2013 at 5:14 AM, kp52 notifications@github.com wrote:

[2013-09-01 12:02] Cipa opened #363 "Simplified Chinese not displaying properly"
simple_chinese-gb2312.inc.php
Should we remove it and only use the regular chinese?

[2013-09-01 14:32] alooze opened #364 "[BUG] Link to hide config alert not work"
If disable option "check HTTP REFERER" in site configuration we can see alert in main page. With this alert show link for hide this alert. It`s broken.

![download](https://f.cloud.github.com/assets/1949044/1064149/49ac1f58-1313-11e3-8e18-79d45d0b921b.jpeg)

[2013-09-01 15:32] alooze commented on #362
There are 2 correct solution: rename files or adding back utf-8 lang options for russian, french and sweska in language list.

[2013-09-01 15:54] Cipa commented on #362
See my solution above: removed invalid files and renamed the utf8 ones so they are now the default ones. If everyone thinks this is the best solution I will do pull request

[2013-09-01 15:58] alooze commented on #362
it`s fast solution, I`m used this method too. But russian hosters love CP1251 as default encoding forever. I don`t know how about french hosters, but more correct solution IMHO show both non-utf8 and utf8 lang options in config.

[2013-09-01 16:05] Cipa commented on #362
I searched using google for reasons to use CP1251 but could not find any. Except russians hosters preferring it, are there any good reasons to use it. I am not familiar with any issues that might arise from using UTF8. Can you please post more info about this?

Thank you

[2013-09-01 16:17] alooze commented on #362
As compromiss we can rename files russian-UTF8 to russian, and russian to russian-1251. This is not question of life. Delete files from install not needed.

Info about issues - russian hosters configured apache & nginx with 1251 default charset. In headers web-server sofware always send this encoding. This is not each&ever, but I see this issues not once.

[2013-09-01 16:29] Cipa commented on #362
This could work. We'll also have to add the new option in the manager for the 1251 encoding. I don't think we have one unless it's named differently.

Looking at this page http://php.net/manual/en/mbstring.supported-encodings.php 1251 seems to be windows only - Windows-1251 (CP1251). Is this setting ok for unix systems as well?

[2013-09-01 16:37] Cipa opened #365 "synch supported encodings with what php supports"
Should we update the supported encodings to what php supports:
http://php.net/manual/en/mbstring.supported-encodings.php

[2013-09-01 16:40] alooze commented on #362
I don`t know is french/sweska default encoding 1251. So I can speak about russian only. For russian lang we found 3 solution, and any can be used.

[2013-09-01 16:48] alooze commented on #362
mbstring function - is for programmers. Users, who can create site with Clipper is not programmers only. Form data validation, filtering in List/Ditto sometime need to use mbstring.

But our issue about lang files only.

[2013-09-01 20:05] TimGS commented on #362
A few points:

Manager extras should now convert language arrays to the encoding set in the configuration i.e. $modx_manager_charset which now matches $modx->config['modx_charset']. See get_manager_language.inc.php which does this for the core language files which are all stored as UTF-8.

Previous to Clipper 1.2 all manager pages were UTF-8 (and hence broken if anyone tried to use another charact

[2013-09-01 20:11] TimGS commented on #365
Do you mean for the config setting modx_charset?

[2013-09-01 21:41] Cipa commented on #362
So to be clear if UTF-8 is not detected by the module, we look for the configured character set in the lang files.
In order to properly detect this,  the language files have to be properly named like
russian-iso-8859-1.inc.php
russian-ibm857.inc.php
russian-Windows-1252.inc.php
or russian-windows-1252.inc.php?

I also found this page (http://www.iana.org/assignments/character-sets/character-sets.x

[2013-09-01 21:51] alooze commented on #362
If I understand you question correct, not needed so much charsets. Only default UTF8 in file 'russian.inc.php' and cp1251 (1, not 2) in 'russian-1251.inc.php'. In configuration selectbox we change nothing. If user hosted his site on very russian server, he rename file only.

[2013-09-01 22:10] Cipa commented on #362
I think we can do the russian as you say but for the rest of the files with the same problem the encoding is not present in the file. I will need some time to look into it, maybe the encoding can be seen in some other way.

In your case the file will be named russian-windows-1252.inc.php as 'windows-1252' is the code that is used by the manager.

[2013-09-01 22:45] TimGS commented on #362
No need to have one file per charset - that would get incredibly long and impractical. I would suggest storing one file as UTF-8 and perform the conversion if required, as per the manager language files. _As above, please see get_manager_language.inc.php._ If you don't look at this file or see how the manager solves the _same_ problem then you are reinventing the wheel.

As per above, the Russian

[2013-09-01 23:04] alooze commented on #362
Sorry, I do not know English so well. On the red fish, I lost the thread of the conversation. The method proposed above for the fourth. But the problem is not in the conversion on the fly, the only problem is the confusion - the value of the language setting does not match the name of the file. If it is accepted way to convert on the fly (maybe it is useful to cache the language constants), it is

[2013-09-01 23:35] TimGS commented on #362
Sorry - "red herring" is a saying in English for something that is leading you into an irrelevant area of thought. In this case server defaults for charsets are not relevant, because Clipper overrides the defaults explicitly.

[2013-09-02 03:32] Cipa commented on #362
@alooze
I did the following test and everything works as expected with the russian lang(on a mac with FF)
1. Choose Cyrillic (Windows) - windows-1251 in Character Encoding
2. Choose the Language to be russian
3. Save Configuration

Looking at the manager and Res Manger everything seems to be working. Am I missing something?

[2013-09-02 08:36] TimGS commented on #362
If you use the Russian language but the character encoding is _not_ Windows 1251 then the text is corrupted because you are trying to display 1251 encoded text on a non-1251 page.

_I've sad it twice already, but please see above two references to get manager language.inc.php!!!!!_ This file solves the IDENTICAL problem for the manager language files, which are ALL stored as UTF8 but converted to

[2013-09-02 09:26] TimGS commented on #365
If so, the manager language files are converted using iconv - so anything in http://www.gnu.org/software/libiconv/ is supported.

I've just pushed an edit to develop to improve the fallback behaviour if iconv fails to convert - the improvement covers character encodings that are unsupported by iconv.

[2013-09-02 09:27] #365 closed, assigned to nobody

[2013-09-02 09:35] alooze commented on #362
@TimGS

The real issue is that ResManager **AND TinyMCE** does not convert it's language files to the character encoding specified in $modx_manager_charset.

see screenshot from Configuration below

![download](https://f.cloud.github.com/assets/1949044/1066392/fdacbedc-13b2-11e3-90b2-07275f5c337c.jpeg)

[2013-09-02 09:42] TimGS commented on #362
I will open a new issue for TinyMCE. Please open a new issue for any other extras (there may be more) that have a similar issues.

[2013-09-02 09:42] TimGS opened #366 "TinyMCE does not convert it's language files to the character encoding specified in $modx_manager_charset or modx->config['modx_charset']"

[2013-09-05 23:27] alooze opened #367 "Snippet List does not convert it's language files to the character encoding specified in $modx->config['modx_charset']"

[2013-09-06 08:50] TimGS commented on #363
See also https://github.com/ClipperCMS/ClipperCMS/issues/237

[2013-09-11 21:58] 2IDs opened #368 "« Fatal error: syntax error, unexpected T_VARIABLE »"
Hi out there ...i get this error if i press in the navigation the "Recipes" or "Help" Button in the DEMO-INSTALLATION-FILES if i am on the previewsite ( Liveside )

« ClipperCMS Parse Error »
ClipperCMS encountered the following error while attempting to parse the requested resource:
« Fatal error: syntax error, unexpected T_VARIABLE »

PHP error debug
  Error:    syntax error, unexpected T_VARIAB

[2013-09-11 22:44] TimGS commented on #368
Are you running version 1.2.1?

[2013-09-11 23:08] TimGS commented on #368
Does replacing assets/snippets/list/lang/german.inc.php with https://raw.github.com/ClipperCMS/ClipperCMS/7e6edc2b4fcd71d40c3c5010c9d2991f7ad15bcf/assets/snippets/list/lang/german.inc.php solve this?

[2013-09-11 23:56] #367 closed, assigned to TimGS

[2013-09-11 23:57] TimGS commented on #366
See solution for List https://github.com/ClipperCMS/ClipperCMS/commit/6539eccf759584514fa4087b8a9d4e99d80dedcb

[2013-09-11 23:59] TimGS commented on #362
See https://github.com/ClipperCMS/ClipperCMS/commit/6539eccf759584514fa4087b8a9d4e99d80dedcb This is the fix for List - a similar solution will apply to any extras using language files. It is assumed that the files are stored as UTF-8.

[2013-09-12 00:07] TimGS commented on #364
The link calls a JS function - hence assigning it to @Cipa.

[2013-09-12 00:10] TimGS commented on #174
"I'm not sure this is necessary"... I think you may be right. You decide - if you decide to do nothing, label as 'wontfix' and close the issue.

[2013-09-12 00:14] TimGS commented on #268
@Cipa - do you see any problems here? I think the IE9/10 workaround was for the old datepicker? Can we remove it?

[2013-09-12 08:46] 2IDs commented on #368
YEAAH...GREAT This fixed it. Thank you very much!
Have a nice day an go on. With best wishes 2IDs media:design RON www.2IDs.de

2013/9/12 TimGS notifications@github.com

[2013-09-12 09:03] TimGS commented on #368
Fixed in develop branch for v 1.3

[2013-09-12 09:03] #368 closed, assigned to TimGS

[2013-09-16 10:11] #271 closed, assigned to TimGS

[2013-09-16 16:06] #356 closed, assigned to kp52

[2013-09-20 18:44] microcipcip opened #369 "Dropdown TV, Radio TV and Checkbox TV do not work with @INHERIT"
As in the title, a old bug from evolution: Dropdown TV, Radio TV and Checkbox TV do not work when you use @INHERIT.

[2013-09-22 18:30] AgelxNash opened #370 "Refactor login.processor"
The processor variables are created that allow the user to replace the ID during authorization. For example: name internalKey in user_settings
Details: http://blog.agel-nash.ru/2013/9/modx-usersettings.html

[2013-09-22 18:31] AgelxNash opened #371 "undefined variable modx"
Call to a member function convertLanguageArray() on a non-object in \manager\includes\get_manager_language.inc.php on line 41

[2013-09-22 18:33] AgelxNash opened #372 "Refactor generate link to manager"
use documentParser::getManagerPath();
Detals: http://modx.im/blog/fast-solution/252.html

[2013-09-22 18:42] AgelxNash opened #374 "save user processor"
trim() expects parameter 1 to be string, array given in manager\processors\save_user.processor.php on line 530

[2013-09-22 18:44] #371 closed, assigned to nobody

[2013-09-22 18:52] AgelxNash commented on #374
Look: https://github.com/AgelxNash/ClipperCMS/commit/30fc2c71c149d99bbdbf0eb353e8ed0e7fcc549b

[2013-09-22 18:55] AgelxNash opened #375 "Incorrect encoding of some file Russian language"
http://take.ms/2RtP9

[2013-09-22 19:03] AgelxNash commented on #375
similar tickets: #360 and #362

[2013-09-22 19:28] AgelxNash opened #376 "Custom cache class"
Now the class name of the cache is defined in DocumentParser class. It would be great to be able to replace this class without losing the ability to update CMS.

I see such a realization: place the name of the class/class path in config.inc.php. From the functions of class DocumentParser submitted in the names of which are predetermined cache files (even if the new method in the class itself retur

[2013-09-22 19:34] AgelxNash commented on #4
Why not integrate with the [plugin diff](https://github.com/AgelxNash/diffplugin4modx/blob/master/assets/plugins/diff/diff.plugin.inc.txt)?

[2013-09-23 08:20] TimGS commented on #376
Yes - this is something that has come up before. It's something we could possibly do, though it should be discussed in the features area of the forum. http://www.clippercms.com/forum/feature-requests/

I'm closing the issue, but do start a forum thread.

-- Tim.

[2013-09-23 08:20] #376 closed, assigned to nobody

[2013-09-23 08:22] TimGS commented on #4
Can you set up a demo?

[2013-09-23 09:15] TimGS commented on #272
Almost, and most of the time!
1. The glob() calls would be better if instead of finishing '_' they finished '_.js'. Some text editors append '~' or similar to the end of backup files - and this change would avoid them being read in error.
2. More of an issue is that the jquery language files are UTF-8 only. I'd suggest only including them if $modx_manager_charset is 'UTF-8'. Even just using ISO-88

[2013-09-23 10:23] TimGS commented on #374
Why do you implode array values? _If_ they are not used I'd rather just dump them.

[2013-09-23 10:30] AgelxNash commented on #4
http://diff.agelnash.ru/manager/
admin:123123

See the Version tab http://take.ms/0X9cKh

To adapt a ClipperCMS need a little refactoring function [ElementVer::render](https://github.com/AgelxNash/diffplugin4modx/blob/master/assets/plugins/diff/version.class.php#L402)

[2013-09-23 10:32] AgelxNash commented on #374
It is necessary for setting allowed_days

[2013-09-23 10:38] TimGS commented on #374
I see - is that a new setting in MODx >= 1.0.9 ?

[2013-09-23 10:54] AgelxNash commented on #374
This option was always there

[2013-09-23 11:34] TimGS commented on #4
Looks good, though I'd suggest it remain as a plugin, not part of the core.

For running on Clipper:
1. The jquery variable name should always be '$'. Changing the setting in the properties to be empty works fine if lines 405-407 of the main class file are commented out. Are these lines needed anyway?
2. Markup needs fixing for Clipper

I also found a more general bug in the ajax file - this file

[2013-09-23 11:35] TimGS commented on #374
OK - I take it there was a bug previously with allowed_days and https://github.com/AgelxNash/ClipperCMS/commit/30fc2c71c149d99bbdbf0eb353e8ed0e7fcc549b fixes it? If so I will cherry-pick that commit into Clipper's develop branch.

[2013-09-23 11:43] AgelxNash commented on #4
I think such functionality is not needed in the kernel if it is ready to plug-in. Although you decide ...

1) Of course we can send line 405-407 in a comments
2) Yes, need to edit the plugin code JavaScript

P.S. Thank you for your bug-report

[2013-09-23 11:43] TimGS commented on #370
Closing this issue - to be discussed under #373

[2013-09-23 11:43] #370 closed, assigned to nobody

[2013-09-23 11:45] AgelxNash commented on #374
Yes

[2013-09-23 11:50] TimGS commented on #4
OK - I will submit a pull request later on for (2) that should be compatible with both MODx and ClipperCMS.

[2013-09-23 14:35] TimGS commented on #374
Fixed via pull request #373 from @AgelxNash

[2013-09-23 14:35] #374 closed, assigned to TimGS

[2013-09-23 16:29] TimGS commented on #341
_Possibly_ related - plugin calls via invokeEvent may show the wrong element type/name - e.g. invokeEvent calls from ResourceEditor show ResourceEditor as being at fault, not the plugin. The correct line number is displayed.

[2013-09-26 16:33] microcipcip opened #377 "Installation - WebLoginSideBar - WebLogin Tpl"
When you install CLipperCMS, it tries to install this "WebLoginSideBar - WebLogin Tpl", what is this for? Is it necessary or is it some kind of legacy code?

[2013-09-26 17:18] TimGS commented on #377
Removed from branch 1.2.x

[2013-09-26 17:18] #377 closed, assigned to TimGS

[2013-09-27 15:46] #174 closed, assigned to Cipa

[2013-10-01 18:52] kp52 opened #378 "PM: no database connection in Install phase when using mysqli"
Running Clipper install based on PM branch with database ops set to use mysqli, warnings about mysqli_real_escape appear when the Install button is pressed, followed by fatal errors and browser hang while system tries to write error to the database.

Couldn't fetch mysqli in H:\Clipper-PM\manager\includes\pm\package_manager.class.php on line 465

Works OK when using mysql extension. Works OK if yo

[2013-10-01 19:18] kp52 opened #379 "PM: no database connection in Install phase when using mysqli"
When using mysqli extension for database access in a localinstall of Clipper based on the PM branch, errors come up when you click the **Install** button after retrieving a package. First there are warnings like
    "mysqli_real_escape_string(): Couldn't fetch mysqli in H:\Clipper-PM\manager\includes\extenders\dbapi.mysqli.class.inc.php on line 145"
then a fatal error with a database query.

Works

[2013-10-01 19:22] #378 closed, assigned to nobody

[2013-10-01 19:23] kp52 commented on #378
Duplicated by accident

[2013-10-01 19:29] kp52 opened #380 "PM: descriptions run off screen"
Descriptions shown in Package Manager for fetched packages need word-wrap for the text wrapped in &lt;pre&gt; tags, otherwise they can easily stretch off the screen in one long line.
e.g. <code> &lt;pre style="white-space: pre-wrap;"&gt;</code>

[2013-10-04 07:10] microcipcip opened #382 "SImplify CSS for the Demo Site"
This is assigned to me. The CSS could be much smaller.

[2013-10-04 08:44] #379 closed, assigned to TimGS

[2013-10-07 11:24] akool opened #383 "Cross icon in logo on install page"
http://i.imgur.com/mldr0fK.png
Probably too large width of the #logo in install/style.css (width: 228px;)

[2013-10-07 12:59] akool commented on #375
A similar problem in Res Manager module.
Сan be solved if delete a file russian.inc.php and rename russian-utf8.inc.php to russian.inc.php

[2013-10-07 13:35] TimGS commented on #362
Fixed in develop branch.

https://github.com/ClipperCMS/ClipperCMS/commit/06c1458dccade2c2ddd963196030d3a956178924

Please note that the site character set must be suitable for displaying the chosen language's characters e.g. If you select Russian language and ISO-8859-1, the manager will fallback to displaying English text as ISO-8859-1 cannot display Cyrillic characters.

[2013-10-07 13:35] #362 closed, assigned to nobody

[2013-10-07 13:37] TimGS commented on #375
This should now be fixed in the develop branch for both the manager core and Resmanager.

Please confirm - although it looks OK to me, I can't read Russian.

[2013-10-07 13:37] #375 closed, assigned to nobody

[2013-10-07 13:50] TimGS commented on #272
I have cherry picked fe5d29c5dac15a26e517e4933612c25a998bf0fb and implemented the suggested tweaks.

At some point we may have to address what happens when the character set is not UTF-8. In the meantime the fallback of English will have to do.

[2013-10-07 13:50] #272 closed, assigned to Cipa

[2013-10-08 15:45] TimGS opened #384 "Improve utf8.sanitise.php"

[2013-10-08 20:19] TimGS opened #385 "Template assignment and TVs"
If a new document's template is constrained then the dropdown may indicate the correct template but the TVs displayed reflect the system setting 'Automatic Template Assignment'

[2013-10-09 09:12] #385 closed, assigned to TimGS

[2013-10-09 23:16] microcipcip opened #386 "Fix tmplvars.inc.php for MultiTV path issue"
=> https://github.com/dmi3yy/evolution/commit/44741837ac0eab6573c2d9ad3e29dc9d754978de

[2013-10-14 17:50] akool commented on #375
I updated all the changed files, added new files. It seems that everything OK.
But problem with encoding in TinyMCE configuration is not solved. http://take.ms/2RtP9
This problem is solved as in ResManager module. Delete and rename files in /assets/plugins/tinymce/lang/

[2013-10-14 18:42] TimGS commented on #375
Update.... I have pushed a commit to develop which should solve this issue for UTF-8.

Other encodings e.g. windows-1251 will need to wait for #366 to be fixed (coming soon!)

[2013-10-14 18:52] akool commented on #375
I`m using UTF-8.

[2013-10-20 11:45] microcipcip opened #389 "WebloginPE - Error always displaying on &loginFormTpl template"
When I open www.sitename.com/account.html?service=login, which use &loginFormTpl, I always see this error from the [+wlpe.message+] placeholder: "You have left some required form fields blank.", even though I haven't submit anything yet.

[2013-10-20 11:50] TimGS commented on #389
If you can give me access to the offending site it would be useful.

[2013-10-20 12:10] TimGS commented on #389
Completely unchecked but try https://raw.github.com/ClipperCMS/ClipperCMS/7b0cb9450ab074e6e19966998ce86bce1f725454/assets/snippets/webusers/webusers.snippet.php

[2013-10-20 12:12] microcipcip commented on #389
I still see the issue

[2013-10-20 12:18] TimGS commented on #389
Try
https://raw.github.com/ClipperCMS/ClipperCMS/81f3c3de42b6bf3fdd220b03b951513cc3bdd8b4/assets/snippets/webusers/webusers.snippet.php

[2013-10-20 12:25] microcipcip commented on #389
This works!

[2013-10-20 12:25] #389 closed, assigned to TimGS

[2013-11-01 14:39] TimGS commented on #386
I have cherry picked that commit into clipper-1.2.x

Can you test? Most importantly, check everything else still works with TVs after the change - that file is used a lot!

[2013-11-01 14:46] TimGS commented on #380
https://github.com/ClipperCMS/ClipperCMS/commit/e35b094616dd122fa8d2394f0164c80ffaef1e4c should fix this.

[2013-11-01 14:46] #380 closed, assigned to TimGS

[2013-11-01 15:12] #384 closed, assigned to TimGS

[2013-11-01 15:59] microcipcip commented on #386
Ok, I will let you know. I have already made this change some time ago in my localhost website, and I didn't find any issue yet.

[2013-11-02 17:33] #383 closed, assigned to kp52

[2013-11-03 18:29] TimGS opened #391 "Investigate WebUsers forgot password - potential bug"

[2013-11-06 15:11] #391 closed, assigned to TimGS

[2013-11-06 15:38] #386 closed, assigned to TimGS

[2013-11-08 12:52] Cipa opened #392 "[*haskeywords*] [*hasmetatags*]"
I think these 2 tags should be removed from the docs [_haskeywords_] [_hasmetatags_] and possible the code.
http://www.clippercms.com/documentation/construction/tags-doc.html
Thx

[2013-11-08 12:56] Cipa opened #393 "some incorrect links in the documentation"
The 2 links in the screenshot are not correct.
http://www.clippercms.com/documentation/construction/tags-doc.html
![screen shot 2013-11-08 at 7 55 00 am](https://f.cloud.github.com/assets/293377/1500351/11c5fda6-4875-11e3-9dac-6d61d5094259.png)

[2013-11-08 15:16] kp52 commented on #393
Fixed; also Using Snippets link in next section.

[2013-11-08 15:16] #393 closed, assigned to kp52

[2013-11-11 14:04] Cipa opened #394 "Don't think TinyMce [+customparams+] is not being used"
Should we remove this or add a box in the manager. For example I need expand TinyMce with a custom plugin

[code]

I could just modify the mce_init.js.inc or use the [+customparams+] field. Unless I'm missing something [+customparams+] is not being used. for now I will modify mce_init.js.inc

[2013-11-13 16:23] #237 closed, assigned to nobody

[2013-11-13 16:24] TimGS commented on #363
Yes. We can always reinstate it if a translator comes along.

[2013-11-13 16:24] #363 closed, assigned to nobody

[2013-11-13 16:26] #357 closed, assigned to Cipa

[2013-11-13 16:41] #157 closed, assigned to TimGS

[2013-11-13 16:59] TimGS commented on #292
Help button added to kcfinder.

[2013-11-13 16:59] #292 closed, assigned to nobody

[2013-11-13 19:00] microcipcip opened #395 "Upgrade to TinyMCE 4.0?"
Do you think it would be worthwhile to upgrade TinyMCE?
TinyMCE 4.0 seems a complete rewrite, so maybe it is not a simple implementation.

http://www.tinymce.com/wiki.php/Tutorial:Migration_guide_from_3.x

[2013-11-14 16:48] kp52 commented on #395
Interesting note towards the end of the linked article:

[2013-11-19 23:54] microcipcip opened #397 "File Manager permissions"
If I go to "Security > Manager User" and I select a user, then I open the tab "User" and I deselect the checkbox for "Uploadable Image Types", "Uploadable Media Types", etc, when I try to upload an image or another media in the File Manager, I shouldn't be allowed to upload. Instead, it seems I can do that. I have tried this with ClipperCMS 1.2.0. Has this been fixed since then?

[2013-11-20 08:42] TimGS commented on #397
No idea. Only one way to find out for sure!

[2013-11-20 10:02] kp52 commented on #397
Setting works for me with Clipper 1.2.6. Created test user, cleared those checkboxes and left input empty. User logged in, and was not allowed to upload a JPG file. User logged out. I set specific allowed file types (jpg, log), test user logged in and was able to upload JPG file, but not a TXT file. As usual, current permissions are only updated at login.

[2013-11-20 10:58] microcipcip commented on #397
I guess the problem is with previous versions of ClipperCMS. I will upgrade now and see if this fix the issue.

[2013-11-20 11:35] microcipcip commented on #397
I have updated ClipperCMS to 1.2.6, however I am still seeing the issue. I am able to upload images although I don't have the permissions to do so.

[2013-12-13 15:35] kp52 opened #398 "Clipper-Develop: login.processor.php blocks login on local/shared hosting"
Lines 119-122 of manager/processors/login.processor.php in Clipper-Develop cause an error when you try to log in on local hosting on your PC or on shared hosting.

[code]

This logic used to be inactive unless the user was restricted to logging in from specific IP addresses, now it is applied to every login. I get the same error on MODX 1.0.5 when I enable IP restrictions for a user on shared host

[2013-12-16 12:07] kp52 commented on #392
These entries have been removed from the docs.

[2013-12-16 12:41] #392 closed, assigned to kp52

[2013-12-18 00:45] TimGS opened #400 "kcfinder max filesize support"
http://www.clippercms.com/forum/viewtopic.php?pid=1340#p1340

[2013-12-26 09:58] rellai opened #401 "russian UTF8 in tinymce and resmanager"
invalid encoding  in tinymce and resmanager

Need to rename files
assets/plugins/tinymce/lang/russian-UTF8.inc.php
to
assets/plugins/tinymce/lang/russian.inc.php

and
assets/modules/resmanager/lang/russian-UTF8.inc.php
to
assets/modules/resmanager/lang/russian.inc.php

[2013-12-26 11:59] rellai opened #402 "Replace russian.inc.php"
Please update /manager/includes/lang/russian.inc.php
http://pastebin.com/S5ZR5MQJ

[2013-12-26 18:58] TimGS commented on #401
Have you checked the develop branch?

[2013-12-27 04:36] rellai commented on #401
I tested 1.2.6.Now all is well

[2013-12-27 07:25] #401 closed, assigned to TimGS

[2014-01-07 16:05] bossloper opened #403 "Invalid path to image for manager theme"
Getting a missing file note in my server logs when in the manager interface for modern theme. Cause is in manager/media/style/common/styles.css (line 282):

background-image:url(images/misc/tabareabg.gif);

This css file is called by manager/frames/tree.php (line 24) and resolving the path for the image to:

manager/media/style/common/images/misc/tabareabg.gif

which does not exist.

[2014-01-07 16:57] kp52 commented on #403
What version of Clipper? The file is certainly there in the 1.2.6 distribution.

[2014-01-07 17:35] TimGS commented on #403
The image is in style/ClipperModern, but the CSS link is in style/common.

Although very much a work in progress, style/common is meant to be a basic style that is always included and themes build on this foundation. I think this CSS rule is non-essential, and as such belongs with ClipperModern - i.e. the CSS rule with that link should be moved back to ClipperModern. Agreed?

-- Tim.

[2014-01-07 17:45] bossloper commented on #403
Tim - Yes that sounds correct to me!

p.s. the 'Download ClipperCMS 1.2.6' button on the ClipperCMS site does not seem to be working for IE11 (fine for Chrome, Firefox etc)

[2014-01-07 18:01] kp52 commented on #402
Line 3:  \* Filename:    includes/lang/russian-UTF8.inc.php
is now incorrect - it's   includes/lang/russian.inc.php

A few questions:

196 - $_lang["database_table_engine"] = 'Engine';
is not translated. Is this "Тип" in Russian?

250 - $_lang['package_manager_upload_byfolder_label'] = 'Прочитать пакет из каталога';
This option is to install an Extra from an uncompressed folder, for use during dev

[2014-01-07 18:22] microcipcip commented on #403
IE doesn't finish to surprise me! I'll check out why it doesn't work, thanks!

[2014-01-07 18:35] microcipcip commented on #403
It seems to be a security setting of IE http://answers.microsoft.com/en-us/ie/forum/ie8-windows_other/error-message-your-current-security-settings-do/59cc236d-7baf-4552-92ff-b34b9a6942aa

[2014-01-07 19:41] rellai commented on #402
Не за что, хоть чем то рад помочь проекту!!
196 - $lang["databasetable_engine"] = 'Ядро СУБД';
250 - $lang['packagemanager_upload_byfolder_label'] = 'Загрузить из папки';
252 - $lang['packagemanager_restart'] = 'Вернуться в начало менеджера пакетов';
260 - $lang['packagemanager_error_internal'] = 'Внутренняя ошибкa при загрузке. Пожалуйста, попробуйте еще раз.';

[2014-01-15 17:22] kp52 opened #407 "Res Manager: Make Russian-UTF8.inc.php the default language file for Russian"
Current default Russian language file for Res Manager is Windows Cyrillic 1251 coding. This doesn't work in Res manager main screen (just "unrecognized character" symbols). Changing file name of russian.inc.php to russian-1251.inc.php and then russian-UTF8.inc.php to russian.inc.php fixes this.
(Sorry no time to process as pull request)

[2014-01-21 16:44] microcipcip opened #408 "clpr_user_messages, is this used?"
Is the table clpr_user_messages used? I thought that the msg system was removed?

[2014-01-21 17:06] TimGS commented on #408
No and yes.

Now removed from the develop branch.

-- Tim.

[2014-01-21 17:06] #408 closed, assigned to nobody

[2014-01-21 18:12] microcipcip opened #409 "MultiTV problem with image thumb"
I have found a bug with MultiTV when used in "datatable" view. When I insert an image, the view scroll on top of the page, and I have to go down to insert more imgs. I have analized with firebug the code of the input field for the image path, and this is what I see:

[code]

If I delete from class="img5 image image-preview" the "image" class, it doesn't do this anymore, however I don't see the thu

[2014-01-22 16:55] microcipcip opened #410 "Output Modifiers - ;limit()"
Does the limit output modifier work with List? I have tried the following but I don't see any output:
[+content;limit(15)+]
[+content;html;limit(115)+]

[2014-01-22 16:57] TimGS commented on #410
Do the other modifiers definitely work e.g. ;html ?

[2014-01-22 17:01] microcipcip commented on #410
It doesn't, I guess some conflict with PHx, I will try to test with the plugin disabled.

[2014-01-22 17:09] microcipcip commented on #410
There is a strange behaviour, with PHx enabled I can work with Cross References and not with Output modifiers, and when I disabled PHx even Cross References stop working, I will make a clean install of ClipperCMS, maybe there is a conflict somewhere with the plugin.

[2014-01-22 17:51] microcipcip commented on #410
I have installed a clean copy of ClipperCMS 1.2.6. Output modifiers (at list limit) are working outside List, but not inside List template. PHx is disabled.

[2014-01-22 18:00] TimGS commented on #410
I think it's fixed in the develop branch. Try it and see.

[2014-01-22 18:21] microcipcip commented on #410
Ok, I'll try.

[2014-01-24 16:17] TimGS opened #411 "ClipperModern doesn't still input[type=password]"
I think these should be styled as per input[type=text].

-- Tim.

[2014-01-24 17:25] microcipcip commented on #411
Ok

[2014-01-26 15:20] microcipcip opened #413 "PHP Parse error in snippet List"
I have installed ClipperCMS Develop. I am getting this issue " PHP Parse error in snippet List" with the demo website.

[code]

[2014-01-26 15:22] microcipcip commented on #413
I get the error only where there is List running. The other pages works all right.

[2014-01-26 19:51] TimGS commented on #413
Puzzled. Try pasting in install/assets/snippets/list.tpl into the List snippet via the manager, or just reinstall list via the installer upgrade option.

[2014-01-27 08:05] microcipcip commented on #413
I have tried to install List from list.tpl and I have also installed ClipperCMS Develop from scratch other two times, changing database type. MyISAM and Inno db. I am still getting the error. Is there anything I can do to report a more detailed error?

[2014-01-27 08:09] microcipcip commented on #413
My PHP Version 5.4.7
Database Version 5.5.27

[2014-01-27 09:09] TimGS commented on #413
If you paste in list.tpl, which line number is reported for the error?

[2014-01-27 10:14] microcipcip commented on #413
You mean if I paste the code from list.tpl to the snippet in the manager? The same line.

[2014-01-27 10:23] TimGS commented on #413
Have you pasted the entire file including comments?

Line 172 of list.tpl doesn't have any {curly braces}

[2014-01-27 14:00] microcipcip commented on #413
Yes, I have pasted the whole file, I have just deleted the first comments right before the <php? tag

[2014-01-29 13:27] TimGS commented on #413
Do you get the same error if you move the site to a PHP 5.3 server?

[2014-01-29 13:42] Cipa commented on #413
just a thought. can you add a var_dump before line 1293
var_dump($___snippet_code);

On Wed, Jan 29, 2014 at 8:27 AM, TimGS notifications@github.com wrote:

[2014-01-29 14:54] microcipcip commented on #413
Done, I have got a huge code, should I paste it all here?

[2014-01-29 15:01] Cipa commented on #413
Well I am not sure but I think that document.parser.class.inc.php(1294)
means there is an error with the eval on that line. Maybe we can find out
from that code where is the extra { that the error is referring to.
Maybe see line 172 of that code if it makes sense

On Wed, Jan 29, 2014 at 9:54 AM, Salvatore Tedde
notifications@github.comwrote:

[2014-01-29 15:15] microcipcip commented on #413
Line 172 is just a comment. Is List working all right in your develop install?

[2014-01-29 15:17] Cipa commented on #413
I don't have a working install right now.

On Wed, Jan 29, 2014 at 10:15 AM, Salvatore Tedde
notifications@github.comwrote:

[2014-02-11 10:03] microcipcip commented on #413
Do you have any other suggestion?

[2014-02-14 13:54] Cipa commented on #413
Not really, I just setup a new install and there I have a problem as well

Basically pages that use Ditto or List don't work. A simple test would be
to just type [[Ditto]] in the rich textarea of the home page of a newly
installed ClipperCMS. I also think other pages using Ditto don't work.

Error is

PHP error debug
  Error: Cannot modify header information - headers already sent by (output
start

[2014-02-14 14:03] Cipa opened #414 "protect.inc.php - Deprecated: preg_replace()"
There is an e in the $modxtags var on line 23 that I think generates a warning.

[2014-02-14 14:13] Cipa commented on #413
I can now confirm I get the same error and it is Ditto/List. Don't know why though

[2014-02-14 14:17] Cipa commented on #413
The problem is on line 172 of the List snippet(the code in the manager) and it is related to the lang files. If I remove the for loop at that line everything starts to work. Maybe one of the latest lang changes broke List. Will have a look later this week unless a fix is found by then.

Cheers

[2014-02-14 14:28] Cipa commented on #413
Note: There's an extra ( on the if but that doesn't fix the problem.

On Fri, Feb 14, 2014 at 8:53 AM, Ciprian Badea ciprian.badea@gmail.comwrote:

[2014-02-14 14:33] Cipa opened #415 "another deprecated preg_replace in protect.inc.php"
PHP Deprecated:  preg_replace(): The /e modifier is deprecated, use preg_replace_callback instead in /Users/Dropbox/Sites/ClipperCMS/manager/includes/protect.inc.php on line 42

[2014-02-14 14:37] #415 closed, assigned to nobody

[2014-02-14 14:37] Cipa commented on #415
duplicate

[2014-02-14 15:51] TimGS commented on #411
Fixed in https://github.com/ClipperCMS/ClipperCMS/commit/493f2157d09d592ca8e9043f9a21e5c394552f3a

[2014-02-14 15:51] #411 closed, assigned to microcipcip

[2014-02-14 15:52] TimGS commented on #414
I think this is fixed in clipper-1.2.x, which will eventually be merged with develop.

[2014-02-14 15:52] #414 closed, assigned to nobody

[2014-02-14 16:04] TimGS commented on #407
Sort of fixed, though on 1.2.x this inherently breaks it for a character encoding of 1251 when set via Tools->Config.

In develop this is fixed properly!

[2014-02-14 16:04] #407 closed, assigned to Cipa

[2014-02-14 16:18] #402 closed, assigned to nobody

[2014-02-14 16:19] TimGS commented on #409
May be best to ask in the forums.

[2014-02-14 16:20] TimGS commented on #413
Does this exist on branch 1.2.x?

[2014-02-14 16:22] TimGS opened #416 "Manager page language attribute is incorrect if user's charset is set"
If a manager user's language is set and differs from the default, the html tag's language attribute will still be using the default.

[2014-02-14 16:24] Cipa commented on #413
I downloaded the latest develop I think. it says _1.2.6 Leander_

On Fri, Feb 14, 2014 at 11:20 AM, TimGS notifications@github.com wrote:

[2014-02-14 16:30] TimGS commented on #403
I think this is fixed in branch 1.2.x, which will shortly be 1.2.7. If I'm wrong, re-open!

[2014-02-14 16:30] #403 closed, assigned to TimGS

[2014-02-14 16:30] TimGS commented on #413
Does it exist on branch clipper-1.2.x as on github?

[2014-02-14 16:34] microcipcip commented on #409
Ok.

[2014-02-14 16:47] microcipcip commented on #413
I'll try now

[2014-02-14 16:54] microcipcip commented on #413
Yes, the same error. I have just downloaded the develop version.

[2014-02-27 17:14] TimGS commented on #413
Some language files have been updated recently in clipper-1.2.x. Can you recheck?

Can you also check whether the behaviour is the same for different languages?

-- Tim.

[2014-02-28 18:29] Cipa commented on #413
The problem is with convertLanguageArray function

List passes
$modx->convertLanguageArray('_lang', $language_files['base_language'], '_lang')

but the function expects

[code]

Check the first param - it expects an array.

So the fix in my opinion is to change line 175
from

[code]

to

[code]

[2014-02-28 18:35] TimGS commented on #413
I think $modx->convertLanguageArray() is on branch develop, but not clipper-1.2.x, so I've re-assigned this issue to 1.3.

Is this right? Is branch clipper-1.2.x unaffected by this bug?

-- Tim.

[2014-02-28 18:46] Cipa commented on #413
I think it's only develop

On Fri, Feb 28, 2014 at 1:35 PM, TimGS notifications@github.com wrote:

[2014-03-03 08:57] TimGS opened #419 "RSS feeds in manager not working"

[2014-03-03 16:15] kp52 commented on #419
Replacement using SimplePie reader in place of MagieRSS and suitable URLs for FluxBB in context of 1.2.x is now available at https://github.com/kp52/ClipperCMS/tree/RSS
Tested on local PC/Apache/PHP 5.5.4 only so far. Will be testing on Linux server shortly.

[2014-03-03 16:46] kp52 commented on #419
Now tested on Linux server + PHP 5.3.2

[2014-03-03 17:51] kp52 commented on #419
Also need to update setup.sql for new addresses - <del>coming up</del> **done**!

[2014-03-04 15:13] #419 closed, assigned to nobody

[2014-03-04 18:06] kp52 commented on #413
Problem is in develop only, List v2.1.3. Two problems, in fact:
- syntax error due to double opening parenthesis around line 172. Reported as unexpected "{" because "if" hasn't seen a closing parenthesis yet.
- as noted by cipa, string instead of variable as first parameter in line 175.
  Demo site works normally with these fixed, as per pull request #421.

[2014-03-04 18:25] TimGS commented on #413
Now fixed in develop c/o @kp52

[2014-03-04 18:25] #413 closed, assigned to nobody

[2014-03-04 18:27] TimGS commented on #410
#413 now fixed, so #410 should be now testable.

[2014-03-04 21:47] kp52 opened #422 "1.2.7 upgrade install fails"
Changed line 286 in install/instrocessor.php

[code]

expects to receive value from mysql/mysqli choice that is so far only in Develop. As it stands, it's blank, and destroys the database type setting in config.inc.php on an upgrade install.

Haven't tested a fresh install yet.

For now, this should either revert to 1.2.6's

[code]

or make mysqli the default

[code]

(after all, you must have mys

[2014-03-05 12:57] kp52 commented on #422
Fresh download today has

[code]

So I must have picked up wrong file somehow. All the same, this could usefully be updated to set mysqli as the default, or detect and preserve existing config.inc.php setting on upgrade. Testing with PHP 5.5.3, I get "deprecated" errors that prevent login after install or upgrade install until config.inc.php is manulally edited.

[2014-03-05 17:25] TimGS commented on #422
Maybe it should set mysqli only for PHP 5.5 and higher.

I think earlier versions should keep mysql as the default until version 1.3.

-- Tim.

[2014-03-05 17:39] kp52 commented on #422
I can live with that, if 5.5 is when PHP starts raising objections, though I see no advantage, now that all core files use DBAPI.

So instprocessor needs to check, in priority order:
- (future Clipper versions) setting requested in initial settings screen of fresh install
- existing setting in config.inc.php to be preserved (upgrade install)
- PHP version to select mysql (&lt;5.5) or mysqli (&gt;=

[2014-03-05 17:45] TimGS commented on #422
Not sure offhand, but I think the first two may be already in develop.

Maybe for 1.2.7 just do the third check?

-- Tim.

[2014-03-05 18:02] kp52 commented on #422
First is in develop (POST data, and cause of my original confusion)
I think the second is there (set in action.options.php)
(Updated my previous comment to show &lt; and &gt; properly)

[2014-03-06 09:31] TimGS commented on #422
First two seem to be in _develop_ via https://github.com/ClipperCMS/ClipperCMS/commit/aeeea7d69486ab412ec973f4b7b6f82461ee6c40

-- Tim.

[2014-03-06 09:39] TimGS commented on #422
I'm having second thoughts - maybe we should cherry-pick this commit into 1.2.x (?).

Existing sites retain mysql on the quick upgrade. New sites and existing sites on the advanced upgrade get the choice with mysqli being the default.

Maybe a note could be added to the action=mode stage to pick advanced upgrade if experiencing problems with PHP 5.5 and mysql? Alternatively we could have a new upg

[2014-03-06 11:03] kp52 commented on #422
Tested transplant of Develop's installer into 1.2.x (fresh downloads from this morning) (unselective apart from replacing newer setup.sql), so I was installing 1.2.x with choice of myqsql(i). Used PHP 5.5.4 with no mysql etension for mysqli-only setup, and PHP 5.2.17 with mysql & mysqli extensions to test switching.
- choice of mysql(i) offered on new install, and choice is implemented
- upgrade i

[2014-03-06 11:10] TimGS commented on #422
Checkbox seems the best option, especially as this feature probably has a limited lifespan as per PHP's mysql extension.

I have cherry-picked aeeea7d69486ab412ec973f4b7b6f82461ee6c40 into 1.2.x

[2014-03-13 12:23] kp52 commented on #422
Have used current 1.2.x for a transfer from MODX to Clipper. Choice of mysql/mysqli in initial setup, and preservation of choice through upgrade installs, working fine.

[2014-03-13 13:41] #422 closed, assigned to nobody

[2014-03-20 13:15] TimGS opened #423 "RSS feeds in manager"
In 1.2.7, I now see only News->Extras in both News and Security feeds

I can't see News or Security feeds at all.

In the config I have:
RSS news feed: http://www.clippercms.com/forum/index.php?board=3;type=rss;action=.xml;sa=news;limit=20

RSS security feed: http://www.clippercms.com/forum/index.php?board=22;type=rss;action=.xml;sa=news;limit=20

-- Tim.

[2014-03-20 14:23] kp52 commented on #423
You should see the FluxBB announcement. with the config in the install package.
1.2.7 announcement is missed and security notices is blank (no default message) because of error in rss.inc.php:
Lines 57-63 should read

[code]

otherwise shorter items are skipped.

[2014-03-20 14:29] kp52 commented on #423
Correct RSS strings for config are:

[code]

and

[code]

[2014-03-26 22:30] #423 closed, assigned to kp52

[2014-04-06 15:11] Cipa opened #425 ""Access Permissions" tab in Manager Manager not renaming"
I think the best solution is to implement a generic approach

The switch at line 20 for tabs.inc.php can be replaced by one line of code

[code]

Tested this and seems to work well

[2014-04-08 13:13] Cipa opened #426 "weird TV for newly created documents using the _blank template"
On the develop branch I created a new resource and assigned the a blank template.
Normally a blank template means no TVs but in the case I see "Plain text second section" TV under the Resource content area.

Same thing happens if I change from a regular template to a blank template.

This is for an install using the sample site but it I think it also happens for updates. See http://www.clippercms.

[2014-04-09 12:48] Cipa commented on #426
Found the code that introduced this bug
https://github.com/ClipperCMS/ClipperCMS/commit/e1779b7b895d80ab2566858d571e15611cb316fe#diff-6b8fad2477dcc0c4a8a586bb4a03b60fR761
@TimGS can you have a look at it. If i remove that if the TVs in the blank template will disappear. I am not sure why the if was needed. Maybe you can find the best solution.

Thanks

[2014-04-09 12:59] Cipa commented on #426
A possible fix could be

[code]

[2014-06-06 06:35] ghost opened #427 "AjaxSearch"

[2014-06-06 08:30] TimGS commented on #427
Noted. A fix is being issued later today.

Thanks.

-- Tim.

[2014-06-06 08:30] #427 closed, assigned to nobody

[2014-06-18 09:46] TimGS commented on #410
Put &phx=`0` in the snippet call. Perhaps this should now be the default?

[2014-06-18 09:55] TimGS commented on #410
I've also added https://github.com/ClipperCMS/ClipperCMS/commit/71740baeb3e5d21e084842a4eef11e02cdbad5b2, which should make &phx=`0` unnecessary.

Now each single list/ditto template can use phx or output modifiers - but not both within the same template.

This is in the develop branch. Stable branches (i.e. 1.2.8) will still need &phx=`0`.

[2014-06-18 09:55] #410 closed, assigned to nobody

[2014-06-18 10:02] #398 closed, assigned to nobody

[2014-06-18 10:02] TimGS commented on #398
Fixed in https://github.com/ClipperCMS/ClipperCMS/commit/3c5c42b8a904ecaa47715aabe7dedc50aff47cdc

[2014-06-18 10:04] TimGS commented on #189
@Cipa - can you sort this for 1.3 (develop branch). Thanks.

[2014-06-26 15:29] Cipa commented on #189
not any time soon, maybe in 1 2 weeks

On Wed, Jun 18, 2014 at 6:04 AM, TimGS notifications@github.com wrote:

[2014-07-22 13:35] TimGS commented on #382
Are you able to do this soon? If not, I'll reassign to 1.4.

[2014-07-22 13:39] TimGS commented on #268
@Cipa - bump!

[2014-07-22 13:40] TimGS commented on #189
@Cipa - what's the state of play with this? We can defer till 1.4 if you prefer. Your decision I think.

[2014-07-22 13:44] TimGS commented on #229
@Salvatore? Shall we assign this to 1.3 or 1.4?

[2014-07-22 13:46] TimGS commented on #203
Anyone wish to make a firm proposal? Possibly it should be discussed in the forum but feel free to copy it here.

@bossloper?

[2014-07-22 22:18] microcipcip commented on #229
This task requires a lot of work, it is probably better to move it to v1.4

[2014-07-23 08:27] TimGS commented on #203
I've just checked, and there is a 'help' option now in the kcfinder menu. Possibly this is sufficient? I'm closing this issue, but feel free to reopen if you have a better proposal.

[2014-07-23 08:27] #203 closed, assigned to nobody

[2014-07-23 08:28] TimGS commented on #332
This (I think) is fixed now - can you confirm?

[2014-07-23 19:43] microcipcip commented on #382
Yes please, reassign to 1.4

[2014-07-31 18:59] #341 closed, assigned to TimGS

[2014-07-31 19:04] #416 closed, assigned to TimGS

[2014-07-31 19:07] TimGS commented on #314
OK. No one is objecting. Can you submit a pull request on the develop branch?

If possible I'd prefer a height in ems, but if that's a pain, pixels if fine.

-- Tim.

[2014-07-31 19:18] TimGS commented on #329
Is this still a bug?

[2014-07-31 20:02] #400 closed, assigned to nobody

[2014-07-31 21:09] microcipcip commented on #329
Yes, but I don't think it is a major issue, we can close it for now.

[2014-07-31 21:09] #329 closed, assigned to Cipa

[2014-08-01 08:46] TimGS commented on #175
Bump - is this documented?

[2014-08-01 09:03] TimGS commented on #252
Done. Please submit updates for other language files.
-- Tim.

[2014-08-01 09:03] #252 closed, assigned to TimGS

[2014-08-01 09:12] TimGS commented on #267
I think unless we get more info on this it's best to leave it as is. The warning is there and people are free to look it up. I suspect it's not going to make any difference most of the time anyway - as long as core code validates data before inserting into the db all is fine.

[2014-08-01 09:12] #267 closed, assigned to nobody

[2014-08-01 12:04] kp52 commented on #175
It is now! (http://www.clippercms.com/documentation/doc-extras/extras-bundled-snippets/snippets-list.html)

[2014-08-01 12:04] #175 closed, assigned to kp52

[2014-08-01 16:23] #268 closed, assigned to Cipa

[2014-08-06 12:32] TimGS commented on #199
Manager and WebUsers both updated on develop branch.

[2014-08-06 12:32] #199 closed, assigned to TimGS

[2014-08-20 22:48] Cipa opened #429 "OnDocUnPublished/OnDocPublished not triggered when documents are unpublished automatically"
Hi,

Unless I misunderstood the scope of OnDocUnPublished/OnDocPublished events, these events are not triggered when a doc is unpublished when a set unpub_date date is set.

I think that around line 812 in manager/includes/document.parser.class.inc.php we need a way to trigger the OnDocUnPublished/OnDocPublished events, problem is modx object is not available there so I am not sure what is the bes

[2014-08-21 05:59] Jako commented on #409
The class names `image image-preview` are set by multiTV. If that causes an issue, the naming of those class names could be changed in multiTV php/javascript code to something more unique like `mtv-image mtv-image-preview`.

[2014-08-21 06:01] Jako commented on #429
Maybe it is solved here: https://github.com/modxcms/evolution/pull/67

[2014-08-21 07:55] TimGS commented on #409
I think that would be a reasonable solution.

[2014-08-21 08:03] TimGS commented on #429
Agree with putting it in DocumentParser::checkPublishStatus(). This seems logical and consistent with it's current use in the manager i.e. publish/unpublish when _only_ that is happening.

I don't think it should go in the save content processor as per the pull request to MODx. Plugins already exist that work on the basis that either the save document events are being invoked or the publish events

[2014-08-21 09:19] Jako commented on #409
Should be solved with https://github.com/Jako/multiTV/releases/tag/2.0.1

[2014-08-21 15:12] Cipa commented on #429
Thanks, I implemented the solution above on a older version of clipper and it seems to work.

[2014-11-06 13:11] TimGS opened #430 "Weblink html"
html ents in weblink form

[2014-11-06 13:15] TimGS opened #431 "Remove e modifier from Transalias plugin"

[2014-11-06 14:10] #431 closed, assigned to TimGS

[2014-11-07 12:29] #430 closed, assigned to TimGS

[2014-11-07 13:43] #246 closed, assigned to TimGS

[2014-11-07 13:47] #425 closed, assigned to nobody

[2014-11-07 13:49] TimGS commented on #397
Is this a kcfinder bug or mcpuk bug or both?

[2014-11-07 14:01] #426 closed, assigned to TimGS

[2014-11-07 20:02] #332 closed, assigned to TimGS

[2014-11-07 20:03] TimGS commented on #257
I think this is fixed - closing - please reopen if I'm wrong!

[2014-11-07 20:03] #257 closed, assigned to TimGS

[2014-11-13 15:14] ghost opened #432 "JOT call to missing function in Clipper 1.2.9"
Snippet Jot has a call in jot.class.php (line 496 and  line 898) to a function $modx->htmlspecialchars which does not exists in Clipper.

[2014-11-13 15:39] TimGS commented on #432
We need someone to step up and maintain Jot!

-- Tim.

[2014-11-13 16:36] Jako commented on #432
$modx->htmlspecialchars is just a wrapper for htmlspecialchars with the MODX charset.

[2014-11-21 13:30] TimGS commented on #432
Am fixing this now in the develop branch.

[2014-11-21 13:30] #432 closed, assigned to nobody

[2014-11-21 13:42] TimGS commented on #432
See https://github.com/ClipperCMS/ClipperCMS/commit/6ca67bbe9339116320c399cda907ca721792d5e4

[2014-11-24 14:20] kp52 opened #433 "Develop (1.3): transalias plugin file missing"
After installing current Develop branch with all snippets and other elements, I get an error on saving a resource:
Warning: require(H:/EBMS/assets/plugins/transalias/plugin.transalias.php): failed to open stream: No such file or directory in H:\EBMS\manager\includes\document.parser.class.inc.php(1274) : eval()'d code on line 1 Fatal error: require(): Failed opening required 'H:/EBMS/assets/plugins

[2014-11-24 14:28] TimGS commented on #433
Fixed.

[2014-11-24 14:28] #433 closed, assigned to nobody

[2014-11-24 19:59] kp52 opened #434 "Develop(1.3) + List 2.1.3 spurious language warnings"
Using List 2.1.3 with current Develop branch, I'm getting two warnings logged in System Events for each List call:

Language file cannot be completely converted to UTF-8. Please check: ..../assets/snippets/list/lang/english.inc.php

As far as I know, everything is already UTF-8. Maybe some mismatch in document parser convertLanguageArray() ?

[2014-11-24 20:20] #434 closed, assigned to nobody

[2014-11-24 20:21] TimGS commented on #434
DocumentParser::convertLanguageArray() returned the wrong/illogical success/fail values.

[2014-11-26 12:07] kp52 opened #435 "List + PHx modifiers"
Using current develop branch, I have a List call with a PHx modifier in the tpl chunk, e.g.
[+introtext:myModifier=`[+content+]`+]

The "content" placeholder's value should appear in the snippet **phx:mymodifier** as $options. But it doesn't. Exploring a little with variations on this theme, such as adding more placeholders to the options string, it looks as if the data for the first placeholder i

[2014-11-26 12:45] TimGS commented on #435
Don't know  - I avoid phx.

[2014-11-26 12:47] TimGS commented on #435
I think perhaps we need a discussion on whether we should support phx.

[2014-11-26 20:58] nick0 commented on #435
If PHx is not going to be supported by ClipperCMS, please provide a nice alternative that works in html and snippet templates.
PHx allows a lot of flexibility, particularly in templating, that cannot otherwise be easily achieved (well, at least without programming knowledge).
I never do any web project without it.

[2014-11-26 23:41] kp52 commented on #435
At the risk of making UK-culture-specific references, the PHx plugin is similar to Marmite (you love it or you loathe it), and "I agree with Nick": PHx as an auxiliary to List (and several other snippets) is indispensable in template chunks. Whatever the case, the place to discuss it is in the forum. This issue concerns an apparent bug that I intend to investigate further in its own right.

[2014-11-27 10:21] TimGS commented on #435
I will post on the forum, but to close this part of the discussion, a few points should be clear.
- if it's a bug with ClipperCMS or List, we will fix it.
- if it's a bug with Phx, someone needs to maintain phx! Phx is not core code.
- if it's a conflict with new ClipperCMS development and Phx, then people need to accept that something needs to give somewhere.

-- Tim.

[2014-11-29 18:17] kp52 commented on #435
Using specific tests with a List/Ditto template chunk in Clipper-develop, Clipper 1.2.8 and MODX-1.0.15, I find that:
no value is submitted to a PHx modifier for [+content+] when it is the first argument for the modifier, e.g.

[code]

**unless** the [+content+] tag is included elsewhere in the template chunk.

"elsewhere" may be as a later argument to the PHx tag, so this one works:

[code]

I'm

[2014-11-29 18:17] #435 closed, assigned to nobody

[2014-11-30 13:47] Jako commented on #435
List bases on Ditto: In Ditto there exists the &hiddenFields parameter, that fixed those problems.

[2014-11-30 15:45] kp52 commented on #435
I hadn't tried &hiddenFields before, but have now. It doesn't fix this problem, which seems to affect PHx's handling of placeholders, not Ditto/List's handling of templates. In fact I did manage to reproduce the general "first argument not processed" behaviour with [+longtitle+] and [+description+]. They are processed if also mentioned elsewhere in the template chunk, but not if their only appeara

[2015-01-31 16:46] Cipa opened #436 "Sql error after upgrade from 1.0.4 to clipper develop, site works fine"
Hi,

ClipperCMS encountered the following error while attempting to parse the requested resource:
« Execution of a query to the database failed - Unknown column 'te.restrict_children' in 'field list' »
      SQL: SELECT DISTINCT sc.id, pagetitle, template, parent, isfolder, published, deleted, type, menuindex, hidemenu, alias, contentType, privateweb, privatemgr, te.restrict_children, te.allowed_c

[2015-03-03 13:59] Cipa commented on #403
This is not fixed in 1.2.9, there are 3 solutions
1. remove the gif from both themes and common theme file
2. add the gif to common theme (we now have 3 tabareabg.gif)
3. remove the gif from the common theme (simplest)

I implemented 3 on a local project

[2015-03-03 14:05] Cipa opened #439 "Shouldn't clipper carbon theme be removed"

[2015-03-03 14:13] Cipa opened #440 "datatables doesn't seem to be used anywhere"
Is it possible that I'm wrong?

[2015-03-03 14:15] #440 closed, assigned to nobody

[2015-03-03 14:22] #439 closed, assigned to nobody

[2015-03-03 14:39] Cipa opened #441 "DocManager/Template Variables/A template with a IMG tv still opens the old image browser"
Same thing could happen to other modules like ResManager

What is the correct approach to fix this? Is there a setting to change between the 2 image browsers and should we still keep the old one?

[2015-03-04 10:31] microcipcip commented on #441
Is this a bug or you're experiencing this in all websites?

[2015-03-04 11:57] Cipa commented on #441
It doesn't do it anymore, maybe something was cached after upgrade

[2015-03-04 11:57] #441 closed, assigned to nobody

[2015-03-05 18:17] Cipa opened #442 "this [[#fixes a chrome bug when vertically middle aligned]] generates a report"
Hi
[[#fixes a chrome bug when vertically middle aligned]]
in a file generates a report in event log.

How are these parsed lately [[# ]]

Thank you

[2015-03-10 23:44] Cipa commented on #395
Is there something done already I could look at, seems like current version has some problems with webkit(Safari/Chrome) and in some cases it inserts spans with line-height and font-size and other styles.

[2015-03-10 23:47] Jako commented on #395
Maybe a good start: https://github.com/yama/tinymce4-for-modx-evo

[2015-03-10 23:50] yama commented on #395
Sorry, I forgot it. I begin it now.

[2015-03-12 15:59] Cipa commented on #395
@yama - are you working on providing a pull request for Clipper?
If not I can try, maybe you can send me some instructions on how to integrate.
Thank you

[2015-03-12 16:03] Cipa commented on #436
closing as it did not happen again on other installs

[2015-03-12 16:03] #436 closed, assigned to nobody

[2015-03-12 16:15] TimGS commented on #442
As far as I am aware there were never any comments tags in Evo.

I think Revo has [[- ]] or something like that

[2015-03-12 16:15] #442 closed, assigned to nobody

[2015-03-12 16:22] Cipa commented on #442
True, but should [[# ]] generate a report?

[2015-03-12 16:25] TimGS commented on #442
Oh - sorry - I think I misunderstood - is it in a core file somewhere?

If in parsed source the parser would interpret it as a snippet call, and then throw an error.

-- Tim.

[2015-03-12 16:35] Cipa commented on #442
I have the [[# comment]] in a template. The parser makes a report that
`Snippet # comment missing or empty`

Same thing happens for [[-]]

We can think of this as a feature but would be nice to have a tag that doesn't throw errors in the system events section

[2015-03-12 16:37] TimGS commented on #442
[[# ]] never was a comment tag - so the parser does indeed start looking for a snippet called '#', hence your error message.

Best put it as a feature request for 1.4.

-- Tim.

[2015-03-12 19:46] Cipa commented on #442
Maybe we can use {{ This is a comment }}.

[2015-03-13 15:04] Cipa opened #443 "Using clipper/modx with dompdf"
Hi,

Unless I am missing something there is no way to turn off header being sent in document.parser.class.inc.php and use your own header. Here is an example

On a page with a blank template and rich text off put a snippet like this

[code]

[2015-03-13 15:14] TimGS commented on #443
IIRC, in PHP, even if headers have already been set, you can override them as long as the body output hasn't been started. So although I'm not entirely sure why your example doesn't work, in general this shouldn't be a problem.

Maybe the included dompdf file(s) have some superfluous spaces at either the start or end of the file?

Is render() generating output to the body?

--Tim.

[2015-03-13 15:16] Cipa commented on #443
render should generate the html in the code in a pdf way
for an older clipper install I made it work with

[code]

Still trying to figure out the problem in the latest clipper

[2015-03-13 15:52] Jako commented on #443
exit(); after the last line.

[2015-03-13 16:12] Cipa commented on #443
Excelent, thank you

[2015-03-13 16:12] #443 closed, assigned to nobody

[2015-03-26 16:48] #409 closed, assigned to nobody

[2015-03-26 21:58] Cipa opened #444 "Lang not properly implemented in sendMailMessage"

[2015-03-26 22:04] #444 closed, assigned to nobody

[2015-03-27 11:58] Cipa opened #445 "ConvertDate function should be removed"
[code]

$modx->toTimeStamp($date) should be used directly

[2015-03-27 12:35] Cipa opened #446 "Related to #444 - on fail sendMailMessage needs to exit"
If it doesn't exit it generates
[27-Mar-2015 08:22:41] PHP Warning:  Cannot modify header information - headers already sent by (output started at /Users/Mac/Dropbox/Sites/site/manager/includes/header.inc.php:13) in /Users/Mac/Dropbox/Sites/site/manager/processors/save_user.processor.php on line 434

[2015-03-28 15:54] Cipa opened #447 "Use System Configuration Setting or Use Main Configuration Setting"
We should use one of them not both in the same section
See Create/Edit User/ User tab

Please let me know which one is prefered.

[2015-03-28 17:18] TimGS commented on #447
Puzzled. Can you explain further? I'm not sure what you mean.
-- Tim.

[2015-03-28 17:28] Cipa commented on #447
![screen shot 2015-03-28 at 1 27 34 pm](https://cloud.githubusercontent.com/assets/293377/6882029/363164ca-d54e-11e4-9140-a015509e5527.png)

The checkbox has a different text than the one in the note below the field

[2015-03-28 17:40] TimGS commented on #447
I see. 'System config...' seems more logical to me.

[2015-03-28 17:54] Cipa commented on #397
Unless I am missing something the user settings are not imported into kcfinder. There is no way to tell from the config settings that the user has or doesn't have access. I am looking into this at the moment but I am not sure what to look for or how to import user settings present in clpr_user_settings table.

I tried getUserSettings but I am not sure how that function works, shouldn't the setting

[2015-03-28 17:57] TimGS commented on #397
I think the clipper integration file incorrectly omits to call $modx->getUserSettings() which should indeed merge the user settings into $modx->config.

[2015-03-28 18:01] Cipa commented on #397
I tried calling both and dumping the config but no new information was added to the config

[2015-03-28 20:36] TimGS commented on #397
Did you check whether the logged in user had any settings that differed from the system settings?

[2015-03-28 20:41] Cipa commented on #397
Actually I think the config is ok. Problem is I can't find a way to disable upload for some folders while allowing the upload for others.

Unless there is a way to tell kcfinder that you don't want to allow to upload images we have to detect the required type in the url (type=images) and compare it with what the user has setup

Still looking for a place where I can do this.

[2015-03-28 20:55] Cipa commented on #397
I think I have a solution.
But I was thinking, if upload is disabled should we allow any of these:
- delete
- copy
- move
- rename

Thoughts?

[2015-03-28 23:43] Cipa opened #448 "kcfinder allows uploads of files not allowed in the files folder for a user"
1. set a user with files allowed to be pdf only
2. upload a jpg file

upload works

[2015-03-29 00:01] Cipa commented on #397
Please test https://github.com/Cipa/ClipperCMS/commit/a487c8fcf20bbae7e4cd70313cd594010e006bb7

[2015-03-29 00:16] Cipa commented on #394
I think this should be closed or mark as not fixable(unless we fix the way the config section of a plugin works) because you can't have complex customparams in the configuration section for tinymce
This is a global issue, only certain types of values can be parsed by the current configuration section

custom params like these work

[code]

but things more complex won't work

[code]

[2015-03-29 00:23] Cipa commented on #316
Hopefully this will get fixed in TinyMce 4 #395

[2015-03-29 00:46] TimGS commented on #397
re: delete etc. Probably not.

[2015-03-29 00:47] #394 closed, assigned to Cipa

[2015-03-29 00:47] TimGS commented on #394
OK

[2015-03-29 11:53] Cipa commented on #397
The fix above allows delete copy etc, I can submit another pull request with the new changes

[2015-03-29 12:20] Cipa opened #449 "Uploadable File Types should be moved from File Manager tab to Interface and features"
Thoughts?

[2015-03-29 12:28] Cipa opened #450 "Now that ckfinder is the prefered file browser shouldn't we switch to ckeditor?"

[2015-03-29 13:15] TimGS commented on #449
But they're for the file manager!

[2015-03-29 13:17] TimGS commented on #450
I'm happy with TinyMCE - but this is a plugin, and so presumably you could write a plugin for ckeditor.

[2015-03-29 13:38] Cipa commented on #449
Then maybe TinyMce is missing the Uploadable Files Types in the Interface & Features tab

[2015-03-29 13:43] Cipa commented on #450
There is one I think, I'm not ok with the current version of TinyMce(lots of webkit bugs, not their fault) but I might be with the new one

[2015-04-01 02:03] Cipa commented on #27
This might be easier to do in version 4 of tinymce, 3 doesn't seem to have an api to enable/disable without refresh

[2015-04-01 02:15] Cipa commented on #156
This doesn't seem to happen anymore for latest develop, should be closed

[2015-04-01 09:14] #156 closed, assigned to nobody

[2015-04-01 16:04] Cipa opened #451 "@parent feature request"
If [ \* pagetitle@1 \* ] works would be nice to have [ \* pagetitle@parent \* ] work as well.
Or maybe

[ \* pagetitle@[ \* parent \* ] \* ]

Thx

[2015-04-01 16:20] TimGS commented on #451
Have you tried [_pagetitle@parent_] ! ;-)

http://www.clippercms.com/documentation/construction/cross-references.html

-- Tim.

[2015-04-01 16:20] #451 closed, assigned to nobody

[2015-04-01 17:32] Cipa commented on #451
Doesn't seem to work if the parent is 0. I get "pagetitle@parent" instead of "Home"
Works for pages inside other documents

Update: I am not sure what it's supposed to do if the parent is 0 but it should not output pagetitle@parent, maybe nothing would be better

[2015-04-01 18:08] TimGS commented on #451
If parent is zero, the parent doesn't exist, implying the output should be empty.

[2015-04-01 18:12] Cipa commented on #451
I see pagetitle@parent  when I put [ \* pagetitle@parent \* ] on a root page.

[2015-04-01 19:00] TimGS commented on #451
branch clipper-1.3.x

[2015-04-16 21:41] Cipa opened #452 "sql errors don't show the php file they came from"
![screen shot 2015-04-16 at 5 40 54 pm](https://cloud.githubusercontent.com/assets/293377/7191989/c314b0fc-e45f-11e4-8248-d2e146790ddd.png)

The report should contain a filename somwhere

[2015-04-16 22:36] TimGS commented on #452
Where was the error?

What was displayed in the on-screen report?

-- Tim.

[2015-04-16 23:02] Cipa commented on #452
An SQL from a custom snippet.
starts with \* SQL:  SELECT STRAIGHT_JOIN DISTINCT SQL_CALC_FOUND_ROWS*

I did not took the whole screenshot so I don't show database names and fields.

You can test this with any snippet that has an sql that generates an error. The System events will not show you the file the sql is in.

[2015-04-17 07:44] TimGS commented on #452
Did the main/summary screen show which snippet it was?

[2015-04-17 13:29] Cipa commented on #452
no, that's the problem, there was no mention of the file name

On Fri, Apr 17, 2015 at 3:44 AM, TimGS notifications@github.com wrote:

[2015-04-24 13:28] Cipa opened #453 "weird sql errors on upgrade"
![screen shot 2015-04-24 at 9 24 54 am](https://cloud.githubusercontent.com/assets/293377/7319471/d448e0e6-ea63-11e4-9343-1b08b743cbc5.png)

Any ideas
Running php 5.5
Maria Db 10.1.2

Clipper reports: Checking MySQL version: OK!   Your MySQL version is: 5.5.5-10.1.2-MariaDB-wsrep-cll-lve

Any ideas?

PS: you can get around and finalize the upgrade process by commenting those 3 sql queries in insta

[2015-04-24 13:59] TimGS commented on #453
setup.sql lines 769-781 contain [.period.]

Try changing this to . in the SQL, or maybe \. in the original PHP (as \ in PHP becomes just \ for the SQL).

-- Tim.

[2015-04-29 20:20] Cipa opened #454 "deleting a resource with lots of children will cause memory exausted error"
[29-Apr-2015 16:18:22 America/Toronto] PHP Fatal error:  Allowed memory size of 33554432 bytes exhausted (tried to allocate 72 bytes) in /Users/Mac/Dropbox/Sites/startup/manager/processors/delete_content.processor.php on line 53

It happens for 64MB of memory as well.

Not sure if anything can be done

[2015-04-29 20:29] TimGS commented on #454
How many is lots?

[2015-04-29 20:31] TimGS commented on #454
And how deep is the nesting of children?

[2015-04-29 20:41] Cipa commented on #454
3 levels excluding the parent and about 50 resources

[2015-04-29 20:50] TimGS commented on #454
Fixed on branch clipper-1.3.x

[2015-04-29 20:50] #454 closed, assigned to nobody

[2015-05-05 13:56] Cipa opened #455 "ManagerManager is missing some features"
See
http://code.divandesign.biz/modx/mm_ddcreatesection/1.0

Any reason why they are not included? Maybe not compatible with Clipper?

[2015-05-05 16:30] Cipa opened #456 "eform warning"
preg_replace(): The /e modifier is deprecated, use preg_replace_callback instead; File: /home/myworkspot/public_html/sample/manager/includes/protect.inc.php; Line: 42

PHP:5.5.23
![screen shot 2015-05-05 at 12 29 39 pm](https://cloud.githubusercontent.com/assets/293377/7477536/787ae38c-f322-11e4-88e0-ebb13a774d75.png)

[2015-05-05 16:40] TimGS commented on #456
Can you fix and make a pull request on branch clipper-1.3.x?

[2015-05-05 16:41] Cipa commented on #456
not sure this is the best way, can you have a look first

[code]

[2015-05-05 16:44] TimGS commented on #455
Don't know offhand. Never come across mm_ddCreateSection before. Perhaps it post-dates the fork date.

This doesn't really seem like an issue as such, so I'm closing, but if anyone wishes to code/port this to Clipper and it works with no negative side effects, I'm sure it could be merged without any issues.

[2015-05-05 16:44] #455 closed, assigned to nobody

[2015-05-05 16:47] TimGS commented on #456
Hmmm. Which branch is this on?

It doesn't appear to be an issue on clipper-1.3.x and also rings a bell. I think it's been fixed already.

-- Tim.

[2015-05-05 16:48] Cipa commented on #456
these are the lines
 //$value = preg_replace($modxtags, "", $value);
$value = preg_replace_callback($modxtags, 'replaceWithAnEmptyString', $value);

I could not find the fix on develop

[2015-05-05 18:01] Cipa commented on #456
Also, if you want to test this
- make sure you have PHP:5.5.23
- a form using eFrom

For me at least the warnings stopped with the upgrade above, let me know if you need more server details. If you are ok with teh code I will submit a patch

[2015-05-05 18:05] Cipa commented on #456
hold on this, the warning is gone but some other error appeared
I get
 Error:     preg_replace_callback(): Modifier /e cannot be used with replacement callback

Which is weird as there is no /e, I'm sure I am missing something

[2015-05-05 22:57] TimGS commented on #456
commit c336a99c37fea9adf0835500b8101a4a4e7968ca removed the /e modifier from $modxtags in protect.inc.php.

I think something is up with either your system or your diagnosis.

[2015-05-06 13:17] Cipa commented on #456
I did not have an e, which makes things weirder. The Warning only appears when you run the form and I get 11 of them every time I try to submit the form
![screen shot 2015-05-06 at 9 16 13 am](https://cloud.githubusercontent.com/assets/293377/7493618/8fa61f46-f3d0-11e4-820e-f50d2540c716.png)

[2015-05-06 13:50] Cipa commented on #456
Any ideas why the @ character is needed. I could not find anything online about it.

[2015-05-06 14:29] Cipa commented on #456
Found a fix(for me at least)

if I put the modxtags array in the preg_replace call the warning disappears

[code]

Weird as this snippet doesn't seem to cause any warnings

[code]

[2015-05-06 15:23] TimGS commented on #456
The '@' is simply the regular expression delimiter. Convention has it more commonly as '/', but it can be (AFAIK) absolutely anything and is signalled by the first character (or byte perhaps - not sure which) of the regex string.

I wonder if the error reporting is correct in where the error is being reported. Take a closer look at the Eform code.

[2015-05-06 15:33] Cipa commented on #456
I looked at the eform code. I could not find any /e or any includes of protect.inc.
Must be something else

[2015-05-06 16:38] Cipa commented on #456
The problem comes from eform.inc.php line 193, there is an e I missed in my previous searches.
Let me know if you need a pull request

[2015-05-06 16:51] Cipa opened #457 "php mailer should be upgraded, current version uses /e with preg_replace"
See inside EncodeQ function, new version doesn't use preg replace
https://github.com/PHPMailer/PHPMailer/blob/master/class.phpmailer.php

[2015-05-06 17:03] TimGS commented on #456
I will need a pull request to clipper-1.3.x.

[2015-05-06 17:09] Cipa commented on #456
done

On Wed, May 6, 2015 at 1:03 PM, TimGS notifications@github.com wrote:

[2015-09-03 16:53] TimGS commented on #457
Upgraded on clipper-1.3.x.

Can you test? Thanks.

[2015-09-03 16:53] #457 closed, assigned to nobody

[2015-10-02 10:42] #364 closed, assigned to Cipa

[2015-10-02 10:43] TimGS commented on #429
Implemented in DocumentParser::checkPublishStatus()

[2015-10-02 10:43] #429 closed, assigned to TimGS

[2015-10-02 10:46] #447 closed, assigned to nobody

[2015-10-02 10:52] TimGS commented on #314
Tried this. It now seems quite small! Not every user is computer literate enough to enlarge the textbox.

[2015-10-02 10:57] #456 closed, assigned to nobody

[2015-10-02 10:57] #448 closed, assigned to nobody

[2015-10-02 10:59] TimGS commented on #397
I think there may have been some confusion between the file manager under 'Elements -> Manage Files' and kcfinder/mcpuk.

On the assumption (?) that it was kcfinder involved, this should now be fixed (please test!).

[2015-10-02 10:59] #397 closed, assigned to TimGS

[2015-10-05 11:41] ghost opened #458 "Tree icons not loaded correct"
Tree icons are not displayed correct, only default icon is used.
Cause: in manager/tree/nodes.php there is a wrong typo in line 175:
$sql = "SELECT DISTINCT sc.id, pagetitle, template, parent, isfolder, published, deleted, type, menuindex, hidemenu, alias, contentType, privateweb, privatemgr,

contentType has to be lowercase: contentype

[2015-10-05 11:46] ghost opened #459 "Double item in version.inc.php"
Line 9 of version.inc.php:
CMS_RELEASE_NAME is included twice.

[2015-10-05 11:54] #459 closed, assigned to nobody

[2015-10-05 11:54] #458 closed, assigned to nobody

[2015-10-06 18:00] Cipa opened #460 "default value for checkbox TV not working?"
Can someone verify the functionality of setting a default value for a checkbox? When you deselect the value and save then reopen the page, the value is checked

Thank you

![screen shot 2015-10-06 at 10 57 52 am](https://cloud.githubusercontent.com/assets/293377/10317408/1e1383d4-6c19-11e5-88a2-e1eb6aa9cc70.png)

[2015-10-06 19:01] Cipa commented on #460
Seems this is a bug related to the fact that unchecked TV checkboxes are not saved in the site_tmplvar_contentvalues table. I think we need to save even unchecked checkboxes so at least we know if the document was saved at least once.

When a check box is selected the value column will have values like 1 or 1||2 but when no checkbox is checked the row is removed. For checkboxes at least we should

[2015-10-06 19:55] TimGS commented on #460
Is this behaviour the same in:
- Clipper 1.2
- Clipper 1.1
- MODx 1.0.6 ?

[2015-10-07 04:04] Cipa commented on #460
yes for 1.0.5
I don't have the others.

[2015-11-01 22:38] TimGS opened #461 "Misleading error on documents with restricted child templates"
If no child templates are allowed, a privileges error is displayed. Need new error message indicating no children permitted.

Also applies confusingly to child docs of a parent which has had it's children over-restricted. In this case we should proceed but with a different template selected.

[2015-12-04 16:20] kp52 opened #462 "PHP 7 compatibility"
A first and very quick look at PHP 7.0.0 installed on my PC with Windows 7, Apache 2.4 and firing up a local copy of a Clipper 1.3.0 site threw up a few "deprecated" notices (which are set to report an error and halt in my Clipper config) for [PHP 4 style constructors](http://php.net/manual/en/migration70.deprecated.php)

**\manager\includes\extenders\manager.api.class.inc.php on line 11**

**\man

[2016-02-05 12:28] kp52 commented on #462
Fixed in Develop branch for all the constructors I have tracked down in the standard package.
**NB** you need to run **install** to fix **ForgotManagerPassword**, which is stored as a binary in the database.

[2016-02-05 12:28] #462 closed, assigned to nobody

[2016-03-17 22:12] TimGS opened #464 "DocumentParser::parseDocumentSource overwrites $modx->documentOutput"
This is a problem for plugins calling this method that are attached to OnWebPagePrerender

[2016-05-12 15:48] kp52 opened #465 "Incompatibility with MySQL 5.7"
Recently installed local web server has Xubuntu 16.04, PHP 5.6, Apache 2.4 and **MySQL 5.7.12**.

Editing local copy of sites, TVs don't show up in the Edit screen, and changes are not saved. No error is displayed, but the log contains "parse errors" such as:

Apparently caused by deprecated features in MySQL 5.7, where "ONLY_FULL_GROUP_BY" is a default setting. cf [related MODX Revolution issue ]

[2016-05-18 20:42] TimGS commented on #465
As a workaround, can we run SET SESSION sql_mode = '' after connecting to the database?

[2016-08-22 15:43] kp52 opened #467 "unpub_date setting ineffective in Clipper 1.3.1"
SQL query starting on line 858 needs to retrieve the `published` field for the test on line 864 to be meaningful. Otherwise published items due for unpublishing continue to be marked as published.

Change
`$results = $this->db->makeArray($this->db->query("SELECT id FROM {$this->getFullTableName('site_content')}`
to
`$results = $this->db->makeArray($this->db->query("SELECT id, published FROM {$this

[2016-08-22 15:51] kp52 opened #468 "Clipper 1.3.1 version file still reads 1.3.0"
Version number and date in version.inc.php need updating

[2016-08-22 16:13] TimGS commented on #467
Filename?

[2016-08-22 16:21] TimGS commented on #468
Fixed.
-- Tim.

[2016-08-22 16:21] #468 closed, assigned to nobody

[2016-08-22 20:30] kp52 commented on #467
`document.parser.class.inc.php`

[2016-10-11 19:16] kp52 opened #469 "Clipper 1.3.1: phpmailer 5.2.12 SMTP autoloader issue"
Upgrade from v 5.2 of phpmailer in Clipper 1.3.0 to v 5.2.12 in Clipper 1.3.1 means you are required to include the SMTP class file explicitly or set up an autoloader, if you want to use SMTP.

From notes accompanying release PHPMailer 5.2.9:

I'm not familiar with autoloaders, but I found that adding the PHPMailer project's [PHPMailerAutoload.php](https://github.com/PHPMailer/PHPMailer/blob/maste

[2016-10-11 20:27] TimGS commented on #469
Can you submit a pull request to develop?
ta,
-- Tim.

[2016-10-12 13:10] kp52 commented on #469
Will do that

[2016-10-12 20:33] #467 closed, assigned to nobody

[2016-10-12 20:34] TimGS commented on #469
Pull request merged.

[2016-10-12 20:34] #469 closed, assigned to nobody

[2016-10-20 15:30] kp52 opened #471 "DocumentParser::checkPublishStatus republishes some auto-unpublished docs"
If a resource has both a "publish on" date and an "unpublish on" date, it is published on the former and unpublished on the latter, but the next time the date in the sitePublishing.idx.php sets off checkPublishStatus, the resource is published again, as the publish on date is still there, and the unpublish date is not examined. It probably bounces back and forth between the two states at each run

[2016-11-28 20:02] kp52 commented on #471
Confirmed this is what happens. Need to clear the pub_date | unpub_date field after it's activated. If a record of when things were auto (un)published is needed, it can be created using the OnDocPublished and OnDocUnpublished events to fire a plugin.

[2016-11-28 21:00] TimGS commented on #453
Couldn't reproduce myself, but multiple reports now. Fixed on develop.

[2016-11-28 21:00] #453 closed, assigned to nobody

[2016-11-28 21:01] #450 closed, assigned to nobody

[2016-11-28 21:01] #449 closed, assigned to nobody

[2016-11-28 21:04] TimGS commented on #445
Happy to take a pull request, but won't be updating it myself at this stage in development.

[2016-11-28 21:04] #445 closed, assigned to nobody

[2016-11-28 21:07] TimGS commented on #395
Probably won't upgrade beyond v3 now. Happy to take pull requests though if tested.

[2016-11-28 21:07] #395 closed, assigned to nobody

[2016-11-28 21:08] #382 closed, assigned to microcipcip

[2016-11-28 21:10] #189 closed, assigned to Cipa

[2016-11-28 21:10] #2 closed, assigned to nobody

[2016-11-28 21:10] #3 closed, assigned to TimGS

[2016-11-28 21:11] #4 closed, assigned to TimGS

[2016-11-28 21:12] #12 closed, assigned to nobody

[2016-11-28 21:12] #115 closed, assigned to microcipcip

[2016-11-28 21:12] #124 closed, assigned to TimGS

[2016-11-28 21:13] #145 closed, assigned to nobody

[2016-11-28 21:14] #98 closed, assigned to TimGS

[2016-11-28 21:14] #27 closed, assigned to nobody

[2016-11-28 21:14] #193 closed, assigned to TimGS

[2016-11-28 21:15] #197 closed, assigned to microcipcip

[2016-11-28 21:15] #198 closed, assigned to nobody

[2016-11-28 21:15] #200 closed, assigned to TimGS

[2016-11-28 21:16] #256 closed, assigned to TimGS

[2016-11-28 21:16] #229 closed, assigned to microcipcip

[2016-11-28 21:16] #316 closed, assigned to nobody

[2016-11-28 21:17] #314 closed, assigned to nobody

[2016-11-28 21:17] #323 closed, assigned to microcipcip

[2016-11-28 21:18] #369 closed, assigned to nobody

[2016-11-28 21:19] TimGS commented on #304
Bug, but one to live with at this stage in development.

[2016-11-28 21:19] #304 closed, assigned to TimGS

[2016-11-28 21:20] TimGS commented on #361
Desirable enhancement, but unlikely to be implemented now.

[2016-11-28 21:20] #361 closed, assigned to Cipa

[2016-11-28 21:20] TimGS commented on #360
Will accept pull requests, but wontfix otherwise.

[2016-11-28 21:20] #360 closed, assigned to Cipa

[2016-11-28 21:21] TimGS commented on #338
Desirable enhancement, but unlilkely to happen at this stage.

[2016-11-28 21:21] #338 closed, assigned to TimGS

[2016-11-28 21:23] #372 closed, assigned to nobody

[2016-11-29 18:04] kp52 opened #473 "New feature: required to list valid servers in Configuration"
After installing the current Develop branch (soon to be 1.3.3), you need to list the valid names of the servers on which the site will run in the configuration. Otherwise you end up with a blank screen on the web side of things, like I did when I sailed through a test installation without really looking.

[2016-11-29 18:51] TimGS commented on #473
Ah OK. To be honest at this point in Clipper development (or non-development) I'm not too worried. I think people are presented with the config settings when they log in to the backend after any upgrade, which is at least a hint that they should check them.

Pull requests to fix will be accepted though.

[2016-11-29 18:51] #471 closed, assigned to kp52

[2016-11-29 21:11] TimGS commented on #465
I think this is half fixed. It's in the DBAPI, but the installer still has a warning, now incorrect.

[2016-11-29 21:37] TimGS commented on #465
install/ now updated.

[2016-11-29 21:37] #465 closed, assigned to nobody

[2017-11-09 12:39] gd-99 opened #481 "Solved: ClipperCMS using https with a custom port number"
Issue: When accessing a new install of ClipperCMS (version form guthub 2017-11-07) using https and a custom port (8443) the CMS home page went to a simple template. The Manager section offered a login page. After a successful login the manager home page was redirected to the correct URL but with the custom port number stripped off - i.e used the HTTPS default 443. This results in a page indicating

[2017-11-09 12:39] #481 closed, assigned to nobody

[2017-11-09 15:27] kp52 opened #482 "ClipperCMS forum registration"
Automated registration on the ClipperCMS forum has been disabled due to the high volume of spammer attempts to abuse it. If you are genuinely interested in Clipper and would like to be registered on the forum, please send an email stating your preferred user ID to the clippercms@gmail account with "Registration request" in the subject line.

[2018-05-22 12:33] nathunandwani opened #483 "Persistent XSS on 'Site name' field (site_name)"
Stored cross-site scripting (XSS) vulnerability in the "Site Name" field found in the "site" tab under configurations in ClipperCMS 1.3.3 allows remote attackers to inject arbitrary web script or HTML via a crafted site name by doing an authenticated POST HTTP request to ClipperCMS/manager/processors/save_settings.processor.php.

This vulnerability is specifically the "Site Name" field found under

[2018-05-27 16:07] ismailtasdelen opened #484 "clipperCMS - You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, ALTER, INDEX, DROP ON clipper.* TO' at line 2"
Hello Team,

MySQL Error Message :

#1064 - You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, ALTER, INDEX, DROP ON clipper.* TO' at line 2

![image](https://user-images.githubusercontent.com/15425071/40588086-f2b26212-61e0-11e8-813c-b775c924b596.png)

SQL Query :

C

[2018-05-28 09:35] kp52 commented on #484
If this is during initial installation, a semicolon is missing at end of first command in action.connection.php. Will update in due course.

[2018-05-29 20:38] ismailtasdelen commented on #484
Many thanks for the return 👍

[2018-05-30 10:45] AnusyaAngamuthu opened #485 "Stored XSS in Module name field"
Stored XSS is found in the "Module name" field in CMS Clipper_1.3.3 version.The module name value is obtained from the user,it is getting saved and displayed without any sanitation.
Affected URL:
http://localhost/ClipperCMS-clipper_1.3.3/manager/
Steps to reproduce:
1.Under Modules choose Manage modules->edit
2.Enter the XSS payload in "Module name field and save it.
3.The script is getting execut

[2018-05-30 10:58] AnusyaAngamuthu opened #486 "Session Fixation"
Clipper CMS 1.3.3 is vulnerable to session fixation attack.
1.The Session Fixation attack fixes an established session on the victim's browser, so the attack starts before the user logs in.
2.Session Fixation is an attack that permits an attacker to hijack a valid user session. The attack explores a limitation in the way the web application manages the session ID, more specifically the vulnerable

[2018-06-10 20:09] prasadlingamaiah opened #487 "Reflected Cross Site Scripting in CMS Clipper_1.3.3"
XSS is found in the "Security -->>Webusers" field in CMS Clipper_1.3.3 version. The Security name value is obtained from the webusers, having search parameter for user list. it is getting reflected and displayed without any sanitation.
Affected URL:
http://127.0.0.1:880/ClipperCMS-clipper_1.3.3/manager/
Steps to POC:
1. access the URL http://127.0.0.1:880/ClipperCMS-clipper_1.3.3/manager/
2. Under

[2018-06-10 20:32] prasadlingamaiah opened #488 "Stored Cross Site Scripting in CMS Clipper_1.3.3"
Stored XSS is found in the "Manager Permissions" field in CMS Clipper_1.3.3 version. The Manager Permissions value is obtained from the User Groups, Resource Groups and Users/resource group links. which having adding users list and groups list. it is getting stored and displayed without any sanitation.
Affected URL:
http://127.0.0.1:880/ClipperCMS-clipper_1.3.3/manager/

**Steps to POC:**
1. acces

[2018-07-03 13:32] PrincyEdward opened #489 "Stored XSS is found in CMS Clipper_1.3.3 version"
Affected Version : Clipper_1.3.3
Affected URL:
http://{host}/ClipperCMS-clipper_1.3.3/manager/
Steps to POC:
    1. Under Tools -> Configuration
Found multiple stored XSS
valid_hostnames=%22%3Cscript%3Ealert%281%29%22%3C%2Fscript%3E&modx_charset=iso-8859-1&xhtml_urls=1&site_start=1%22%3Cscript%3Ea&error_page=1%22%3Cscript%3Ea&unauthorized_page=1%22%3Cscript%3Ea&site_status=1&site_unavailable_page=

[2018-07-11 04:28] chhaipov opened #490 "Unverified Password Change"
Hello,

I see that password changer does not require knowledge of original password when setting up a new password for users. Anyone who is having access to user account, stealing user’s session, or having user’s cookies can potentially change the password.

[https://github.com/ClipperCMS/ClipperCMS/blob/develop/manager/actions/mutate_password.dynamic.php
](url)

**Screenshot**

![image](https://u

[2018-07-11 07:49] Chakvai opened #491 "Another stored XSS in Full name field of ClipperCMS 1.3.3"
Hello

I still found some Stored XSS even though many XSS issues were reported in this CMS. They are in Full Name field of user under Security -> Manager Users tab and Security -> Web Users which allow authenticated attacker (who has user management role) to inject/store malicious script inside Full name field. The script will be executed once Manager Users or Web Users page is accessed.

**Steps

[2018-07-16 14:19] PrincyEdward opened #492 "Stored Xss in ClipperCMS 1.3.3 via newusername parameter"
Affected Version : Clipper_1.3.3
Affected URL: http://{host}/ClipperCMS-clipper_1.3.3/manager/

**Steps to POC:**
1.Go to Security -> Manager Users or Security -> Web Users tab
2.Add new user or edit existing user
3.Under general ->Changename -> In Username field, input XSS payload and save
4.Visit Security -> Manager Users or Web Uses, the payload will be executed

POST /princy/clipper_1.3.3/Clip

[2018-10-04 15:43] cimt opened #493 "Clipper and PHP 7.2"
Is Clipper running under PHP 7.2?
I do not want to switch to another system yet.
Is there maybe an update?
or just security updates?

[2018-10-04 15:59] kp52 commented on #493
Some updates would be needed to run under PHP 7.2.
I'm not currently planning to do any work on this - I am transferring my sites to Processwire + Latte templates.

[2018-10-07 03:43] cimt commented on #493
ok, thank you.

[2018-11-10 18:21] ameerpornillos opened #494 "ClipperCMS 1.3.3 File Upload CSRF Vulnerability"
Hi,

This is regarding the **ClipperCMS 1.3.3 File Upload CSRF Vulnerability** that I already reported by sending a direct email last August 27, 2018 regarding this issue and followed up on September 4, 2018 and September 10, 2018 but haven't received any reply.

**ClipperCMS 1.3.3** does not have CSRF protection on its kcfinder file upload which is being used by default. This can be used by an at

[2018-11-10 19:43] TimGS commented on #494
I'm not sure if anyone is receiving emails on the ClipperCMS email address anymore - I don't know but I suspect not.

Is this reproducible without being logged in?

[2018-11-11 01:21] ameerpornillos commented on #494
Hi TimGS, admin (or user with file upload capability) should be logged in order for attack to work and is not reproducible without being logged in. Thanks by the way for the comment.

[2018-11-12 07:56] fgeek commented on #483
CVE-2018-11332 has been assigned for this vulnerability.

[2018-11-12 07:59] fgeek commented on #486
CVE-2018-11571 has been assigned for this vulnerability.

[2018-11-12 07:59] fgeek commented on #485
CVE-2018-11572 has been assigned for this vulnerability.

[2018-11-12 08:00] fgeek commented on #489
CVE-2018-13106 has been assigned for this vulnerability.

[2018-11-12 08:00] fgeek commented on #494
CVE-2018-19135 has been assigned for this vulnerability.

[2018-11-14 08:19] Hexife opened #495 "ClipperCMS 1.3.3 allows to upload htaccess file in default setting."
**Brief of this vulnerability**
  ClipperCMS allows to upload .htaccess. It is able to execute the any types of the extensions as PHP scripts.

**Test Environment**
- Apache/2.4.18 (Debian)
- PHP 5.6.38-2+ubuntu16.04.1+deb.sury.org+1 (cli)

**Affect version**
  1.3.3

**Reason of This Vulnerability**
.htaccess is allowed to upload in your default whitelist.

It should be removed in default whiteli

[2018-11-22 00:37] Hexife commented on #495
I got the CVE for this vulnerability - CVE-2018-19424.

[2019-08-02 07:41] prasadlingamaiah commented on #488
any update on this vulnerability

[2019-08-02 07:41] prasadlingamaiah commented on #487
any update on this vulnerability

[2019-08-05 20:58] prasadlingamaiah opened #496 "HTML injection is found in CMS Clipper_1.3.3 version"
HTML injection found in the "User Groups" field in CMS Clipper_1.3.3 version.The module name value is obtained from the user,it is getting saved and displayed without any sanitation.
**Affected URL:**
http://<host>/ClipperCMS-clipper_1.3.3/manager/

**Steps to reproduce:**
1.Under Security >> Manager Permissions -->> User Groups

2. Create New user group using
"><h1>This is Prasad Lingamaiah</h1>!

[2019-08-16 12:14] Invi0sible opened #497 "ClipperCMS 1.3.3 Arbitrary file upload Getshell"
Steps To Reproduce:
1. Login to the backstage as the admin;
2. add "php" as "Uploadable File Types"
Tools->Configuration->Uploadable File Types
![image](https://user-images.githubusercontent.com/33925178/63166690-c0c4e280-c061-11e9-9b75-57ef421302b0.png)

3. POST shell data via /ClipperCMS/manager/index.php
POST /ClipperCMS/manager/index.php?a=31 HTTP/1.1
Host: 192.168.199.243
User-Agent: Mozilla/

[2019-08-16 14:50] Invi0sible opened #498 "ClipperCMS 1.3.3 Arbitrary file upload Getshell"
Steps To Reproduce:
1.Login to the backstage as the admin;
2.change Configuration: add "php" to  "Uploadable Images Types" , and Change "mcpuk" as File browser
![image](https://user-images.githubusercontent.com/33925178/63175623-f7592800-c076-11e9-9e64-366c89f6deca.png)
3. open FCKeditor to insert image
![image](https://user-images.githubusercontent.com/33925178/63175822-633b9080-c077-11e9-9823-13